    { "attackExtendedRange", "TRUE" },
    { "attackRange", "341.275055" },
    { "creditReserve", "0.000000" },
    { "evadeFighters", "FALSE" },
    { "evadeRange", "-1.000000" },
    { "evadeStrictDistance", "26.232450" },
    { "evadeUseStrictDistance", "FALSE" },
    { "gatherAbandonStale", "FALSE" },
    { "guardRange", "0.000000" },
    { "input[0].crowdType", "NEURAL_CROWD_BASE_ENEMY_SHIP" },
    { "input[0].filterAdvance", "FALSE" },
    { "input[0].filterBackward", "TRUE" },
    { "input[0].filterForceValue", "FALSE" },
    { "input[0].filterForward", "TRUE" },
    { "input[0].filterRange", "TRUE" },
    { "input[0].filterRetreat", "TRUE" },
    { "input[0].forceType", "NEURAL_FORCE_ALIGN" },
    { "input[0].index", "1" },
    { "input[0].numSquads", "1" },
    { "input[0].radius", "-1.000000" },
    { "input[0].range", "-0.950000" },
    { "input[0].scalarID", "30" },
    { "input[0].seed", "0" },
    { "input[0].squadType", "NEURAL_SQUAD_NONE" },
    { "input[0].useBase", "TRUE" },
    { "input[0].useTangent", "TRUE" },
    { "input[0].valueType", "NEURAL_VALUE_RANDOM_UNIT" },
    { "input[0].waveType", "NEURAL_WAVE_UNIT_SINE" },
    { "input[1].crowdType", "NEURAL_CROWD_NET_ENEMY_SHIP" },
    { "input[1].filterAdvance", "FALSE" },
    { "input[1].filterBackward", "TRUE" },
    { "input[1].filterForceValue", "TRUE" },
    { "input[1].filterForward", "FALSE" },
    { "input[1].filterRange", "TRUE" },
    { "input[1].filterRetreat", "TRUE" },
    { "input[1].forceType", "NEURAL_FORCE_ADVANCE_ENEMY_ALIGN" },
    { "input[1].index", "1" },
    { "input[1].numSquads", "-1" },
    { "input[1].radius", "0.000000" },
    { "input[1].range", "0.000000" },
    { "input[1].scalarID", "7" },
    { "input[1].seed", "9" },
    { "input[1].squadType", "NEURAL_SQUAD_POWER_DOWN" },
    { "input[1].useBase", "FALSE" },
    { "input[1].useTangent", "FALSE" },
    { "input[1].valueType", "NEURAL_VALUE_CROWD" },
    { "input[1].waveType", "NEURAL_WAVE_FMOD" },
    { "input[2].crowdType", "NEURAL_CROWD_BASE_FRIEND_SHIP" },
    { "input[2].filterAdvance", "FALSE" },
    { "input[2].filterBackward", "FALSE" },
    { "input[2].filterForceValue", "FALSE" },
    { "input[2].filterForward", "TRUE" },
    { "input[2].filterRange", "TRUE" },
    { "input[2].filterRetreat", "TRUE" },
    { "input[2].forceType", "NEURAL_FORCE_BACKWARD_SEPARATE" },
    { "input[2].frequency", "-1.000000" },
    { "input[2].index", "4" },
    { "input[2].numSquads", "1" },
    { "input[2].radius", "0.000000" },
    { "input[2].range", "0.000000" },
    { "input[2].scalarID", "19" },
    { "input[2].seed", "-1" },
    { "input[2].squadType", "NEURAL_SQUAD_EQUAL_PARTITIONS" },
    { "input[2].useBase", "TRUE" },
    { "input[2].useTangent", "FALSE" },
    { "input[2].valueType", "NEURAL_VALUE_CROWD" },
    { "input[2].waveType", "NEURAL_WAVE_ABS_SINE" },
    { "input[3].crowdType", "NEURAL_CROWD_CORES" },
    { "input[3].filterAdvance", "FALSE" },
    { "input[3].filterBackward", "TRUE" },
    { "input[3].filterForceValue", "FALSE" },
    { "input[3].filterForward", "TRUE" },
    { "input[3].filterRange", "TRUE" },
    { "input[3].filterRetreat", "FALSE" },
    { "input[3].forceType", "NEURAL_FORCE_BACKWARD_COHERE" },
    { "input[3].index", "0" },
    { "input[3].numSquads", "3" },
    { "input[3].radius", "0.000000" },
    { "input[3].range", "0.000000" },
    { "input[3].scalarID", "1" },
    { "input[3].seed", "1" },
    { "input[3].squadType", "NEURAL_SQUAD_POWER_UP" },
    { "input[3].useBase", "TRUE" },
    { "input[3].useTangent", "FALSE" },
    { "input[3].valueType", "NEURAL_VALUE_ONE" },
    { "input[3].waveType", "NEURAL_WAVE_ABS_SINE" },
    { "input[4].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "input[4].filterAdvance", "FALSE" },
    { "input[4].filterBackward", "TRUE" },
    { "input[4].filterForceValue", "FALSE" },
    { "input[4].filterForward", "FALSE" },
    { "input[4].filterRange", "TRUE" },
    { "input[4].filterRetreat", "FALSE" },
    { "input[4].forceType", "NEURAL_FORCE_NEXT_LOCUS" },
    { "input[4].frequency", "0.000000" },
    { "input[4].index", "0" },
    { "input[4].numSquads", "-1" },
    { "input[4].radius", "0.000000" },
    { "input[4].range", "0.000000" },
    { "input[4].scalarID", "1" },
    { "input[4].seed", "1" },
    { "input[4].squadType", "NEURAL_SQUAD_POWER_UP" },
    { "input[4].useBase", "TRUE" },
    { "input[4].useTangent", "TRUE" },
    { "input[4].valueType", "NEURAL_VALUE_FRIEND_MISSILES" },
    { "input[4].waveType", "NEURAL_WAVE_NONE" },
    { "input[5].crowdType", "NEURAL_CROWD_CORES" },
    { "input[5].filterAdvance", "FALSE" },
    { "input[5].filterBackward", "TRUE" },
    { "input[5].filterForceValue", "TRUE" },
    { "input[5].filterForward", "TRUE" },
    { "input[5].filterRange", "TRUE" },
    { "input[5].filterRetreat", "TRUE" },
    { "input[5].forceType", "NEURAL_FORCE_FORWARD_ENEMY_COHERE" },
    { "input[5].frequency", "0.000000" },
    { "input[5].index", "1" },
    { "input[5].numSquads", "0" },
    { "input[5].radius", "0.000000" },
    { "input[5].range", "0.000000" },
    { "input[5].scalarID", "6" },
    { "input[5].seed", "1" },
    { "input[5].squadType", "NEURAL_SQUAD_POWER_UP" },
    { "input[5].useBase", "FALSE" },
    { "input[5].useTangent", "TRUE" },
    { "input[5].valueType", "NEURAL_VALUE_FORCE" },
    { "input[5].waveType", "NEURAL_WAVE_SINE" },
    { "input[6].crowdType", "NEURAL_CROWD_NET_FRIEND_SHIP" },
    { "input[6].filterAdvance", "FALSE" },
    { "input[6].filterBackward", "FALSE" },
    { "input[6].filterForceValue", "FALSE" },
    { "input[6].filterForward", "FALSE" },
    { "input[6].filterRange", "TRUE" },
    { "input[6].filterRetreat", "TRUE" },
    { "input[6].forceType", "NEURAL_FORCE_HEADING" },
    { "input[6].frequency", "0.000000" },
    { "input[6].index", "0" },
    { "input[6].numSquads", "0" },
    { "input[6].radius", "1487.273315" },
    { "input[6].range", "0.000000" },
    { "input[6].scalarID", "3" },
    { "input[6].seed", "7" },
    { "input[6].squadType", "NEURAL_SQUAD_POWER_DOWN" },
    { "input[6].useBase", "TRUE" },
    { "input[6].useTangent", "TRUE" },
    { "input[6].valueType", "NEURAL_VALUE_ENEMY_SHIPS" },
    { "input[6].waveType", "NEURAL_WAVE_ABS_SINE" },
    { "input[7].crowdType", "NEURAL_CROWD_FRIEND_CORES" },
    { "input[7].filterAdvance", "FALSE" },
    { "input[7].filterBackward", "FALSE" },
    { "input[7].filterForceValue", "FALSE" },
    { "input[7].filterForward", "TRUE" },
    { "input[7].filterRange", "TRUE" },
    { "input[7].filterRetreat", "FALSE" },
    { "input[7].forceType", "NEURAL_FORCE_MOB_BASE_SHELL" },
    { "input[7].index", "8" },
    { "input[7].numSquads", "5" },
    { "input[7].radius", "0.000000" },
    { "input[7].range", "0.000000" },
    { "input[7].scalarID", "0" },
    { "input[7].seed", "1" },
    { "input[7].squadType", "NEURAL_SQUAD_NONE" },
    { "input[7].useBase", "TRUE" },
    { "input[7].useTangent", "TRUE" },
    { "input[7].valueType", "NEURAL_VALUE_CROWD" },
    { "input[7].waveType", "NEURAL_WAVE_FMOD" },
    { "output[0].combiner.combinerType", "NEURAL_CT_ASSIGN" },
    { "output[0].filterAdvance", "TRUE" },
    { "output[0].filterBackward", "FALSE" },
    { "output[0].filterForceValue", "FALSE" },
    { "output[0].filterForward", "FALSE" },
    { "output[0].filterRange", "TRUE" },
    { "output[0].filterRetreat", "FALSE" },
    { "output[0].forceType", "NEURAL_FORCE_FORWARD_ENEMY_COHERE" },
    { "output[0].index", "3" },
    { "output[0].radius", "0.000000" },
    { "output[0].range", "0.000000" },
    { "output[0].useBase", "TRUE" },
    { "output[0].useTangent", "FALSE" },
    { "output[0].valueType", "NEURAL_VALUE_FORCE" },
    { "output[1].combiner.combinerType", "NEURAL_CT_ASSIGN" },
    { "output[1].filterAdvance", "TRUE" },
    { "output[1].filterBackward", "TRUE" },
    { "output[1].filterForceValue", "FALSE" },
    { "output[1].filterForward", "TRUE" },
    { "output[1].filterRange", "TRUE" },
    { "output[1].filterRetreat", "TRUE" },
    { "output[1].forceType", "NEURAL_FORCE_MOB_CENTER_SHELL" },
    { "output[1].index", "-1" },
    { "output[1].radius", "299.006256" },
    { "output[1].range", "-1.000000" },
    { "output[1].useBase", "TRUE" },
    { "output[1].useTangent", "TRUE" },
    { "output[1].valueType", "NEURAL_VALUE_FORCE" },
    { "output[2].combiner.combinerType", "NEURAL_CT_ASSIGN" },
    { "output[2].filterAdvance", "FALSE" },
    { "output[2].filterBackward", "TRUE" },
    { "output[2].filterForceValue", "FALSE" },
    { "output[2].filterForward", "TRUE" },
    { "output[2].filterRange", "TRUE" },
    { "output[2].filterRetreat", "FALSE" },
    { "output[2].forceType", "NEURAL_FORCE_ADVANCE_SEPARATE" },
    { "output[2].index", "8" },
    { "output[2].radius", "-1.000000" },
    { "output[2].range", "0.000000" },
    { "output[2].useBase", "FALSE" },
    { "output[2].useTangent", "FALSE" },
    { "output[2].valueType", "NEURAL_VALUE_FORCE" },
    { "output[3].combiner.combinerType", "NEURAL_CT_VOID" },
    { "output[3].filterAdvance", "FALSE" },
    { "output[3].filterBackward", "FALSE" },
    { "output[3].filterForceValue", "TRUE" },
    { "output[3].filterForward", "FALSE" },
    { "output[3].filterRange", "FALSE" },
    { "output[3].filterRetreat", "FALSE" },
    { "output[3].forceType", "NEURAL_FORCE_MOB_BASE_SHELL" },
    { "output[3].index", "-1" },
    { "output[3].radius", "153.014389" },
    { "output[3].range", "143.221115" },
    { "output[3].useBase", "FALSE" },
    { "output[3].useTangent", "FALSE" },
    { "output[3].valueType", "NEURAL_VALUE_FORCE" },
    { "output[4].combiner.combinerType", "NEURAL_CT_MULTIPLY" },
    { "output[4].filterAdvance", "TRUE" },
    { "output[4].filterBackward", "FALSE" },
    { "output[4].filterForceValue", "TRUE" },
    { "output[4].filterForward", "TRUE" },
    { "output[4].filterRange", "FALSE" },
    { "output[4].filterRetreat", "TRUE" },
    { "output[4].forceType", "NEURAL_FORCE_FORWARD_SEPARATE" },
    { "output[4].index", "6" },
    { "output[4].radius", "-1.000000" },
    { "output[4].range", "0.000000" },
    { "output[4].useBase", "TRUE" },
    { "output[4].useTangent", "TRUE" },
    { "output[4].valueType", "NEURAL_VALUE_FORCE" },
    { "output[5].combiner.combinerType", "NEURAL_CT_MULTIPLY" },
    { "output[5].filterAdvance", "TRUE" },
    { "output[5].filterBackward", "FALSE" },
    { "output[5].filterForceValue", "TRUE" },
    { "output[5].filterForward", "TRUE" },
    { "output[5].filterRange", "TRUE" },
    { "output[5].filterRetreat", "TRUE" },
    { "output[5].forceType", "NEURAL_FORCE_FORWARD_ENEMY_ALIGN" },
    { "output[5].index", "-1" },
    { "output[5].radius", "-1.000000" },
    { "output[5].range", "0.000000" },
    { "output[5].useBase", "FALSE" },
    { "output[5].useTangent", "TRUE" },
    { "output[5].valueType", "NEURAL_VALUE_FORCE" },
    { "output[6].combiner.combinerType", "NEURAL_CT_VOID" },
    { "output[6].filterAdvance", "FALSE" },
    { "output[6].filterBackward", "TRUE" },
    { "output[6].filterForceValue", "TRUE" },
    { "output[6].filterForward", "TRUE" },
    { "output[6].filterRange", "TRUE" },
    { "output[6].filterRetreat", "FALSE" },
    { "output[6].forceType", "NEURAL_FORCE_RETREAT_ENEMY_MISSILE_ALIGN" },
    { "output[6].index", "1" },
    { "output[6].radius", "0.000000" },
    { "output[6].range", "150.566132" },
    { "output[6].useBase", "TRUE" },
    { "output[6].useTangent", "TRUE" },
    { "output[6].valueType", "NEURAL_VALUE_FORCE" },
    { "output[7].combiner.combinerType", "NEURAL_CT_MULTIPLY" },
    { "output[7].filterAdvance", "FALSE" },
    { "output[7].filterBackward", "FALSE" },
    { "output[7].filterForceValue", "TRUE" },
    { "output[7].filterForward", "FALSE" },
    { "output[7].filterRange", "FALSE" },
    { "output[7].filterRetreat", "TRUE" },
    { "output[7].forceType", "NEURAL_FORCE_ADVANCE_ALIGN" },
    { "output[7].index", "1" },
    { "output[7].radius", "0.000000" },
    { "output[7].range", "153.772156" },
    { "output[7].useBase", "TRUE" },
    { "output[7].useTangent", "FALSE" },
    { "output[7].valueType", "NEURAL_VALUE_FORCE" },
    { "rotateStartingAngle", "FALSE" },
    { "sensorGrid.mapping.recentlyScannedMoveFocusTicks", "543.143738" },
    { "sensorGrid.mapping.recentlyScannedResetTicks", "0.000000" },
    { "sensorGrid.staleCoreTime", "0.000000" },
    { "startingMaxRadius", "1595.485596" },
    { "startingMinRadius", "353.992432" },
    { "weight[0]", "{7.018668, 9.500000, 7.053807, 10.000000, 0.794669, 3.283715, 2.854172, 2.003568, }" },
    { "weight[1]", "{7.834659, 2.188006, 6.341094, 2.018640, 5.366315, 10.000000, 10.000000, 4.564626, }" },
    { "weight[2]", "{10.000000, 7.647602, 7.967782, 3.948657, 7.926960, 1.908383, 1.653269, 10.000000, }" },
    { "weight[3]", "{6.798329, 0.042080, 4.833679, 5.094744, 7.629589, 3.286912, 3.931890, 9.012639, }" },
    { "weight[4]", "{2.153354, 5.021628, 1.081909, 9.480351, 4.056613, 1.175773, 8.560316, 2.191932, }" },
    { "weight[5]", "{3.257692, 9.456760, 9.040881, 10.000000, 7.137197, 6.918767, 3.594589, 9.408781, }" },
    { "weight[6]", "{1.142325, 4.541632, 0.104476, 3.797400, 4.173030, 10.000000, 0.268338, 5.992911, }" },
    { "weight[7]", "{8.968438, 5.536802, 5.034990, 7.342834, 6.216085, 5.780110, 7.868205, 4.681383, }" },
