    { "attackExtendedRange", "TRUE" },
    { "attackRange", "126.515465" },
    { "creditReserve", "0.000000" },
    { "evadeFighters", "FALSE" },
    { "evadeRange", "220.050980" },
    { "evadeStrictDistance", "112.318771" },
    { "evadeUseStrictDistance", "FALSE" },
    { "shipNet.fn.node[100].inputs", "{0, 65, 48, 20, }" },
    { "shipNet.fn.node[100].op", "ML_FOP_Nx1_DIV_SUM" },
    { "shipNet.fn.node[100].params", "{1.050000, 3.157942, 0.290901, 0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[101].inputs", "{89, 8, 63, }" },
    { "shipNet.fn.node[101].op", "ML_FOP_1xN_SELECT_UNIT_INTERVAL_LERP" },
    { "shipNet.fn.node[101].params", "{1.000000, }" },
    { "shipNet.fn.node[102].inputs", "{24, 42, 101, 98, 32, 6, 22, }" },
    { "shipNet.fn.node[102].op", "ML_FOP_NxN_SELECT_UNIT_INTERVAL_WEIGHTED_STEP" },
    { "shipNet.fn.node[102].params", "{1.549154, 0.000000, 2.486770, 17069.486328, 1.000000, }" },
    { "shipNet.fn.node[103].inputs", "{97, 89, 54, 99, 10, 28, }" },
    { "shipNet.fn.node[103].op", "ML_FOP_Nx0_PRODUCT" },
    { "shipNet.fn.node[103].params", "{2074.110107, 1577.410767, 30.000000, 1.000000, 2.559829, 1542.321899, 1.050000, 0.000000, }" },
    { "shipNet.fn.node[104].inputs", "{21, 57, }" },
    { "shipNet.fn.node[104].op", "ML_FOP_Nx0_SELECT_UNIT_INTERVAL_STEP" },
    { "shipNet.fn.node[104].params", "{147.082001, }" },
    { "shipNet.fn.node[105].inputs", "{14, 11, 20, 82, }" },
    { "shipNet.fn.node[105].op", "ML_FOP_0x0_ONE" },
    { "shipNet.fn.node[105].params", "{0.000000, 0.000000, 0.950000, 1.000000, 0.000000, }" },
    { "shipNet.fn.node[106].inputs", "{}" },
    { "shipNet.fn.node[106].op", "ML_FOP_Nx0_DIV_SUM" },
    { "shipNet.fn.node[106].params", "{0.000000, 0.000000, 0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[107].inputs", "{37, }" },
    { "shipNet.fn.node[107].op", "ML_FOP_1x1_POW" },
    { "shipNet.fn.node[107].params", "{0.098196, 162.001144, }" },
    { "shipNet.fn.node[108].inputs", "{66, 71, }" },
    { "shipNet.fn.node[108].op", "ML_FOP_2x0_SQUARE_SUM" },
    { "shipNet.fn.node[108].params", "{0.102480, 0.025149, 1.000000, }" },
    { "shipNet.fn.node[109].inputs", "{30, 52, 80, 31, 85, 35, }" },
    { "shipNet.fn.node[109].op", "ML_FOP_0x0_ZERO" },
    { "shipNet.fn.node[109].params", "{1.000000, 3.614649, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[110].inputs", "{73, 98, 25, 97, 61, 66, 13, }" },
    { "shipNet.fn.node[110].op", "ML_FOP_1x2_COSINE" },
    { "shipNet.fn.node[110].params", "{0.000000, 0.000000, 0.000000, 1.000000, 1.535785, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[111].inputs", "{67, 85, 74, }" },
    { "shipNet.fn.node[111].op", "ML_FOP_1x2_COSINE" },
    { "shipNet.fn.node[111].params", "{}" },
    { "shipNet.fn.node[112].inputs", "{15, 52, 32, }" },
    { "shipNet.fn.node[112].op", "ML_FOP_1x0_ABS_SINE" },
    { "shipNet.fn.node[112].params", "{1488.736206, 0.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[113].inputs", "{41, 80, 33, 78, 73, }" },
    { "shipNet.fn.node[113].op", "ML_FOP_3x2_IF_INSIDE_RANGE_ELSE_CONST" },
    { "shipNet.fn.node[113].params", "{}" },
    { "shipNet.fn.node[114].inputs", "{106, 15, 73, 4, 22, }" },
    { "shipNet.fn.node[114].op", "ML_FOP_0x1_UNIT_CONSTANT" },
    { "shipNet.fn.node[114].params", "{}" },
    { "shipNet.fn.node[115].inputs", "{}" },
    { "shipNet.fn.node[115].op", "ML_FOP_1x1_QUADRATIC_DOWN" },
    { "shipNet.fn.node[115].params", "{0.000000, 0.000000, }" },
    { "shipNet.fn.node[116].inputs", "{}" },
    { "shipNet.fn.node[116].op", "ML_FOP_1x0_SEEDED_RANDOM_UNIT" },
    { "shipNet.fn.node[116].params", "{0.000000, }" },
    { "shipNet.fn.node[117].inputs", "{46, 105, 28, 84, 36, 34, 1, }" },
    { "shipNet.fn.node[117].op", "ML_FOP_1x0_UNIT_SINE" },
    { "shipNet.fn.node[117].params", "{0.000000, }" },
    { "shipNet.fn.node[118].inputs", "{1, 70, 76, 97, 37, 103, 95, }" },
    { "shipNet.fn.node[118].op", "ML_FOP_1x0_CEIL" },
    { "shipNet.fn.node[118].params", "{0.000000, 0.000000, 0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[119].inputs", "{49, 31, 118, }" },
    { "shipNet.fn.node[119].op", "ML_FOP_Nx2_ACTIVATE_LINEAR_UP" },
    { "shipNet.fn.node[119].params", "{}" },
    { "shipNet.fn.node[120].inputs", "{97, 68, 47, }" },
    { "shipNet.fn.node[120].op", "ML_FOP_2x0_CEIL_STEP" },
    { "shipNet.fn.node[120].params", "{1.000000, 0.000000, 12915.712891, 986.982422, 0.975684, }" },
    { "shipNet.fn.node[121].inputs", "{31, 91, 42, 95, }" },
    { "shipNet.fn.node[121].op", "ML_FOP_4x0_IF_GTE_ELSE" },
    { "shipNet.fn.node[121].params", "{0.000000, }" },
    { "shipNet.fn.node[122].inputs", "{50, 55, 118, 23, }" },
    { "shipNet.fn.node[122].op", "ML_FOP_3x2_IF_INSIDE_RANGE_ELSE_CONST" },
    { "shipNet.fn.node[122].params", "{0.000000, 0.000000, 0.070739, 0.000000, 0.000000, 0.000000, 1.000000, }" },
    { "shipNet.fn.node[123].inputs", "{106, 29, 113, 37, 88, 109, 66, 85, }" },
    { "shipNet.fn.node[123].op", "ML_FOP_1x0_HYP_COSINE" },
    { "shipNet.fn.node[123].params", "{}" },
    { "shipNet.fn.node[124].inputs", "{63, 69, 37, 4, }" },
    { "shipNet.fn.node[124].op", "ML_FOP_1x1_LINEAR_DOWN" },
    { "shipNet.fn.node[124].params", "{270.443268, 0.000000, 0.000000, 9.500000, 2914.313232, 963.145081, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[25].inputs", "{}" },
    { "shipNet.fn.node[25].op", "ML_FOP_1x0_EXP" },
    { "shipNet.fn.node[25].params", "{0.690146, 0.000000, 0.000000, 0.000000, 0.000000, 1.000000, 0.000000, }" },
    { "shipNet.fn.node[26].inputs", "{}" },
    { "shipNet.fn.node[26].op", "ML_FOP_NxN_SCALED_DIV_SUM" },
    { "shipNet.fn.node[26].params", "{0.978316, }" },
    { "shipNet.fn.node[27].inputs", "{15, 9, 17, }" },
    { "shipNet.fn.node[27].op", "ML_FOP_1x1_SUM" },
    { "shipNet.fn.node[27].params", "{0.000000, 0.950000, 0.000000, 0.099296, 20.911724, 0.950000, 0.000000, }" },
    { "shipNet.fn.node[28].inputs", "{14, 6, 8, 7, 27, 20, 20, 17, }" },
    { "shipNet.fn.node[28].op", "ML_FOP_1x0_TAN" },
    { "shipNet.fn.node[28].params", "{1.906663, 0.673616, 3.771181, 1.621481, 0.000000, 1799.310303, 1134.111328, }" },
    { "shipNet.fn.node[29].inputs", "{20, }" },
    { "shipNet.fn.node[29].op", "ML_FOP_1x1_STRICT_OFF" },
    { "shipNet.fn.node[29].params", "{0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[30].inputs", "{}" },
    { "shipNet.fn.node[30].op", "ML_FOP_2x2_IF_GTE_ELSE" },
    { "shipNet.fn.node[30].params", "{946.218506, 1.703727, 10.000000, 942.655945, 0.000000, }" },
    { "shipNet.fn.node[31].inputs", "{2, 25, 12, 19, 18, 0, }" },
    { "shipNet.fn.node[31].op", "ML_FOP_1x0_HYP_COSINE" },
    { "shipNet.fn.node[31].params", "{}" },
    { "shipNet.fn.node[32].inputs", "{}" },
    { "shipNet.fn.node[32].op", "ML_FOP_1x0_SEEDED_RANDOM_UNIT" },
    { "shipNet.fn.node[32].params", "{0.000000, 165.942139, 1.000000, 0.000000, }" },
    { "shipNet.fn.node[33].inputs", "{31, 12, 27, 26, 32, 10, 20, 21, }" },
    { "shipNet.fn.node[33].op", "ML_FOP_1x3_ARC_SINE" },
    { "shipNet.fn.node[33].params", "{24.350241, 3000.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[34].inputs", "{1, }" },
    { "shipNet.fn.node[34].op", "ML_FOP_Nx2_ACTIVATE_LINEAR_DOWN" },
    { "shipNet.fn.node[34].params", "{}" },
    { "shipNet.fn.node[35].inputs", "{11, 32, 7, 28, 7, 2, 2, }" },
    { "shipNet.fn.node[35].op", "ML_FOP_1xN_SELECT_UNIT_INTERVAL_LERP" },
    { "shipNet.fn.node[35].params", "{0.000000, 0.997500, 1.000000, 0.000000, 0.000000, 0.000000, 1.000000, }" },
    { "shipNet.fn.node[36].inputs", "{}" },
    { "shipNet.fn.node[36].op", "ML_FOP_Nx0_SELECT_UNIT_INTERVAL_STEP" },
    { "shipNet.fn.node[36].params", "{1.050000, 147.512619, 1243.717163, 0.000000, }" },
    { "shipNet.fn.node[37].inputs", "{}" },
    { "shipNet.fn.node[37].op", "ML_FOP_Nx1_DIV_SUM" },
    { "shipNet.fn.node[37].params", "{139.306885, }" },
    { "shipNet.fn.node[38].inputs", "{6, 30, 5, 34, 30, 33, 14, }" },
    { "shipNet.fn.node[38].op", "ML_FOP_Nx0_DIV_SUM" },
    { "shipNet.fn.node[38].params", "{0.098851, 0.000000, }" },
    { "shipNet.fn.node[39].inputs", "{16, 11, 25, 30, }" },
    { "shipNet.fn.node[39].op", "ML_FOP_Nx0_GEOMETRIC_MEAN" },
    { "shipNet.fn.node[39].params", "{}" },
    { "shipNet.fn.node[40].inputs", "{17, 20, 36, 30, }" },
    { "shipNet.fn.node[40].op", "ML_FOP_2x2_IF_GTE_ELSE" },
    { "shipNet.fn.node[40].params", "{2393.776367, 0.000000, 0.477213, }" },
    { "shipNet.fn.node[41].inputs", "{36, 20, 23, 36, 39, 19, 17, 23, }" },
    { "shipNet.fn.node[41].op", "ML_FOP_1x1_PRODUCT" },
    { "shipNet.fn.node[41].params", "{}" },
    { "shipNet.fn.node[42].inputs", "{5, 34, 4, 4, 15, }" },
    { "shipNet.fn.node[42].op", "ML_FOP_1x3_SQRT" },
    { "shipNet.fn.node[42].params", "{2.879699, 0.096651, 26.267208, 1240.511597, 0.000000, 0.098331, }" },
    { "shipNet.fn.node[43].inputs", "{5, 5, }" },
    { "shipNet.fn.node[43].op", "ML_FOP_Nx0_DIV_SUM" },
    { "shipNet.fn.node[43].params", "{0.000000, 1.000000, 0.000000, }" },
    { "shipNet.fn.node[44].inputs", "{24, 36, }" },
    { "shipNet.fn.node[44].op", "ML_FOP_3x0_IF_GTEZ_ELSE" },
    { "shipNet.fn.node[44].params", "{28.146860, 0.000000, 148.704834, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[45].inputs", "{1, 41, 35, 28, 40, 23, }" },
    { "shipNet.fn.node[45].op", "ML_FOP_1x3_IF_LTE_ELSE" },
    { "shipNet.fn.node[45].params", "{0.000000, 0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[46].inputs", "{24, 25, 35, 4, 27, 9, 18, }" },
    { "shipNet.fn.node[46].op", "ML_FOP_1x2_CLAMP_BROKEN" },
    { "shipNet.fn.node[46].params", "{}" },
    { "shipNet.fn.node[47].inputs", "{26, 8, 32, 9, }" },
    { "shipNet.fn.node[47].op", "ML_FOP_2x0_PRODUCT" },
    { "shipNet.fn.node[47].params", "{0.000000, 998.640320, 1.221448, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[48].inputs", "{7, 47, }" },
    { "shipNet.fn.node[48].op", "ML_FOP_1x3_SQRT" },
    { "shipNet.fn.node[48].params", "{0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[49].inputs", "{33, 27, 12, 6, 39, }" },
    { "shipNet.fn.node[49].op", "ML_FOP_3x2_IF_INSIDE_RANGE_CONST_ELSE" },
    { "shipNet.fn.node[49].params", "{0.000000, 1.000000, 0.000000, 0.000000, 1.000000, }" },
    { "shipNet.fn.node[50].inputs", "{35, 0, 16, 44, 49, }" },
    { "shipNet.fn.node[50].op", "ML_FOP_Nx1_ACTIVATE_THRESHOLD_UP" },
    { "shipNet.fn.node[50].params", "{1.000000, 0.000000, 147.118774, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[51].inputs", "{38, 50, 45, 21, 22, 19, }" },
    { "shipNet.fn.node[51].op", "ML_FOP_1xN_SELECT_UNIT_INTERVAL_LERP" },
    { "shipNet.fn.node[51].params", "{0.000000, 144.050110, 0.000000, 610.074646, 0.972787, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[52].inputs", "{11, }" },
    { "shipNet.fn.node[52].op", "ML_FOP_3x0_IF_LTEZ_ELSE" },
    { "shipNet.fn.node[52].params", "{1.000000, 8.878457, 1.100000, 3000.000000, 1615.755493, 0.000000, 152.121124, 430.216583, }" },
    { "shipNet.fn.node[53].inputs", "{18, 33, 27, 33, 48, }" },
    { "shipNet.fn.node[53].op", "ML_FOP_Nx0_PRODUCT" },
    { "shipNet.fn.node[53].params", "{1.000000, 2950.105957, 1.023432, 2.503662, 19.237644, 2059.433105, }" },
    { "shipNet.fn.node[54].inputs", "{50, }" },
    { "shipNet.fn.node[54].op", "ML_FOP_1x1_POW" },
    { "shipNet.fn.node[54].params", "{0.000000, 0.287147, }" },
    { "shipNet.fn.node[55].inputs", "{34, 35, 0, 35, 23, 48, }" },
    { "shipNet.fn.node[55].op", "ML_FOP_1x1_SUM" },
    { "shipNet.fn.node[55].params", "{2.531037, 1.487723, 0.000000, 0.568502, 0.000000, 0.000000, 0.954455, }" },
    { "shipNet.fn.node[56].inputs", "{23, 48, 51, 28, 46, }" },
    { "shipNet.fn.node[56].op", "ML_FOP_NxN_ANCHORED_ARITHMETIC_MEAN" },
    { "shipNet.fn.node[56].params", "{1009.547424, 1.000000, 0.115097, }" },
    { "shipNet.fn.node[57].inputs", "{6, 21, 11, 31, }" },
    { "shipNet.fn.node[57].op", "ML_FOP_3x2_IF_INSIDE_RANGE_ELSE_CONST" },
    { "shipNet.fn.node[57].params", "{0.000000, }" },
    { "shipNet.fn.node[58].inputs", "{25, 44, 15, 0, 1, 56, 35, 15, }" },
    { "shipNet.fn.node[58].op", "ML_FOP_0x0_ZERO" },
    { "shipNet.fn.node[58].params", "{0.093223, 0.000000, 0.000000, 1.000000, 0.000000, 1.000000, }" },
    { "shipNet.fn.node[59].inputs", "{0, 14, 12, 23, 21, 36, }" },
    { "shipNet.fn.node[59].op", "ML_FOP_1x1_QUADRATIC_DOWN" },
    { "shipNet.fn.node[59].params", "{0.916065, 0.000000, }" },
    { "shipNet.fn.node[60].inputs", "{2, 4, 13, 42, 43, 15, 5, }" },
    { "shipNet.fn.node[60].op", "ML_FOP_1x2_OUTSIDE_RANGE" },
    { "shipNet.fn.node[60].params", "{}" },
    { "shipNet.fn.node[61].inputs", "{37, 10, 0, 3, 50, 16, 28, 60, }" },
    { "shipNet.fn.node[61].op", "ML_FOP_Nx0_MAX" },
    { "shipNet.fn.node[61].params", "{0.000000, 2289.867920, 0.000000, 0.000000, 0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[62].inputs", "{45, 30, 9, 20, 24, 35, }" },
    { "shipNet.fn.node[62].op", "ML_FOP_Nx0_DIV_SUM" },
    { "shipNet.fn.node[62].params", "{0.000000, 3.126021, 2.724704, 0.625494, 1.000000, 0.000000, }" },
    { "shipNet.fn.node[63].inputs", "{29, 48, 59, 21, }" },
    { "shipNet.fn.node[63].op", "ML_FOP_1x2_SEEDED_RANDOM" },
    { "shipNet.fn.node[63].params", "{1262.952148, 267.808807, 1.000000, 1012.080505, 8.816449, 163.016144, }" },
    { "shipNet.fn.node[64].inputs", "{58, 5, 47, 11, 19, 35, 10, }" },
    { "shipNet.fn.node[64].op", "ML_FOP_NxN_SELECT_UNIT_INTERVAL_WEIGHTED_LERP" },
    { "shipNet.fn.node[64].params", "{0.008561, 1.000000, 144.099915, 3.792801, 306.672180, 5890.657227, }" },
    { "shipNet.fn.node[65].inputs", "{63, 30, 63, 33, 13, 44, 28, }" },
    { "shipNet.fn.node[65].op", "ML_FOP_1x0_SIN" },
    { "shipNet.fn.node[65].params", "{}" },
    { "shipNet.fn.node[66].inputs", "{}" },
    { "shipNet.fn.node[66].op", "ML_FOP_1x1_GTE" },
    { "shipNet.fn.node[66].params", "{0.000000, 0.000000, }" },
    { "shipNet.fn.node[67].inputs", "{14, 33, 44, 36, 65, 54, 44, }" },
    { "shipNet.fn.node[67].op", "ML_FOP_2x2_IF_GTE_ELSE" },
    { "shipNet.fn.node[67].params", "{0.000000, 10.000000, 156.661469, 0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[68].inputs", "{12, 66, 66, }" },
    { "shipNet.fn.node[68].op", "ML_FOP_1x0_CEIL" },
    { "shipNet.fn.node[68].params", "{2960.583740, }" },
    { "shipNet.fn.node[69].inputs", "{}" },
    { "shipNet.fn.node[69].op", "ML_FOP_1x0_NEGATE" },
    { "shipNet.fn.node[69].params", "{918.871704, 0.000000, 0.000000, 0.000000, 0.519156, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[70].inputs", "{}" },
    { "shipNet.fn.node[70].op", "ML_FOP_1x3_SQRT" },
    { "shipNet.fn.node[70].params", "{2878.717773, 0.000000, 1.000000, }" },
    { "shipNet.fn.node[71].inputs", "{55, }" },
    { "shipNet.fn.node[71].op", "ML_FOP_3x2_IF_INSIDE_RANGE_ELSE_CONST" },
    { "shipNet.fn.node[71].params", "{0.000000, 0.000000, }" },
    { "shipNet.fn.node[72].inputs", "{60, 44, }" },
    { "shipNet.fn.node[72].op", "ML_FOP_NxN_SELECT_LTE" },
    { "shipNet.fn.node[72].params", "{1190.784302, }" },
    { "shipNet.fn.node[73].inputs", "{51, 39, 20, 64, }" },
    { "shipNet.fn.node[73].op", "ML_FOP_Nx2_ACTIVATE_QUADRATIC_DOWN" },
    { "shipNet.fn.node[73].params", "{1.000000, 295.617401, }" },
    { "shipNet.fn.node[74].inputs", "{68, }" },
    { "shipNet.fn.node[74].op", "ML_FOP_1x0_HYP_TANGENT" },
    { "shipNet.fn.node[74].params", "{0.000000, }" },
    { "shipNet.fn.node[75].inputs", "{}" },
    { "shipNet.fn.node[75].op", "ML_FOP_NxN_WEIGHTED_ARITHMETIC_MEAN" },
    { "shipNet.fn.node[75].params", "{1.000000, 987.148621, 24.098963, 156.196716, 0.194995, }" },
    { "shipNet.fn.node[76].inputs", "{18, 46, 13, 67, }" },
    { "shipNet.fn.node[76].op", "ML_FOP_Nx0_SELECT_UNIT_INTERVAL_LERP" },
    { "shipNet.fn.node[76].params", "{0.000000, 1.288472, 2.405927, 0.000000, }" },
    { "shipNet.fn.node[77].inputs", "{14, 19, 62, 74, 48, 71, }" },
    { "shipNet.fn.node[77].op", "ML_FOP_3x3_LINEAR_COMBINATION" },
    { "shipNet.fn.node[77].params", "{2956.990723, 0.000000, 0.843079, 0.000000, 0.000000, 0.508879, 0.000000, }" },
    { "shipNet.fn.node[78].inputs", "{8, }" },
    { "shipNet.fn.node[78].op", "ML_FOP_NxN_SELECT_LTE" },
    { "shipNet.fn.node[78].params", "{}" },
    { "shipNet.fn.node[79].inputs", "{23, 4, 38, }" },
    { "shipNet.fn.node[79].op", "ML_FOP_1x2_CLAMPED_SCALE_FROM_UNIT_BROKEN" },
    { "shipNet.fn.node[79].params", "{0.893583, 0.000000, 0.000000, 0.100938, }" },
    { "shipNet.fn.node[80].inputs", "{20, 11, 63, 21, 15, }" },
    { "shipNet.fn.node[80].op", "ML_FOP_1x0_EXP" },
    { "shipNet.fn.node[80].params", "{3.804961, 0.000000, 0.948949, 0.000000, }" },
    { "shipNet.fn.node[81].inputs", "{13, 46, 55, 49, 3, 30, 60, }" },
    { "shipNet.fn.node[81].op", "ML_FOP_1x1_LTE" },
    { "shipNet.fn.node[81].params", "{0.000000, 0.000000, 0.000000, 0.000000, 0.000000, 1.000000, 660.309509, }" },
    { "shipNet.fn.node[82].inputs", "{8, 50, 14, 10, 15, 53, }" },
    { "shipNet.fn.node[82].op", "ML_FOP_Nx1_DIV_SUM" },
    { "shipNet.fn.node[82].params", "{0.000000, 0.214584, 0.097141, }" },
    { "shipNet.fn.node[83].inputs", "{2, 47, 15, 15, }" },
    { "shipNet.fn.node[83].op", "ML_FOP_Nx0_SUM" },
    { "shipNet.fn.node[83].params", "{1.000000, }" },
    { "shipNet.fn.node[84].inputs", "{74, 5, 62, 17, 13, 4, 48, 30, }" },
    { "shipNet.fn.node[84].op", "ML_FOP_4x0_IF_LTE_ELSE" },
    { "shipNet.fn.node[84].params", "{0.183362, 0.000000, 1.517727, 1.000000, 0.696999, }" },
    { "shipNet.fn.node[85].inputs", "{}" },
    { "shipNet.fn.node[85].op", "ML_FOP_0x0_ONE" },
    { "shipNet.fn.node[85].params", "{0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[86].inputs", "{}" },
    { "shipNet.fn.node[86].op", "ML_FOP_2x2_IF_GTE_ELSE" },
    { "shipNet.fn.node[86].params", "{0.000000, 1271.795532, 993.136169, 28.777386, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[87].inputs", "{11, }" },
    { "shipNet.fn.node[87].op", "ML_FOP_1x0_FLOOR" },
    { "shipNet.fn.node[87].params", "{0.000000, }" },
    { "shipNet.fn.node[88].inputs", "{80, 56, 65, 60, 75, 66, }" },
    { "shipNet.fn.node[88].op", "ML_FOP_Nx0_SELECT_UNIT_INTERVAL_LERP" },
    { "shipNet.fn.node[88].params", "{12.581761, 2.118496, 7.529765, 0.044859, }" },
    { "shipNet.fn.node[89].inputs", "{80, 84, 37, 32, 56, }" },
    { "shipNet.fn.node[89].op", "ML_FOP_NxN_SELECT_UNIT_INTERVAL_WEIGHTED_LERP" },
    { "shipNet.fn.node[89].params", "{0.000000, 249.003098, 0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[90].inputs", "{21, 66, 13, 78, 82, 9, }" },
    { "shipNet.fn.node[90].op", "ML_FOP_Nx2_ACTIVATE_QUADRATIC_DOWN" },
    { "shipNet.fn.node[90].params", "{}" },
    { "shipNet.fn.node[91].inputs", "{64, 16, 89, 30, 85, 54, 35, 48, }" },
    { "shipNet.fn.node[91].op", "ML_FOP_5x0_IF_OUTSIDE_RANGE_ELSE" },
    { "shipNet.fn.node[91].params", "{0.000000, 0.000000, }" },
    { "shipNet.fn.node[92].inputs", "{70, 21, 0, 84, 67, 71, 55, }" },
    { "shipNet.fn.node[92].op", "ML_FOP_1x1_STRICT_OFF" },
    { "shipNet.fn.node[92].params", "{0.000000, 0.000000, 1.684222, 0.000000, }" },
    { "shipNet.fn.node[93].inputs", "{71, }" },
    { "shipNet.fn.node[93].op", "ML_FOP_Nx1_DIV_SUM" },
    { "shipNet.fn.node[93].params", "{22.774969, 1.000000, 1.000000, 0.758635, }" },
    { "shipNet.fn.node[94].inputs", "{13, 51, 19, 11, 71, }" },
    { "shipNet.fn.node[94].op", "ML_FOP_1x1_LINEAR_UP" },
    { "shipNet.fn.node[94].params", "{5.410668, 1.007700, 0.571086, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[95].inputs", "{87, 94, 55, 22, 92, 51, 33, 91, }" },
    { "shipNet.fn.node[95].op", "ML_FOP_NxN_SELECT_UNIT_INTERVAL_WEIGHTED_STEP" },
    { "shipNet.fn.node[95].params", "{145.791794, 1.000000, 1.000000, 0.000000, 0.000000, 0.867916, }" },
    { "shipNet.fn.node[96].inputs", "{25, 88, 8, 53, 4, 43, 46, 90, }" },
    { "shipNet.fn.node[96].op", "ML_FOP_1x1_CEIL_STEP" },
    { "shipNet.fn.node[96].params", "{2913.188721, 0.000000, 1.846820, 949.599121, }" },
    { "shipNet.fn.node[97].inputs", "{}" },
    { "shipNet.fn.node[97].op", "ML_FOP_1x1_FMOD" },
    { "shipNet.fn.node[97].params", "{0.000000, }" },
    { "shipNet.fn.node[98].inputs", "{44, 77, 32, 50, 78, }" },
    { "shipNet.fn.node[98].op", "ML_FOP_NxN_LINEAR_COMBINATION_CLAMPED_UNIT" },
    { "shipNet.fn.node[98].params", "{0.000000, }" },
    { "shipNet.fn.node[99].inputs", "{30, }" },
    { "shipNet.fn.node[99].op", "ML_FOP_2x2_IF_LTE_ELSE" },
    { "shipNet.fn.node[99].params", "{1.000000, 0.000000, 0.858177, 3000.000000, }" },
    { "shipNet.fn.numInputs", "25" },
    { "shipNet.fn.numNodes", "100" },
    { "shipNet.fn.numOutputs", "25" },
    { "gatherAbandonStale", "FALSE" },
    { "gatherRange", "53.190826" },
    { "guardRange", "87.259979" },
    { "shipNet.input[0].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[0].forceType", "NEURAL_FORCE_NEAREST_FRIEND_MISSILE" },
    { "shipNet.input[0].radius", "0.000000" },
    { "shipNet.input[0].useTangent", "FALSE" },
    { "shipNet.input[0].valueType", "NEURAL_VALUE_RANDOM_UNIT" },
    { "shipNet.input[10].crowdType", "NEURAL_CROWD_ENEMY_MISSILE" },
    { "shipNet.input[10].forceType", "NEURAL_FORCE_ENEMY_COHERE" },
    { "shipNet.input[10].radius", "0.000000" },
    { "shipNet.input[10].useTangent", "FALSE" },
    { "shipNet.input[10].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[11].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[11].forceType", "NEURAL_FORCE_NEAREST_FRIEND" },
    { "shipNet.input[11].radius", "0.000000" },
    { "shipNet.input[11].useTangent", "FALSE" },
    { "shipNet.input[11].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[11].waveType", "NEURAL_WAVE_UNIT_SINE" },
    { "shipNet.input[12].crowdType", "NEURAL_CROWD_ENEMY_MISSILE" },
    { "shipNet.input[12].forceType", "NEURAL_FORCE_NEAREST_FRIEND" },
    { "shipNet.input[12].frequency", "0.000000" },
    { "shipNet.input[12].radius", "0.000000" },
    { "shipNet.input[12].useTangent", "FALSE" },
    { "shipNet.input[12].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[12].waveType", "NEURAL_WAVE_SINE" },
    { "shipNet.input[13].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[13].forceType", "NEURAL_FORCE_ENEMY_COHERE" },
    { "shipNet.input[13].frequency", "0.000000" },
    { "shipNet.input[13].radius", "0.000000" },
    { "shipNet.input[13].useTangent", "TRUE" },
    { "shipNet.input[13].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[13].waveType", "NEURAL_WAVE_SINE" },
    { "shipNet.input[14].crowdType", "NEURAL_CROWD_BASE_FRIEND_SHIP" },
    { "shipNet.input[14].forceType", "NEURAL_FORCE_CORES" },
    { "shipNet.input[14].frequency", "0.000000" },
    { "shipNet.input[14].radius", "164.939926" },
    { "shipNet.input[14].useTangent", "TRUE" },
    { "shipNet.input[14].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[14].waveType", "NEURAL_WAVE_FMOD" },
    { "shipNet.input[15].crowdType", "NEURAL_CROWD_FRIEND_MISSILE" },
    { "shipNet.input[15].forceType", "NEURAL_FORCE_NEAREST_FRIEND" },
    { "shipNet.input[15].radius", "156.087997" },
    { "shipNet.input[15].useTangent", "FALSE" },
    { "shipNet.input[15].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[16].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[16].forceType", "NEURAL_FORCE_NEAREST_FRIEND_MISSILE" },
    { "shipNet.input[16].frequency", "0.000000" },
    { "shipNet.input[16].radius", "0.000000" },
    { "shipNet.input[16].useTangent", "TRUE" },
    { "shipNet.input[16].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[17].crowdType", "NEURAL_CROWD_ENEMY_MISSILE" },
    { "shipNet.input[17].forceType", "NEURAL_FORCE_NEAREST_FRIEND" },
    { "shipNet.input[17].frequency", "4093.644043" },
    { "shipNet.input[17].radius", "0.000000" },
    { "shipNet.input[17].useTangent", "TRUE" },
    { "shipNet.input[17].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[17].waveType", "NEURAL_WAVE_FMOD" },
    { "shipNet.input[18].crowdType", "NEURAL_CROWD_BASE_ENEMY_SHIP" },
    { "shipNet.input[18].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.input[18].frequency", "0.000000" },
    { "shipNet.input[18].radius", "147.504044" },
    { "shipNet.input[18].useTangent", "TRUE" },
    { "shipNet.input[18].valueType", "NEURAL_VALUE_FRIEND_SHIPS" },
    { "shipNet.input[18].waveType", "NEURAL_WAVE_FMOD" },
    { "shipNet.input[19].crowdType", "NEURAL_CROWD_FRIEND_MISSILE" },
    { "shipNet.input[19].forceType", "NEURAL_FORCE_EDGES" },
    { "shipNet.input[19].radius", "-1.000000" },
    { "shipNet.input[19].useTangent", "FALSE" },
    { "shipNet.input[19].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[1].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[1].forceType", "NEURAL_FORCE_ENEMY_BASE" },
    { "shipNet.input[1].radius", "301.750824" },
    { "shipNet.input[1].useTangent", "TRUE" },
    { "shipNet.input[1].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[20].crowdType", "NEURAL_CROWD_BASE_ENEMY_SHIP" },
    { "shipNet.input[20].forceType", "NEURAL_FORCE_HEADING" },
    { "shipNet.input[20].frequency", "0.000000" },
    { "shipNet.input[20].radius", "0.000000" },
    { "shipNet.input[20].useTangent", "FALSE" },
    { "shipNet.input[20].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[20].waveType", "NEURAL_WAVE_FMOD" },
    { "shipNet.input[21].crowdType", "NEURAL_CROWD_FRIEND_MISSILE" },
    { "shipNet.input[21].forceType", "NEURAL_FORCE_ENEMY_BASE_GUESS" },
    { "shipNet.input[21].frequency", "0.000000" },
    { "shipNet.input[21].radius", "-1.000000" },
    { "shipNet.input[21].useTangent", "FALSE" },
    { "shipNet.input[21].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[22].crowdType", "NEURAL_CROWD_BASE_ENEMY_SHIP" },
    { "shipNet.input[22].forceType", "NEURAL_FORCE_ALIGN" },
    { "shipNet.input[22].radius", "6.802381" },
    { "shipNet.input[22].useTangent", "FALSE" },
    { "shipNet.input[22].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[23].crowdType", "NEURAL_CROWD_BASE_ENEMY_SHIP" },
    { "shipNet.input[23].forceType", "NEURAL_FORCE_SEPARATE" },
    { "shipNet.input[23].frequency", "0.000000" },
    { "shipNet.input[23].radius", "-1.000000" },
    { "shipNet.input[23].useTangent", "FALSE" },
    { "shipNet.input[23].valueType", "NEURAL_VALUE_TICK" },
    { "shipNet.input[23].waveType", "NEURAL_WAVE_NONE" },
    { "shipNet.input[24].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[24].forceType", "NEURAL_FORCE_ENEMY_BASE_GUESS" },
    { "shipNet.input[24].frequency", "0.000000" },
    { "shipNet.input[24].radius", "1086.721436" },
    { "shipNet.input[24].useTangent", "TRUE" },
    { "shipNet.input[24].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[2].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[2].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.input[2].radius", "148.709793" },
    { "shipNet.input[2].useTangent", "FALSE" },
    { "shipNet.input[2].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[3].crowdType", "NEURAL_CROWD_FRIEND_MISSILE" },
    { "shipNet.input[3].forceType", "NEURAL_FORCE_BASE_DEFENSE" },
    { "shipNet.input[3].radius", "-1.000000" },
    { "shipNet.input[3].useTangent", "TRUE" },
    { "shipNet.input[3].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[4].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[4].forceType", "NEURAL_FORCE_ENEMY_BASE_GUESS" },
    { "shipNet.input[4].frequency", "5622.903809" },
    { "shipNet.input[4].radius", "0.000000" },
    { "shipNet.input[4].useTangent", "TRUE" },
    { "shipNet.input[4].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[5].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[5].forceType", "NEURAL_FORCE_BASE" },
    { "shipNet.input[5].frequency", "0.000000" },
    { "shipNet.input[5].radius", "0.000000" },
    { "shipNet.input[5].useTangent", "FALSE" },
    { "shipNet.input[5].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[5].waveType", "NEURAL_WAVE_SINE" },
    { "shipNet.input[6].crowdType", "NEURAL_CROWD_ENEMY_MISSILE" },
    { "shipNet.input[6].forceType", "NEURAL_FORCE_ENEMY_BASE_GUESS" },
    { "shipNet.input[6].frequency", "0.000000" },
    { "shipNet.input[6].radius", "-0.950000" },
    { "shipNet.input[6].useTangent", "TRUE" },
    { "shipNet.input[6].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[6].waveType", "NEURAL_WAVE_NONE" },
    { "shipNet.input[7].crowdType", "NEURAL_CROWD_ENEMY_MISSILE" },
    { "shipNet.input[7].forceType", "NEURAL_FORCE_ZERO" },
    { "shipNet.input[7].radius", "4.193549" },
    { "shipNet.input[7].useTangent", "FALSE" },
    { "shipNet.input[7].valueType", "NEURAL_VALUE_ZERO" },
    { "shipNet.input[8].crowdType", "NEURAL_CROWD_BASE_ENEMY_SHIP" },
    { "shipNet.input[8].forceType", "NEURAL_FORCE_CORNERS" },
    { "shipNet.input[8].frequency", "0.000000" },
    { "shipNet.input[8].radius", "0.000000" },
    { "shipNet.input[8].useTangent", "FALSE" },
    { "shipNet.input[8].valueType", "NEURAL_VALUE_ZERO" },
    { "shipNet.input[8].waveType", "NEURAL_WAVE_ABS_SINE" },
    { "shipNet.input[9].crowdType", "NEURAL_CROWD_BASE_ENEMY_SHIP" },
    { "shipNet.input[9].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.input[9].radius", "154.979477" },
    { "shipNet.input[9].useTangent", "FALSE" },
    { "shipNet.input[9].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[0].forceType", "NEURAL_FORCE_COHERE" },
    { "shipNet.output[0].radius", "529.224609" },
    { "shipNet.output[0].useTangent", "FALSE" },
    { "shipNet.output[0].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[1].forceType", "NEURAL_FORCE_ENEMY_BASE_GUESS" },
    { "shipNet.output[1].radius", "1351.212036" },
    { "shipNet.output[1].useTangent", "FALSE" },
    { "shipNet.output[1].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[2].forceType", "NEURAL_FORCE_CORES" },
    { "shipNet.output[2].radius", "167.162323" },
    { "shipNet.output[2].useTangent", "TRUE" },
    { "shipNet.output[2].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[3].forceType", "NEURAL_FORCE_ALIGN" },
    { "shipNet.output[3].radius", "-1.000000" },
    { "shipNet.output[3].useTangent", "TRUE" },
    { "shipNet.output[3].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[4].forceType", "NEURAL_FORCE_CORNERS" },
    { "shipNet.output[4].radius", "1729.684937" },
    { "shipNet.output[4].useTangent", "TRUE" },
    { "shipNet.output[4].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[5].forceType", "NEURAL_FORCE_HEADING" },
    { "shipNet.output[5].radius", "278.047913" },
    { "shipNet.output[5].useTangent", "TRUE" },
    { "shipNet.output[5].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[6].forceType", "NEURAL_FORCE_ALIGN" },
    { "shipNet.output[6].radius", "2541.187500" },
    { "shipNet.output[6].useTangent", "TRUE" },
    { "shipNet.output[6].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[7].forceType", "NEURAL_FORCE_ENEMY_BASE" },
    { "shipNet.output[7].radius", "-1.000000" },
    { "shipNet.output[7].useTangent", "TRUE" },
    { "shipNet.output[7].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[8].forceType", "NEURAL_FORCE_EDGES" },
    { "shipNet.output[8].radius", "-1.000000" },
    { "shipNet.output[8].useTangent", "TRUE" },
    { "shipNet.output[8].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[9].forceType", "NEURAL_FORCE_SEPARATE" },
    { "shipNet.output[9].radius", "1411.446289" },
    { "shipNet.output[9].useTangent", "FALSE" },
    { "shipNet.output[9].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[10].forceType", "NEURAL_FORCE_ZERO" },
    { "shipNet.output[10].radius", "2727.242432" },
    { "shipNet.output[10].useTangent", "TRUE" },
    { "shipNet.output[10].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[11].forceType", "NEURAL_FORCE_ENEMY_BASE" },
    { "shipNet.output[11].radius", "-1.000000" },
    { "shipNet.output[11].useTangent", "FALSE" },
    { "shipNet.output[11].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[12].forceType", "NEURAL_FORCE_SEPARATE" },
    { "shipNet.output[12].radius", "312.907501" },
    { "shipNet.output[12].useTangent", "TRUE" },
    { "shipNet.output[12].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[13].forceType", "NEURAL_FORCE_ENEMY_COHERE" },
    { "shipNet.output[13].radius", "-1.000000" },
    { "shipNet.output[13].useTangent", "TRUE" },
    { "shipNet.output[13].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[14].forceType", "NEURAL_FORCE_ALIGN" },
    { "shipNet.output[14].radius", "322.285767" },
    { "shipNet.output[14].useTangent", "TRUE" },
    { "shipNet.output[14].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[15].forceType", "NEURAL_FORCE_SEPARATE" },
    { "shipNet.output[15].radius", "-1.000000" },
    { "shipNet.output[15].useTangent", "FALSE" },
    { "shipNet.output[15].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[16].forceType", "NEURAL_FORCE_ENEMY_BASE" },
    { "shipNet.output[16].radius", "0.000000" },
    { "shipNet.output[16].useTangent", "TRUE" },
    { "shipNet.output[16].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[17].forceType", "NEURAL_FORCE_HEADING" },
    { "shipNet.output[17].radius", "850.924561" },
    { "shipNet.output[17].useTangent", "TRUE" },
    { "shipNet.output[17].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[18].forceType", "NEURAL_FORCE_SEPARATE" },
    { "shipNet.output[18].radius", "298.878693" },
    { "shipNet.output[18].useTangent", "FALSE" },
    { "shipNet.output[18].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[19].forceType", "NEURAL_FORCE_EDGES" },
    { "shipNet.output[19].radius", "3000.000000" },
    { "shipNet.output[19].useTangent", "TRUE" },
    { "shipNet.output[19].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[20].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.output[20].radius", "2963.549072" },
    { "shipNet.output[20].useTangent", "FALSE" },
    { "shipNet.output[20].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[21].forceType", "NEURAL_FORCE_NEAREST_FRIEND_MISSILE" },
    { "shipNet.output[21].radius", "-1.000000" },
    { "shipNet.output[21].useTangent", "FALSE" },
    { "shipNet.output[21].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[22].forceType", "NEURAL_FORCE_EDGES" },
    { "shipNet.output[22].radius", "1693.586426" },
    { "shipNet.output[22].useTangent", "FALSE" },
    { "shipNet.output[22].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[23].forceType", "NEURAL_FORCE_ZERO" },
    { "shipNet.output[23].radius", "1030.571045" },
    { "shipNet.output[23].useTangent", "FALSE" },
    { "shipNet.output[23].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[24].forceType", "NEURAL_FORCE_SEPARATE" },
    { "shipNet.output[24].radius", "-1.000000" },
    { "shipNet.output[24].useTangent", "FALSE" },
    { "shipNet.output[24].valueType", "NEURAL_VALUE_FORCE" },
    { "rotateStartingAngle", "FALSE" },
    { "sensorGrid.staleCoreTime", "0.000000" },
    { "sensorGrid.staleFighterTime", "0.000000" },
    { "startingMaxRadius", "1202.581787" },
    { "startingMinRadius", "496.103271" },
