    { "attackExtendedRange", "TRUE" },
    { "attackRange", "140.183350" },
    { "creditReserve", "0.000000" },
    { "evadeFighters", "FALSE" },
    { "evadeRange", "236.944687" },
    { "evadeStrictDistance", "51.253864" },
    { "evadeUseStrictDistance", "FALSE" },
    { "shipNet.fn.node[100].inputs", "{0, 78, 37, 92, }" },
    { "shipNet.fn.node[100].op", "ML_FOP_Nx1_DIV_SUM" },
    { "shipNet.fn.node[100].params", "{1.000000, 1.568764, 0.000000, 0.000000, 0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[101].inputs", "{95, 67, 100, }" },
    { "shipNet.fn.node[101].op", "ML_FOP_NxN_LINEAR_COMBINATION_CLAMPED_UNIT" },
    { "shipNet.fn.node[101].params", "{1.000000, 0.000000, 0.000000, 4.428261, 0.000000, }" },
    { "shipNet.fn.node[102].inputs", "{59, 27, 27, 24, }" },
    { "shipNet.fn.node[102].op", "ML_FOP_1xN_SELECT_UNIT_INTERVAL_STEP" },
    { "shipNet.fn.node[102].params", "{0.851690, 0.000000, 0.515415, 2985.770996, 146.223770, 519.737671, 0.000000, }" },
    { "shipNet.fn.node[103].inputs", "{90, }" },
    { "shipNet.fn.node[103].op", "ML_FOP_1x0_ARC_SINE" },
    { "shipNet.fn.node[103].params", "{1016.769226, 150.194626, 16.031071, 0.000000, 0.000000, 922.953735, }" },
    { "shipNet.fn.node[104].inputs", "{37, 35, 82, 79, 14, 70, 6, }" },
    { "shipNet.fn.node[104].op", "ML_FOP_1x0_HYP_TANGENT" },
    { "shipNet.fn.node[104].params", "{0.000000, 1.000000, 19144.894531, }" },
    { "shipNet.fn.node[105].inputs", "{78, 11, 20, 87, 22, 102, }" },
    { "shipNet.fn.node[105].op", "ML_FOP_0x0_ONE" },
    { "shipNet.fn.node[105].params", "{0.000000, 0.000000, 0.950000, 1.000000, 0.000000, }" },
    { "shipNet.fn.node[106].inputs", "{}" },
    { "shipNet.fn.node[106].op", "ML_FOP_Nx0_DIV_SUM" },
    { "shipNet.fn.node[106].params", "{45.004463, 26.304102, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[107].inputs", "{64, 84, 44, 16, 67, 93, }" },
    { "shipNet.fn.node[107].op", "ML_FOP_1x0_SIN" },
    { "shipNet.fn.node[107].params", "{}" },
    { "shipNet.fn.node[108].inputs", "{76, 35, 106, }" },
    { "shipNet.fn.node[108].op", "ML_FOP_4x4_LINEAR_COMBINATION" },
    { "shipNet.fn.node[108].params", "{0.000000, 0.107986, 4.808962, 0.000000, 0.102480, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[109].inputs", "{81, 64, 32, 35, 15, 49, 89, 24, }" },
    { "shipNet.fn.node[109].op", "ML_FOP_2x2_LINEAR_COMBINATION" },
    { "shipNet.fn.node[109].params", "{}" },
    { "shipNet.fn.node[110].inputs", "{28, 93, 73, 13, 25, 66, 23, }" },
    { "shipNet.fn.node[110].op", "ML_FOP_Nx0_DIV_SUM" },
    { "shipNet.fn.node[110].params", "{1.000000, 1.535785, 0.000000, }" },
    { "shipNet.fn.node[111].inputs", "{8, 74, 3, }" },
    { "shipNet.fn.node[111].op", "ML_FOP_NxN_SELECT_UNIT_INTERVAL_WEIGHTED_STEP" },
    { "shipNet.fn.node[111].params", "{}" },
    { "shipNet.fn.node[112].inputs", "{17, 58, 19, }" },
    { "shipNet.fn.node[112].op", "ML_FOP_NxN_SELECT_UNIT_INTERVAL_WEIGHTED_STEP" },
    { "shipNet.fn.node[112].params", "{0.000000, 246.736893, 0.000000, 1.000000, 1.000000, 0.000000, }" },
    { "shipNet.fn.node[113].inputs", "{96, 103, }" },
    { "shipNet.fn.node[113].op", "ML_FOP_2x0_POW" },
    { "shipNet.fn.node[113].params", "{0.000000, 10.000000, 0.000000, 1.000000, 1.000000, 0.950000, 155.720734, 0.000000, }" },
    { "shipNet.fn.node[114].inputs", "{}" },
    { "shipNet.fn.node[114].op", "ML_FOP_1x0_ARC_TANGENT" },
    { "shipNet.fn.node[114].params", "{0.000000, 0.551229, 1002.979797, 1.000000, 0.000000, }" },
    { "shipNet.fn.node[115].inputs", "{44, 62, 94, 16, }" },
    { "shipNet.fn.node[115].op", "ML_FOP_1x3_EXP" },
    { "shipNet.fn.node[115].params", "{}" },
    { "shipNet.fn.node[116].inputs", "{79, }" },
    { "shipNet.fn.node[116].op", "ML_FOP_5x0_IF_OUTSIDE_RANGE_ELSE" },
    { "shipNet.fn.node[116].params", "{2447.873291, 277.071564, 145.986099, 1.000000, }" },
    { "shipNet.fn.node[117].inputs", "{7, 35, 95, 95, 66, 89, }" },
    { "shipNet.fn.node[117].op", "ML_FOP_1x1_PRODUCT" },
    { "shipNet.fn.node[117].params", "{0.571378, 151.600037, }" },
    { "shipNet.fn.node[118].inputs", "{88, 58, 44, 75, 99, }" },
    { "shipNet.fn.node[118].op", "ML_FOP_1x4_IF_OUTSIDE_RANGE_ELSE" },
    { "shipNet.fn.node[118].params", "{}" },
    { "shipNet.fn.node[119].inputs", "{63, 3, 67, 92, 114, 10, 29, }" },
    { "shipNet.fn.node[119].op", "ML_FOP_3x0_IF_GTEZ_ELSE" },
    { "shipNet.fn.node[119].params", "{}" },
    { "shipNet.fn.node[120].inputs", "{104, 87, }" },
    { "shipNet.fn.node[120].op", "ML_FOP_1x0_SEEDED_RANDOM_UNIT" },
    { "shipNet.fn.node[120].params", "{0.478522, 9.500000, 0.097386, 0.901463, 1.050000, 30.000000, 30.000000, }" },
    { "shipNet.fn.node[121].inputs", "{116, 91, 42, 109, }" },
    { "shipNet.fn.node[121].op", "ML_FOP_4x0_IF_GTE_ELSE" },
    { "shipNet.fn.node[121].params", "{1072.239624, 0.997500, 0.105431, 0.698418, 30.000000, 0.334852, 0.000000, }" },
    { "shipNet.fn.node[122].inputs", "{92, 91, 70, 6, }" },
    { "shipNet.fn.node[122].op", "ML_FOP_1x1_POW" },
    { "shipNet.fn.node[122].params", "{0.000000, 0.784328, 0.000000, 0.000000, 6.156543, 0.814852, 1.000000, }" },
    { "shipNet.fn.node[123].inputs", "{92, 98, 5, 8, 47, }" },
    { "shipNet.fn.node[123].op", "ML_FOP_1x1_PRODUCT" },
    { "shipNet.fn.node[123].params", "{0.000000, }" },
    { "shipNet.fn.node[124].inputs", "{109, 74, 83, }" },
    { "shipNet.fn.node[124].op", "ML_FOP_1x1_LINEAR_DOWN" },
    { "shipNet.fn.node[124].params", "{149.781906, 0.000000, 0.000000, 10.000000, }" },
    { "shipNet.fn.node[25].inputs", "{2, 14, 16, 22, 3, }" },
    { "shipNet.fn.node[25].op", "ML_FOP_Nx2_ACTIVATE_LINEAR_DOWN" },
    { "shipNet.fn.node[25].params", "{0.000000, 0.000000, }" },
    { "shipNet.fn.node[26].inputs", "{4, 22, 11, 4, 7, 9, }" },
    { "shipNet.fn.node[26].op", "ML_FOP_Nx0_PRODUCT" },
    { "shipNet.fn.node[26].params", "{14634.555664, 1746.313965, 0.082264, 920.512329, 0.188742, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[27].inputs", "{2, 19, 3, 22, }" },
    { "shipNet.fn.node[27].op", "ML_FOP_3x0_IF_LTEZ_ELSE" },
    { "shipNet.fn.node[27].params", "{}" },
    { "shipNet.fn.node[28].inputs", "{7, 3, 21, }" },
    { "shipNet.fn.node[28].op", "ML_FOP_NxN_SCALED_MIN" },
    { "shipNet.fn.node[28].params", "{1.000000, 0.000000, 0.000000, 6.257831, 1.050000, 0.477375, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[29].inputs", "{18, 16, 6, 12, 18, 23, 16, }" },
    { "shipNet.fn.node[29].op", "ML_FOP_2x2_IF_LTE_ELSE" },
    { "shipNet.fn.node[29].params", "{0.000000, 1047.890625, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[30].inputs", "{10, 9, }" },
    { "shipNet.fn.node[30].op", "ML_FOP_1x2_CLAMP_BROKEN" },
    { "shipNet.fn.node[30].params", "{2.098732, 1.507939, 0.521232, 309.714203, }" },
    { "shipNet.fn.node[31].inputs", "{}" },
    { "shipNet.fn.node[31].op", "ML_FOP_1x1_LTE" },
    { "shipNet.fn.node[31].params", "{0.000000, 2598.223633, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[32].inputs", "{18, 20, 23, 26, 9, 18, }" },
    { "shipNet.fn.node[32].op", "ML_FOP_1x4_IF_OUTSIDE_RANGE_ELSE" },
    { "shipNet.fn.node[32].params", "{4.133168, 5513.347168, 0.208593, }" },
    { "shipNet.fn.node[33].inputs", "{5, }" },
    { "shipNet.fn.node[33].op", "ML_FOP_Nx0_SUM" },
    { "shipNet.fn.node[33].params", "{0.000000, 0.000000, 0.000000, 0.000000, 0.000000, 1.540976, 0.891532, 0.000000, }" },
    { "shipNet.fn.node[34].inputs", "{27, 4, 27, 24, 19, }" },
    { "shipNet.fn.node[34].op", "ML_FOP_3x0_IF_LTEZ_ELSE" },
    { "shipNet.fn.node[34].params", "{}" },
    { "shipNet.fn.node[35].inputs", "{11, 27, 14, 18, 28, 6, }" },
    { "shipNet.fn.node[35].op", "ML_FOP_1x0_EXP" },
    { "shipNet.fn.node[35].params", "{0.000000, 0.000000, }" },
    { "shipNet.fn.node[36].inputs", "{26, 13, 1, 28, 18, }" },
    { "shipNet.fn.node[36].op", "ML_FOP_NxN_SELECT_UNIT_INTERVAL_WEIGHTED_LERP" },
    { "shipNet.fn.node[36].params", "{0.000000, 1.000000, 644.242493, 0.000000, 1.000000, 0.000000, }" },
    { "shipNet.fn.node[37].inputs", "{4, 12, 9, }" },
    { "shipNet.fn.node[37].op", "ML_FOP_5x0_IF_OUTSIDE_RANGE_ELSE" },
    { "shipNet.fn.node[37].params", "{2.927781, 1.556252, 177.735336, 147.223572, 0.000000, 0.971888, }" },
    { "shipNet.fn.node[38].inputs", "{11, 19, 2, 12, 3, 12, 6, 24, }" },
    { "shipNet.fn.node[38].op", "ML_FOP_1x0_PROB_NOT" },
    { "shipNet.fn.node[38].params", "{0.000000, 3.171843, 0.855000, 1.000000, 1573.303955, 1.032600, 1.000000, 1.000000, }" },
    { "shipNet.fn.node[39].inputs", "{}" },
    { "shipNet.fn.node[39].op", "ML_FOP_1x0_ARC_TANGENT" },
    { "shipNet.fn.node[39].params", "{1.000000, 0.000000, 0.095528, 0.623837, 0.000000, 0.000000, 1.000000, 0.000000, }" },
    { "shipNet.fn.node[40].inputs", "{18, 15, 11, 5, 24, 31, }" },
    { "shipNet.fn.node[40].op", "ML_FOP_Nx0_MAX" },
    { "shipNet.fn.node[40].params", "{0.000000, 0.000000, 143.249771, 0.091280, 1.000000, 0.000000, }" },
    { "shipNet.fn.node[41].inputs", "{10, 32, 0, 25, 13, 28, 38, 1, }" },
    { "shipNet.fn.node[41].op", "ML_FOP_0x1_CONSTANT" },
    { "shipNet.fn.node[41].params", "{}" },
    { "shipNet.fn.node[42].inputs", "{40, 34, 13, 3, 13, }" },
    { "shipNet.fn.node[42].op", "ML_FOP_1x3_SQRT" },
    { "shipNet.fn.node[42].params", "{1.000000, 0.101738, 1.000000, 1240.511597, 0.000000, }" },
    { "shipNet.fn.node[43].inputs", "{}" },
    { "shipNet.fn.node[43].op", "ML_FOP_Nx2_ACTIVATE_LINEAR_UP" },
    { "shipNet.fn.node[43].params", "{154.134720, }" },
    { "shipNet.fn.node[44].inputs", "{35, 10, 39, 24, 6, }" },
    { "shipNet.fn.node[44].op", "ML_FOP_1x0_SEEDED_RANDOM_UNIT" },
    { "shipNet.fn.node[44].params", "{0.000000, 0.950000, 17.738413, 1.000000, }" },
    { "shipNet.fn.node[45].inputs", "{11, 31, 8, }" },
    { "shipNet.fn.node[45].op", "ML_FOP_1x3_IF_LTE_ELSE" },
    { "shipNet.fn.node[45].params", "{}" },
    { "shipNet.fn.node[46].inputs", "{39, 28, 1, 37, 21, }" },
    { "shipNet.fn.node[46].op", "ML_FOP_1x0_HYP_SINE" },
    { "shipNet.fn.node[46].params", "{}" },
    { "shipNet.fn.node[47].inputs", "{29, 37, 36, 42, }" },
    { "shipNet.fn.node[47].op", "ML_FOP_1x3_SIN" },
    { "shipNet.fn.node[47].params", "{0.950000, 4904.760742, 0.513577, 0.000000, }" },
    { "shipNet.fn.node[48].inputs", "{14, }" },
    { "shipNet.fn.node[48].op", "ML_FOP_5x0_IF_INSIDE_RANGE_ELSE" },
    { "shipNet.fn.node[48].params", "{1.000000, }" },
    { "shipNet.fn.node[49].inputs", "{11, 26, 43, 29, 27, 16, 25, 15, }" },
    { "shipNet.fn.node[49].op", "ML_FOP_1x1_LINEAR_DOWN" },
    { "shipNet.fn.node[49].params", "{0.000000, 0.104806, }" },
    { "shipNet.fn.node[50].inputs", "{35, 6, 24, 48, }" },
    { "shipNet.fn.node[50].op", "ML_FOP_Nx1_ACTIVATE_THRESHOLD_UP" },
    { "shipNet.fn.node[50].params", "{1.050000, 918.469482, }" },
    { "shipNet.fn.node[51].inputs", "{35, 39, 5, }" },
    { "shipNet.fn.node[51].op", "ML_FOP_1x0_COS" },
    { "shipNet.fn.node[51].params", "{0.000000, 0.000000, }" },
    { "shipNet.fn.node[52].inputs", "{36, 26, }" },
    { "shipNet.fn.node[52].op", "ML_FOP_1x3_HYP_COSINE" },
    { "shipNet.fn.node[52].params", "{1.000000, 0.630374, 1.102500, 1.000000, 0.000000, }" },
    { "shipNet.fn.node[53].inputs", "{26, 24, }" },
    { "shipNet.fn.node[53].op", "ML_FOP_1x4_IF_INSIDE_RANGE_ELSE" },
    { "shipNet.fn.node[53].params", "{2057.991699, }" },
    { "shipNet.fn.node[54].inputs", "{21, 40, 30, 15, 33, 25, 45, 18, }" },
    { "shipNet.fn.node[54].op", "ML_FOP_1x0_ARC_COSINE" },
    { "shipNet.fn.node[54].params", "{}" },
    { "shipNet.fn.node[55].inputs", "{}" },
    { "shipNet.fn.node[55].op", "ML_FOP_1x0_CEIL" },
    { "shipNet.fn.node[55].params", "{}" },
    { "shipNet.fn.node[56].inputs", "{37, 26, 25, 39, }" },
    { "shipNet.fn.node[56].op", "ML_FOP_NxN_SELECT_LTE" },
    { "shipNet.fn.node[56].params", "{1.000000, 149.850906, }" },
    { "shipNet.fn.node[57].inputs", "{32, 18, 26, }" },
    { "shipNet.fn.node[57].op", "ML_FOP_1x0_SQRT" },
    { "shipNet.fn.node[57].params", "{0.000000, 0.000000, }" },
    { "shipNet.fn.node[58].inputs", "{47, 26, 40, 27, 23, 45, }" },
    { "shipNet.fn.node[58].op", "ML_FOP_1x0_COS" },
    { "shipNet.fn.node[58].params", "{1.000000, 0.000000, }" },
    { "shipNet.fn.node[59].inputs", "{}" },
    { "shipNet.fn.node[59].op", "ML_FOP_NxN_SCALED_MIN" },
    { "shipNet.fn.node[59].params", "{0.000000, 0.000000, 0.000000, 0.000000, 2031.970337, 0.000000, }" },
    { "shipNet.fn.node[60].inputs", "{39, 41, }" },
    { "shipNet.fn.node[60].op", "ML_FOP_Nx0_MAX" },
    { "shipNet.fn.node[60].params", "{954.130859, }" },
    { "shipNet.fn.node[61].inputs", "{27, }" },
    { "shipNet.fn.node[61].op", "ML_FOP_4x4_LINEAR_COMBINATION" },
    { "shipNet.fn.node[61].params", "{9668.650391, 1052.865601, 1.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[62].inputs", "{56, 40, 29, }" },
    { "shipNet.fn.node[62].op", "ML_FOP_Nx0_SELECT_UNIT_INTERVAL_STEP" },
    { "shipNet.fn.node[62].params", "{0.000000, 0.000000, 0.000000, 0.491904, 1.050000, }" },
    { "shipNet.fn.node[63].inputs", "{21, }" },
    { "shipNet.fn.node[63].op", "ML_FOP_1x2_OUTSIDE_RANGE" },
    { "shipNet.fn.node[63].params", "{1.102500, 1.000000, 1.000000, 0.619333, 1.000000, 0.108958, }" },
    { "shipNet.fn.node[64].inputs", "{34, 13, 53, }" },
    { "shipNet.fn.node[64].op", "ML_FOP_1x0_SQUARE" },
    { "shipNet.fn.node[64].params", "{3000.000000, 0.000000, 0.000000, 0.000000, 0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[65].inputs", "{0, 0, }" },
    { "shipNet.fn.node[65].op", "ML_FOP_1x3_HYP_COSINE" },
    { "shipNet.fn.node[65].params", "{0.000000, }" },
    { "shipNet.fn.node[66].inputs", "{}" },
    { "shipNet.fn.node[66].op", "ML_FOP_1x0_HYP_TANGENT" },
    { "shipNet.fn.node[66].params", "{}" },
    { "shipNet.fn.node[67].inputs", "{14, }" },
    { "shipNet.fn.node[67].op", "ML_FOP_2x2_IF_GTE_ELSE" },
    { "shipNet.fn.node[67].params", "{0.000000, 10.000000, 156.661469, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[68].inputs", "{30, 5, 64, }" },
    { "shipNet.fn.node[68].op", "ML_FOP_4x0_IF_LTE_ELSE" },
    { "shipNet.fn.node[68].params", "{0.000000, 0.571240, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[69].inputs", "{}" },
    { "shipNet.fn.node[69].op", "ML_FOP_1x0_SEEDED_RANDOM_UNIT" },
    { "shipNet.fn.node[69].params", "{}" },
    { "shipNet.fn.node[70].inputs", "{43, }" },
    { "shipNet.fn.node[70].op", "ML_FOP_0x0_ONE" },
    { "shipNet.fn.node[70].params", "{0.000000, 0.000000, 0.000000, 10.000000, 0.000000, }" },
    { "shipNet.fn.node[71].inputs", "{7, }" },
    { "shipNet.fn.node[71].op", "ML_FOP_NxN_SELECT_GTE" },
    { "shipNet.fn.node[71].params", "{0.000000, }" },
    { "shipNet.fn.node[72].inputs", "{54, 63, 31, 47, 17, 60, }" },
    { "shipNet.fn.node[72].op", "ML_FOP_1x2_SINE" },
    { "shipNet.fn.node[72].params", "{0.000000, 1083.363159, }" },
    { "shipNet.fn.node[73].inputs", "{57, 25, 62, 23, 35, 26, 1, }" },
    { "shipNet.fn.node[73].op", "ML_FOP_1x0_FLOOR" },
    { "shipNet.fn.node[73].params", "{301.344025, 0.000000, }" },
    { "shipNet.fn.node[74].inputs", "{21, 59, 40, 54, 9, }" },
    { "shipNet.fn.node[74].op", "ML_FOP_1x0_IDENTITY" },
    { "shipNet.fn.node[74].params", "{1.000000, 10.000000, 0.000000, 2885.842285, 1.000000, 1.000000, }" },
    { "shipNet.fn.node[75].inputs", "{11, }" },
    { "shipNet.fn.node[75].op", "ML_FOP_NxN_SELECT_UNIT_INTERVAL_WEIGHTED_LERP" },
    { "shipNet.fn.node[75].params", "{0.900000, 0.000000, 0.088224, 0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[76].inputs", "{11, 65, 7, }" },
    { "shipNet.fn.node[76].op", "ML_FOP_1xN_POLYNOMIAL_CLAMPED_UNIT" },
    { "shipNet.fn.node[76].params", "{0.000000, }" },
    { "shipNet.fn.node[77].inputs", "{32, 31, 71, 42, 20, 4, }" },
    { "shipNet.fn.node[77].op", "ML_FOP_2x0_SQUARE_SUM" },
    { "shipNet.fn.node[77].params", "{1.000000, 0.000000, 0.604820, }" },
    { "shipNet.fn.node[78].inputs", "{}" },
    { "shipNet.fn.node[78].op", "ML_FOP_2x2_IF_LTE_ELSE" },
    { "shipNet.fn.node[78].params", "{0.000000, }" },
    { "shipNet.fn.node[79].inputs", "{5, }" },
    { "shipNet.fn.node[79].op", "ML_FOP_1x0_IDENTITY" },
    { "shipNet.fn.node[79].params", "{}" },
    { "shipNet.fn.node[80].inputs", "{}" },
    { "shipNet.fn.node[80].op", "ML_FOP_Nx1_ACTIVATE_THRESHOLD_DOWN" },
    { "shipNet.fn.node[80].params", "{2.224042, 0.000000, 0.948949, 0.000000, 1.000000, }" },
    { "shipNet.fn.node[81].inputs", "{69, 60, }" },
    { "shipNet.fn.node[81].op", "ML_FOP_Nx0_ARITHMETIC_MEAN" },
    { "shipNet.fn.node[81].params", "{0.000000, 0.908529, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[82].inputs", "{24, 58, 27, 81, 29, 34, 75, }" },
    { "shipNet.fn.node[82].op", "ML_FOP_1x0_SEEDED_RANDOM_UNIT" },
    { "shipNet.fn.node[82].params", "{0.094212, 5901.746582, 1.000000, 1736.553467, }" },
    { "shipNet.fn.node[83].inputs", "{47, 21, 49, 58, }" },
    { "shipNet.fn.node[83].op", "ML_FOP_2x0_SUM" },
    { "shipNet.fn.node[83].params", "{932.316040, 3.130955, 0.000000, }" },
    { "shipNet.fn.node[84].inputs", "{55, 77, 2, 47, 56, 61, 73, }" },
    { "shipNet.fn.node[84].op", "ML_FOP_Nx1_POW_SUM" },
    { "shipNet.fn.node[84].params", "{0.000000, }" },
    { "shipNet.fn.node[85].inputs", "{20, 30, 17, 25, 9, 40, }" },
    { "shipNet.fn.node[85].op", "ML_FOP_1x3_IF_LTE_ELSE" },
    { "shipNet.fn.node[85].params", "{0.000000, 0.000000, }" },
    { "shipNet.fn.node[86].inputs", "{16, 50, 34, 30, 79, 7, 1, }" },
    { "shipNet.fn.node[86].op", "ML_FOP_1x4_IF_OUTSIDE_RANGE_ELSE" },
    { "shipNet.fn.node[86].params", "{0.152915, 0.000000, 1.000000, 0.000000, 0.000000, 12030.807617, }" },
    { "shipNet.fn.node[87].inputs", "{82, }" },
    { "shipNet.fn.node[87].op", "ML_FOP_1x0_FLOOR" },
    { "shipNet.fn.node[87].params", "{975.174622, 1.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[88].inputs", "{0, 25, 50, 41, 43, }" },
    { "shipNet.fn.node[88].op", "ML_FOP_1x1_FMOD" },
    { "shipNet.fn.node[88].params", "{0.099449, 160.142029, 0.000000, }" },
    { "shipNet.fn.node[89].inputs", "{36, 8, 60, 4, }" },
    { "shipNet.fn.node[89].op", "ML_FOP_1x0_HYP_SINE" },
    { "shipNet.fn.node[89].params", "{0.740862, 1.050000, }" },
    { "shipNet.fn.node[90].inputs", "{32, 78, 21, 54, 72, }" },
    { "shipNet.fn.node[90].op", "ML_FOP_Nx0_SELECT_UNIT_INTERVAL_STEP" },
    { "shipNet.fn.node[90].params", "{0.000000, }" },
    { "shipNet.fn.node[91].inputs", "{45, 22, 35, 1, 68, }" },
    { "shipNet.fn.node[91].op", "ML_FOP_1x2_CLAMPED_SCALE_TO_UNIT_BROKEN" },
    { "shipNet.fn.node[91].params", "{1666.244629, }" },
    { "shipNet.fn.node[92].inputs", "{67, }" },
    { "shipNet.fn.node[92].op", "ML_FOP_1x0_ABS_SINE" },
    { "shipNet.fn.node[92].params", "{0.000000, }" },
    { "shipNet.fn.node[93].inputs", "{23, 91, 62, }" },
    { "shipNet.fn.node[93].op", "ML_FOP_1x1_LINEAR_COMBINATION" },
    { "shipNet.fn.node[93].params", "{0.851002, 1.000000, 261.609894, 0.000000, }" },
    { "shipNet.fn.node[94].inputs", "{10, 77, 10, }" },
    { "shipNet.fn.node[94].op", "ML_FOP_3x2_IF_OUTSIDE_RANGE_CONST_ELSE" },
    { "shipNet.fn.node[94].params", "{7.578412, 2.499047, 0.900000, 587.598694, 0.380559, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[95].inputs", "{89, }" },
    { "shipNet.fn.node[95].op", "ML_FOP_1x2_INSIDE_RANGE" },
    { "shipNet.fn.node[95].params", "{20.793953, 448.835754, 1048.115723, 0.000000, }" },
    { "shipNet.fn.node[96].inputs", "{59, 12, 53, 33, 71, 41, }" },
    { "shipNet.fn.node[96].op", "ML_FOP_2x0_SQUARE_SUM" },
    { "shipNet.fn.node[96].params", "{0.000000, 9.212139, 0.000000, 0.237119, 0.102291, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[97].inputs", "{4, 93, 63, 29, 56, }" },
    { "shipNet.fn.node[97].op", "ML_FOP_1x3_COS" },
    { "shipNet.fn.node[97].params", "{0.168066, 0.000000, 0.000000, 146.162292, 0.000000, 0.000000, 0.000000, 1.489160, }" },
    { "shipNet.fn.node[98].inputs", "{85, 24, 80, 28, 67, }" },
    { "shipNet.fn.node[98].op", "ML_FOP_1x1_PRODUCT" },
    { "shipNet.fn.node[98].params", "{0.655044, 0.945000, 10.000000, 0.000000, 1.536522, 0.000000, }" },
    { "shipNet.fn.node[99].inputs", "{50, 54, 55, 35, 98, 57, }" },
    { "shipNet.fn.node[99].op", "ML_FOP_Nx2_ACTIVATE_LINEAR_UP" },
    { "shipNet.fn.node[99].params", "{1.000000, 0.000000, 28.500000, 1.000000, 0.495707, 0.087955, 1.479775, }" },
    { "shipNet.fn.numInputs", "25" },
    { "shipNet.fn.numNodes", "100" },
    { "shipNet.fn.numOutputs", "25" },
    { "gatherAbandonStale", "TRUE" },
    { "gatherRange", "50.784897" },
    { "guardRange", "88.486099" },
    { "shipNet.input[0].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[0].forceType", "NEURAL_FORCE_NEAREST_FRIEND_MISSILE" },
    { "shipNet.input[0].radius", "0.000000" },
    { "shipNet.input[0].useTangent", "FALSE" },
    { "shipNet.input[0].valueType", "NEURAL_VALUE_RANDOM_UNIT" },
    { "shipNet.input[10].crowdType", "NEURAL_CROWD_CORES" },
    { "shipNet.input[10].forceType", "NEURAL_FORCE_ENEMY" },
    { "shipNet.input[10].radius", "0.000000" },
    { "shipNet.input[10].useTangent", "TRUE" },
    { "shipNet.input[10].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[11].crowdType", "NEURAL_CROWD_BASE_ENEMY_SHIP" },
    { "shipNet.input[11].forceType", "NEURAL_FORCE_BASE" },
    { "shipNet.input[11].radius", "0.000000" },
    { "shipNet.input[11].useTangent", "TRUE" },
    { "shipNet.input[11].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[12].crowdType", "NEURAL_CROWD_FRIEND_MISSILE" },
    { "shipNet.input[12].forceType", "NEURAL_FORCE_NEAREST_FRIEND" },
    { "shipNet.input[12].frequency", "0.000000" },
    { "shipNet.input[12].radius", "0.000000" },
    { "shipNet.input[12].useTangent", "FALSE" },
    { "shipNet.input[12].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[12].waveType", "NEURAL_WAVE_SINE" },
    { "shipNet.input[13].crowdType", "NEURAL_CROWD_ENEMY_MISSILE" },
    { "shipNet.input[13].forceType", "NEURAL_FORCE_COHERE" },
    { "shipNet.input[13].frequency", "0.000000" },
    { "shipNet.input[13].radius", "0.000000" },
    { "shipNet.input[13].useTangent", "FALSE" },
    { "shipNet.input[13].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[13].waveType", "NEURAL_WAVE_SINE" },
    { "shipNet.input[14].crowdType", "NEURAL_CROWD_BASE_ENEMY_SHIP" },
    { "shipNet.input[14].forceType", "NEURAL_FORCE_ALIGN" },
    { "shipNet.input[14].frequency", "0.000000" },
    { "shipNet.input[14].radius", "0.000000" },
    { "shipNet.input[14].useTangent", "FALSE" },
    { "shipNet.input[14].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[14].waveType", "NEURAL_WAVE_FMOD" },
    { "shipNet.input[15].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[15].forceType", "NEURAL_FORCE_ENEMY_COHERE" },
    { "shipNet.input[15].radius", "0.000000" },
    { "shipNet.input[15].useTangent", "FALSE" },
    { "shipNet.input[15].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[16].crowdType", "NEURAL_CROWD_BASE_ENEMY_SHIP" },
    { "shipNet.input[16].forceType", "NEURAL_FORCE_ENEMY_COHERE" },
    { "shipNet.input[16].frequency", "0.000000" },
    { "shipNet.input[16].radius", "0.000000" },
    { "shipNet.input[16].useTangent", "TRUE" },
    { "shipNet.input[16].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[17].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[17].forceType", "NEURAL_FORCE_HEADING" },
    { "shipNet.input[17].frequency", "3898.708740" },
    { "shipNet.input[17].radius", "0.000000" },
    { "shipNet.input[17].useTangent", "FALSE" },
    { "shipNet.input[17].valueType", "NEURAL_VALUE_TICK" },
    { "shipNet.input[17].waveType", "NEURAL_WAVE_FMOD" },
    { "shipNet.input[18].crowdType", "NEURAL_CROWD_CORES" },
    { "shipNet.input[18].forceType", "NEURAL_FORCE_NEAREST_FRIEND_MISSILE" },
    { "shipNet.input[18].frequency", "0.000000" },
    { "shipNet.input[18].radius", "147.504044" },
    { "shipNet.input[18].useTangent", "TRUE" },
    { "shipNet.input[18].valueType", "NEURAL_VALUE_ZERO" },
    { "shipNet.input[18].waveType", "NEURAL_WAVE_ABS_SINE" },
    { "shipNet.input[19].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[19].forceType", "NEURAL_FORCE_ALIGN" },
    { "shipNet.input[19].radius", "-1.000000" },
    { "shipNet.input[19].useTangent", "FALSE" },
    { "shipNet.input[19].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[1].crowdType", "NEURAL_CROWD_CORES" },
    { "shipNet.input[1].forceType", "NEURAL_FORCE_BASE_DEFENSE" },
    { "shipNet.input[1].radius", "301.750824" },
    { "shipNet.input[1].useTangent", "TRUE" },
    { "shipNet.input[1].valueType", "NEURAL_VALUE_CREDITS" },
    { "shipNet.input[20].crowdType", "NEURAL_CROWD_BASE_FRIEND_SHIP" },
    { "shipNet.input[20].forceType", "NEURAL_FORCE_HEADING" },
    { "shipNet.input[20].radius", "0.000000" },
    { "shipNet.input[20].useTangent", "FALSE" },
    { "shipNet.input[20].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[20].waveType", "NEURAL_WAVE_FMOD" },
    { "shipNet.input[21].crowdType", "NEURAL_CROWD_BASE_FRIEND_SHIP" },
    { "shipNet.input[21].forceType", "NEURAL_FORCE_HEADING" },
    { "shipNet.input[21].frequency", "0.000000" },
    { "shipNet.input[21].radius", "-1.000000" },
    { "shipNet.input[21].useTangent", "TRUE" },
    { "shipNet.input[21].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[22].crowdType", "NEURAL_CROWD_BASE_FRIEND_SHIP" },
    { "shipNet.input[22].forceType", "NEURAL_FORCE_BASE" },
    { "shipNet.input[22].radius", "6.802381" },
    { "shipNet.input[22].useTangent", "TRUE" },
    { "shipNet.input[22].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[23].crowdType", "NEURAL_CROWD_BASE_ENEMY_SHIP" },
    { "shipNet.input[23].forceType", "NEURAL_FORCE_ALIGN" },
    { "shipNet.input[23].frequency", "0.000000" },
    { "shipNet.input[23].radius", "-1.000000" },
    { "shipNet.input[23].useTangent", "FALSE" },
    { "shipNet.input[23].valueType", "NEURAL_VALUE_FRIEND_SHIPS" },
    { "shipNet.input[23].waveType", "NEURAL_WAVE_NONE" },
    { "shipNet.input[24].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[24].forceType", "NEURAL_FORCE_BASE_DEFENSE" },
    { "shipNet.input[24].frequency", "0.000000" },
    { "shipNet.input[24].radius", "1086.721436" },
    { "shipNet.input[24].useTangent", "TRUE" },
    { "shipNet.input[24].valueType", "NEURAL_VALUE_MOBID" },
    { "shipNet.input[2].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[2].forceType", "NEURAL_FORCE_SEPARATE" },
    { "shipNet.input[2].radius", "148.709793" },
    { "shipNet.input[2].useTangent", "TRUE" },
    { "shipNet.input[2].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[3].crowdType", "NEURAL_CROWD_BASE_ENEMY_SHIP" },
    { "shipNet.input[3].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.input[3].radius", "-1.000000" },
    { "shipNet.input[3].useTangent", "TRUE" },
    { "shipNet.input[3].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[4].crowdType", "NEURAL_CROWD_ENEMY_MISSILE" },
    { "shipNet.input[4].forceType", "NEURAL_FORCE_BASE_DEFENSE" },
    { "shipNet.input[4].frequency", "5622.903809" },
    { "shipNet.input[4].radius", "0.000000" },
    { "shipNet.input[4].useTangent", "FALSE" },
    { "shipNet.input[4].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[5].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[5].forceType", "NEURAL_FORCE_ZERO" },
    { "shipNet.input[5].frequency", "0.000000" },
    { "shipNet.input[5].radius", "0.000000" },
    { "shipNet.input[5].useTangent", "TRUE" },
    { "shipNet.input[5].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[5].waveType", "NEURAL_WAVE_SINE" },
    { "shipNet.input[6].crowdType", "NEURAL_CROWD_BASE_ENEMY_SHIP" },
    { "shipNet.input[6].forceType", "NEURAL_FORCE_NEAREST_FRIEND_MISSILE" },
    { "shipNet.input[6].frequency", "0.000000" },
    { "shipNet.input[6].radius", "-0.950000" },
    { "shipNet.input[6].useTangent", "FALSE" },
    { "shipNet.input[6].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[6].waveType", "NEURAL_WAVE_NONE" },
    { "shipNet.input[7].crowdType", "NEURAL_CROWD_BASE_ENEMY_SHIP" },
    { "shipNet.input[7].forceType", "NEURAL_FORCE_ZERO" },
    { "shipNet.input[7].radius", "156.061691" },
    { "shipNet.input[7].useTangent", "TRUE" },
    { "shipNet.input[7].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[8].crowdType", "NEURAL_CROWD_BASE_FRIEND_SHIP" },
    { "shipNet.input[8].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.input[8].frequency", "0.000000" },
    { "shipNet.input[8].radius", "0.000000" },
    { "shipNet.input[8].useTangent", "FALSE" },
    { "shipNet.input[8].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[8].waveType", "NEURAL_WAVE_ABS_SINE" },
    { "shipNet.input[9].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[9].forceType", "NEURAL_FORCE_ALIGN" },
    { "shipNet.input[9].radius", "0.000000" },
    { "shipNet.input[9].useTangent", "TRUE" },
    { "shipNet.input[9].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.output[0].forceType", "NEURAL_FORCE_BASE" },
    { "shipNet.output[0].radius", "529.224609" },
    { "shipNet.output[0].useTangent", "FALSE" },
    { "shipNet.output[0].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[1].forceType", "NEURAL_FORCE_BASE_DEFENSE" },
    { "shipNet.output[1].radius", "1351.212036" },
    { "shipNet.output[1].useTangent", "FALSE" },
    { "shipNet.output[1].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[2].forceType", "NEURAL_FORCE_ENEMY_COHERE" },
    { "shipNet.output[2].radius", "159.202225" },
    { "shipNet.output[2].useTangent", "FALSE" },
    { "shipNet.output[2].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[3].forceType", "NEURAL_FORCE_ALIGN" },
    { "shipNet.output[3].radius", "-1.000000" },
    { "shipNet.output[3].useTangent", "FALSE" },
    { "shipNet.output[3].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[4].forceType", "NEURAL_FORCE_EDGES" },
    { "shipNet.output[4].radius", "1572.406860" },
    { "shipNet.output[4].useTangent", "FALSE" },
    { "shipNet.output[4].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[5].forceType", "NEURAL_FORCE_ALIGN" },
    { "shipNet.output[5].radius", "278.047913" },
    { "shipNet.output[5].useTangent", "TRUE" },
    { "shipNet.output[5].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[6].forceType", "NEURAL_FORCE_ENEMY_BASE" },
    { "shipNet.output[6].radius", "2541.187500" },
    { "shipNet.output[6].useTangent", "FALSE" },
    { "shipNet.output[6].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[7].forceType", "NEURAL_FORCE_ALIGN" },
    { "shipNet.output[7].radius", "0.000000" },
    { "shipNet.output[7].useTangent", "TRUE" },
    { "shipNet.output[7].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[8].forceType", "NEURAL_FORCE_CORNERS" },
    { "shipNet.output[8].radius", "-1.000000" },
    { "shipNet.output[8].useTangent", "FALSE" },
    { "shipNet.output[8].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[9].forceType", "NEURAL_FORCE_HEADING" },
    { "shipNet.output[9].radius", "1485.732910" },
    { "shipNet.output[9].useTangent", "TRUE" },
    { "shipNet.output[9].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[10].forceType", "NEURAL_FORCE_ALIGN" },
    { "shipNet.output[10].radius", "2742.620361" },
    { "shipNet.output[10].useTangent", "TRUE" },
    { "shipNet.output[10].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[11].forceType", "NEURAL_FORCE_COHERE" },
    { "shipNet.output[11].radius", "-1.000000" },
    { "shipNet.output[11].useTangent", "TRUE" },
    { "shipNet.output[11].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[12].forceType", "NEURAL_FORCE_SEPARATE" },
    { "shipNet.output[12].radius", "298.007172" },
    { "shipNet.output[12].useTangent", "FALSE" },
    { "shipNet.output[12].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[13].forceType", "NEURAL_FORCE_CORES" },
    { "shipNet.output[13].radius", "-1.000000" },
    { "shipNet.output[13].useTangent", "TRUE" },
    { "shipNet.output[13].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[14].forceType", "NEURAL_FORCE_EDGES" },
    { "shipNet.output[14].radius", "322.285767" },
    { "shipNet.output[14].useTangent", "TRUE" },
    { "shipNet.output[14].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[15].forceType", "NEURAL_FORCE_NEAREST_FRIEND" },
    { "shipNet.output[15].radius", "-1.000000" },
    { "shipNet.output[15].useTangent", "FALSE" },
    { "shipNet.output[15].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[16].forceType", "NEURAL_FORCE_BASE_DEFENSE" },
    { "shipNet.output[16].radius", "0.000000" },
    { "shipNet.output[16].useTangent", "TRUE" },
    { "shipNet.output[16].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[17].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.output[17].radius", "850.924561" },
    { "shipNet.output[17].useTangent", "FALSE" },
    { "shipNet.output[17].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[18].forceType", "NEURAL_FORCE_HEADING" },
    { "shipNet.output[18].radius", "298.878693" },
    { "shipNet.output[18].useTangent", "TRUE" },
    { "shipNet.output[18].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[19].forceType", "NEURAL_FORCE_CORNERS" },
    { "shipNet.output[19].radius", "3000.000000" },
    { "shipNet.output[19].useTangent", "TRUE" },
    { "shipNet.output[19].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[20].forceType", "NEURAL_FORCE_BASE" },
    { "shipNet.output[20].radius", "2963.549072" },
    { "shipNet.output[20].useTangent", "TRUE" },
    { "shipNet.output[20].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[21].forceType", "NEURAL_FORCE_ENEMY" },
    { "shipNet.output[21].radius", "-1.000000" },
    { "shipNet.output[21].useTangent", "FALSE" },
    { "shipNet.output[21].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[22].forceType", "NEURAL_FORCE_SEPARATE" },
    { "shipNet.output[22].radius", "1693.586426" },
    { "shipNet.output[22].useTangent", "FALSE" },
    { "shipNet.output[22].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[23].forceType", "NEURAL_FORCE_ENEMY_BASE_GUESS" },
    { "shipNet.output[23].radius", "981.496277" },
    { "shipNet.output[23].useTangent", "FALSE" },
    { "shipNet.output[23].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[24].forceType", "NEURAL_FORCE_HEADING" },
    { "shipNet.output[24].radius", "-1.000000" },
    { "shipNet.output[24].useTangent", "FALSE" },
    { "shipNet.output[24].valueType", "NEURAL_VALUE_FORCE" },
    { "rotateStartingAngle", "TRUE" },
    { "sensorGrid.staleCoreTime", "0.000000" },
    { "sensorGrid.staleFighterTime", "0.000000" },
    { "startingMaxRadius", "1464.813599" },
    { "startingMinRadius", "393.188904" },
