    { "attackExtendedRange", "TRUE" },
    { "attackRange", "133.011780" },
    { "creditReserve", "0.000000" },
    { "evadeFighters", "FALSE" },
    { "evadeRange", "114.199509" },
    { "evadeStrictDistance", "294.574341" },
    { "evadeUseStrictDistance", "FALSE" },
    { "shipNet.fn.node[100].inputs", "{7, }" },
    { "shipNet.fn.node[100].op", "ML_FOP_1x2_CLAMPED_SCALE_TO_UNIT_BROKEN" },
    { "shipNet.fn.node[100].params", "{1.000000, 1.000000, 0.950000, 10.000000, 1.000000, 0.000000, 0.000000, 152.136093, }" },
    { "shipNet.fn.node[101].inputs", "{11, 88, 0, 88, 0, }" },
    { "shipNet.fn.node[101].op", "ML_FOP_2x0_POW" },
    { "shipNet.fn.node[101].params", "{1.049379, 1.000000, 0.000000, 147.202896, }" },
    { "shipNet.fn.node[102].inputs", "{90, 40, }" },
    { "shipNet.fn.node[102].op", "ML_FOP_1x0_ARC_TANGENT" },
    { "shipNet.fn.node[102].params", "{0.857375, 1.997888, 0.297429, 0.776726, 1.465313, 0.000000, }" },
    { "shipNet.fn.node[103].inputs", "{86, 35, 64, 2, 47, 46, 91, 0, }" },
    { "shipNet.fn.node[103].op", "ML_FOP_0x0_ZERO" },
    { "shipNet.fn.node[103].params", "{6.222969, 1.000000, 1.000000, 2.184535, 0.456267, 1.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[104].inputs", "{36, 58, 0, 0, }" },
    { "shipNet.fn.node[104].op", "ML_FOP_1x0_FLOOR" },
    { "shipNet.fn.node[104].params", "{0.503308, 0.950000, 0.209238, }" },
    { "shipNet.fn.node[105].inputs", "{65, 81, 50, 64, }" },
    { "shipNet.fn.node[105].op", "ML_FOP_NxN_SCALED_MIN" },
    { "shipNet.fn.node[105].params", "{0.000000, -0.191005, 0.000000, }" },
    { "shipNet.fn.node[106].inputs", "{96, 103, 33, 102, 0, 77, }" },
    { "shipNet.fn.node[106].op", "ML_FOP_1x0_HYP_SINE" },
    { "shipNet.fn.node[106].params", "{}" },
    { "shipNet.fn.node[107].inputs", "{102, 22, 30, 46, 36, 55, 66, 0, }" },
    { "shipNet.fn.node[107].op", "ML_FOP_1x0_HYP_SINE" },
    { "shipNet.fn.node[107].params", "{905.291565, 0.000000, }" },
    { "shipNet.fn.node[108].inputs", "{87, 0, 0, }" },
    { "shipNet.fn.node[108].op", "ML_FOP_1x3_IF_GTE_ELSE" },
    { "shipNet.fn.node[108].params", "{0.000000, }" },
    { "shipNet.fn.node[109].inputs", "{76, }" },
    { "shipNet.fn.node[109].op", "ML_FOP_4x0_IF_LTE_ELSE" },
    { "shipNet.fn.node[109].params", "{1.000000, 1.000000, 1.090737, 30.000000, 0.000000, }" },
    { "shipNet.fn.node[110].inputs", "{5, 40, 5, 0, 89, }" },
    { "shipNet.fn.node[110].op", "ML_FOP_1x0_ARC_SINE" },
    { "shipNet.fn.node[110].params", "{}" },
    { "shipNet.fn.node[111].inputs", "{87, 0, 78, }" },
    { "shipNet.fn.node[111].op", "ML_FOP_1x2_CLAMPED_SCALE_TO_UNIT_BROKEN" },
    { "shipNet.fn.node[111].params", "{0.018777, 0.000000, }" },
    { "shipNet.fn.node[112].inputs", "{}" },
    { "shipNet.fn.node[112].op", "ML_FOP_1x2_CLAMP_BROKEN" },
    { "shipNet.fn.node[112].params", "{0.000000, }" },
    { "shipNet.fn.node[113].inputs", "{46, 22, }" },
    { "shipNet.fn.node[113].op", "ML_FOP_1x0_ABS" },
    { "shipNet.fn.node[113].params", "{0.000000, 0.101138, 0.000000, 0.950000, 7459.850586, 0.659153, }" },
    { "shipNet.fn.node[114].inputs", "{19, 74, 0, }" },
    { "shipNet.fn.node[114].op", "ML_FOP_1x0_HYP_COSINE" },
    { "shipNet.fn.node[114].params", "{0.000000, 0.000000, 0.493492, }" },
    { "shipNet.fn.node[115].inputs", "{}" },
    { "shipNet.fn.node[115].op", "ML_FOP_1x0_ABS" },
    { "shipNet.fn.node[115].params", "{1.050000, 0.715531, 0.000000, 0.916175, 1.000000, 1.000000, 1.000000, 0.000000, }" },
    { "shipNet.fn.node[116].inputs", "{28, 53, 101, 22, 34, 63, }" },
    { "shipNet.fn.node[116].op", "ML_FOP_1x1_FMOD" },
    { "shipNet.fn.node[116].params", "{0.215876, }" },
    { "shipNet.fn.node[117].inputs", "{}" },
    { "shipNet.fn.node[117].op", "ML_FOP_1x0_LN" },
    { "shipNet.fn.node[117].params", "{0.226245, 1.000000, 0.000000, 0.000000, 0.000000, 0.212163, }" },
    { "shipNet.fn.node[118].inputs", "{0, }" },
    { "shipNet.fn.node[118].op", "ML_FOP_1x0_SQUARE" },
    { "shipNet.fn.node[118].params", "{1.000000, 1.000000, 0.623475, 0.692937, }" },
    { "shipNet.fn.node[119].inputs", "{76, 66, 53, 53, }" },
    { "shipNet.fn.node[119].op", "ML_FOP_1x0_IDENTITY" },
    { "shipNet.fn.node[119].params", "{1.000000, 0.000000, }" },
    { "shipNet.fn.node[120].inputs", "{34, 0, 0, }" },
    { "shipNet.fn.node[120].op", "ML_FOP_1x0_SQUARE" },
    { "shipNet.fn.node[120].params", "{1.000000, 0.181950, 1.000000, 1.494534, 0.176735, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[121].inputs", "{}" },
    { "shipNet.fn.node[121].op", "ML_FOP_Nx0_GEOMETRIC_MEAN" },
    { "shipNet.fn.node[121].params", "{0.195032, 1.000000, }" },
    { "shipNet.fn.node[122].inputs", "{102, 47, 26, }" },
    { "shipNet.fn.node[122].op", "ML_FOP_1x0_SEEDED_RANDOM_UNIT" },
    { "shipNet.fn.node[122].params", "{1.000000, 0.988650, 7.784729, 0.928666, 0.000000, 1.000000, }" },
    { "shipNet.fn.node[123].inputs", "{}" },
    { "shipNet.fn.node[123].op", "ML_FOP_1x1_STRICT_OFF" },
    { "shipNet.fn.node[123].params", "{0.000000, 0.990000, 0.352179, 0.950000, 0.007601, 4.214412, }" },
    { "shipNet.fn.node[124].inputs", "{41, }" },
    { "shipNet.fn.node[124].op", "ML_FOP_1x1_LINEAR_DOWN" },
    { "shipNet.fn.node[124].params", "{5000.000000, 1.000000, 3649.973633, 1.000000, 0.000000, }" },
    { "shipNet.fn.node[25].inputs", "{17, 23, 0, 4, 20, 12, 10, }" },
    { "shipNet.fn.node[25].op", "ML_FOP_1x0_HYP_TANGENT" },
    { "shipNet.fn.node[25].params", "{0.094478, 0.072324, 1.050000, 0.900000, 642.126099, 0.000000, }" },
    { "shipNet.fn.node[26].inputs", "{15, 7, 14, 23, }" },
    { "shipNet.fn.node[26].op", "ML_FOP_NxN_SELECT_LTE" },
    { "shipNet.fn.node[26].params", "{0.000000, }" },
    { "shipNet.fn.node[27].inputs", "{0, 1, 7, 9, 19, 0, }" },
    { "shipNet.fn.node[27].op", "ML_FOP_NxN_SELECT_LTE" },
    { "shipNet.fn.node[27].params", "{0.084861, 0.218325, 9603.860352, 1.000000, }" },
    { "shipNet.fn.node[28].inputs", "{21, 8, 25, 26, }" },
    { "shipNet.fn.node[28].op", "ML_FOP_1x0_HYP_SINE" },
    { "shipNet.fn.node[28].params", "{1.416955, 0.206054, 0.000000, }" },
    { "shipNet.fn.node[29].inputs", "{}" },
    { "shipNet.fn.node[29].op", "ML_FOP_4x0_IF_GTE_ELSE" },
    { "shipNet.fn.node[29].params", "{}" },
    { "shipNet.fn.node[30].inputs", "{3, 5, 28, 10, 25, 0, }" },
    { "shipNet.fn.node[30].op", "ML_FOP_4x0_IF_LTE_ELSE" },
    { "shipNet.fn.node[30].params", "{0.077485, 0.000000, }" },
    { "shipNet.fn.node[31].inputs", "{25, 25, 3, 21, 26, }" },
    { "shipNet.fn.node[31].op", "ML_FOP_1x0_SQRT" },
    { "shipNet.fn.node[31].params", "{15379.475586, 31.499998, 0.201257, }" },
    { "shipNet.fn.node[32].inputs", "{28, 26, 11, 25, 25, 24, 29, 9, }" },
    { "shipNet.fn.node[32].op", "ML_FOP_1x0_ARC_SINE" },
    { "shipNet.fn.node[32].params", "{0.000000, 1.000000, 1.000000, 1.041990, 0.000000, }" },
    { "shipNet.fn.node[33].inputs", "{20, 9, 16, 24, }" },
    { "shipNet.fn.node[33].op", "ML_FOP_1x3_IF_GTE_ELSE" },
    { "shipNet.fn.node[33].params", "{1.000000, 1.000000, 1.584845, }" },
    { "shipNet.fn.node[34].inputs", "{0, }" },
    { "shipNet.fn.node[34].op", "ML_FOP_1x1_LINEAR_COMBINATION" },
    { "shipNet.fn.node[34].params", "{1.000000, 5.002481, 238.109650, 0.000000, }" },
    { "shipNet.fn.node[35].inputs", "{33, 2, 0, 17, }" },
    { "shipNet.fn.node[35].op", "ML_FOP_1x0_ARC_COSINE" },
    { "shipNet.fn.node[35].params", "{0.536906, }" },
    { "shipNet.fn.node[36].inputs", "{8, 2, 13, 21, }" },
    { "shipNet.fn.node[36].op", "ML_FOP_1x0_ARC_SINE" },
    { "shipNet.fn.node[36].params", "{1.000000, 0.000000, }" },
    { "shipNet.fn.node[37].inputs", "{}" },
    { "shipNet.fn.node[37].op", "ML_FOP_Nx0_PRODUCT" },
    { "shipNet.fn.node[37].params", "{0.783102, 1.000000, 1.000000, 0.210748, 0.000000, }" },
    { "shipNet.fn.node[38].inputs", "{22, 24, 17, 25, 4, 3, 0, }" },
    { "shipNet.fn.node[38].op", "ML_FOP_3x3_LINEAR_COMBINATION" },
    { "shipNet.fn.node[38].params", "{0.000000, 1.000000, 0.000000, }" },
    { "shipNet.fn.node[39].inputs", "{12, 37, 0, 4, 8, 9, 11, }" },
    { "shipNet.fn.node[39].op", "ML_FOP_1x2_SINE" },
    { "shipNet.fn.node[39].params", "{5000.000000, 1.022362, 4.849816, 0.683039, 249.913193, 0.798492, 0.211210, }" },
    { "shipNet.fn.node[40].inputs", "{28, 10, 19, 4, 0, }" },
    { "shipNet.fn.node[40].op", "ML_FOP_1x2_INSIDE_RANGE" },
    { "shipNet.fn.node[40].params", "{0.631652, 1.050000, 1.000000, 0.000000, 0.186076, }" },
    { "shipNet.fn.node[41].inputs", "{21, 0, }" },
    { "shipNet.fn.node[41].op", "ML_FOP_1x0_ARC_TANGENT" },
    { "shipNet.fn.node[41].params", "{1.000000, 0.414951, 0.382622, 0.000000, }" },
    { "shipNet.fn.node[42].inputs", "{17, 28, 16, 16, 32, 29, 36, }" },
    { "shipNet.fn.node[42].op", "ML_FOP_1x0_ARC_SINE" },
    { "shipNet.fn.node[42].params", "{2850.000000, 1015.560608, 2.277452, 1.000000, 0.950000, 0.868878, 10000.000000, 0.000000, }" },
    { "shipNet.fn.node[43].inputs", "{0, }" },
    { "shipNet.fn.node[43].op", "ML_FOP_NxN_SELECT_LTE" },
    { "shipNet.fn.node[43].params", "{0.789896, 0.000000, }" },
    { "shipNet.fn.node[44].inputs", "{40, 12, 17, 11, }" },
    { "shipNet.fn.node[44].op", "ML_FOP_1x0_HYP_TANGENT" },
    { "shipNet.fn.node[44].params", "{0.000000, }" },
    { "shipNet.fn.node[45].inputs", "{29, 8, 43, 30, 0, }" },
    { "shipNet.fn.node[45].op", "ML_FOP_1x0_SQUARE" },
    { "shipNet.fn.node[45].params", "{1.000000, 4582.076660, 0.519133, 1.000000, 2925.772705, 0.000000, 1.000000, 1.000000, }" },
    { "shipNet.fn.node[46].inputs", "{}" },
    { "shipNet.fn.node[46].op", "ML_FOP_Nx0_PRODUCT" },
    { "shipNet.fn.node[46].params", "{0.945000, 0.000000, }" },
    { "shipNet.fn.node[47].inputs", "{6, 0, }" },
    { "shipNet.fn.node[47].op", "ML_FOP_NxN_SELECT_GTE" },
    { "shipNet.fn.node[47].params", "{3.272798, 1.000000, 979.790344, 0.183023, 0.000000, }" },
    { "shipNet.fn.node[48].inputs", "{41, 30, 30, 42, }" },
    { "shipNet.fn.node[48].op", "ML_FOP_1x1_POW" },
    { "shipNet.fn.node[48].params", "{1.000000, 3997.159668, 30.000000, }" },
    { "shipNet.fn.node[49].inputs", "{39, 24, 14, 1, 41, 22, 29, }" },
    { "shipNet.fn.node[49].op", "ML_FOP_1x0_IDENTITY" },
    { "shipNet.fn.node[49].params", "{0.000000, }" },
    { "shipNet.fn.node[50].inputs", "{29, 45, 22, 12, 0, }" },
    { "shipNet.fn.node[50].op", "ML_FOP_1x1_LINEAR_UP" },
    { "shipNet.fn.node[50].params", "{0.000000, 0.000000, }" },
    { "shipNet.fn.node[51].inputs", "{15, }" },
    { "shipNet.fn.node[51].op", "ML_FOP_1x0_FLOOR" },
    { "shipNet.fn.node[51].params", "{1.000000, }" },
    { "shipNet.fn.node[52].inputs", "{36, 5, 8, 33, 30, 30, }" },
    { "shipNet.fn.node[52].op", "ML_FOP_1x2_CLAMP_BROKEN" },
    { "shipNet.fn.node[52].params", "{0.190338, }" },
    { "shipNet.fn.node[53].inputs", "{18, 44, 15, 37, }" },
    { "shipNet.fn.node[53].op", "ML_FOP_1x1_QUADRATIC_DOWN" },
    { "shipNet.fn.node[53].params", "{1.000000, 0.489412, 0.382849, 0.000000, 1.000000, 0.000000, 1.000000, 0.000000, }" },
    { "shipNet.fn.node[54].inputs", "{}" },
    { "shipNet.fn.node[54].op", "ML_FOP_1x0_SQUARE" },
    { "shipNet.fn.node[54].params", "{2.528571, 0.855000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[55].inputs", "{24, 7, 0, 3, 0, }" },
    { "shipNet.fn.node[55].op", "ML_FOP_1x3_IF_GTE_ELSE" },
    { "shipNet.fn.node[55].params", "{0.172299, 0.179451, 1230.490234, 2109.739502, }" },
    { "shipNet.fn.node[56].inputs", "{40, 0, 0, 0, 0, }" },
    { "shipNet.fn.node[56].op", "ML_FOP_NxN_SELECT_GTE" },
    { "shipNet.fn.node[56].params", "{6.443426, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[57].inputs", "{31, }" },
    { "shipNet.fn.node[57].op", "ML_FOP_Nx0_MAX" },
    { "shipNet.fn.node[57].params", "{}" },
    { "shipNet.fn.node[58].inputs", "{55, 42, 0, 19, }" },
    { "shipNet.fn.node[58].op", "ML_FOP_1x0_IDENTITY" },
    { "shipNet.fn.node[58].params", "{1.000000, 0.783627, 0.642635, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[59].inputs", "{17, 51, 12, 20, 32, }" },
    { "shipNet.fn.node[59].op", "ML_FOP_Nx0_GEOMETRIC_MEAN" },
    { "shipNet.fn.node[59].params", "{1.000000, 1.621147, 1.000000, 0.199813, 0.000000, }" },
    { "shipNet.fn.node[60].inputs", "{0, 0, 28, 38, 25, 55, }" },
    { "shipNet.fn.node[60].op", "ML_FOP_1x2_CLAMPED_SCALE_FROM_UNIT_BROKEN" },
    { "shipNet.fn.node[60].params", "{}" },
    { "shipNet.fn.node[61].inputs", "{25, 52, 12, 9, 26, 0, 0, }" },
    { "shipNet.fn.node[61].op", "ML_FOP_1x0_LN" },
    { "shipNet.fn.node[61].params", "{1.000000, 1.050000, 0.177038, 30.000000, }" },
    { "shipNet.fn.node[62].inputs", "{51, 40, 51, 9, 26, 40, 10, }" },
    { "shipNet.fn.node[62].op", "ML_FOP_1x1_STRICT_OFF" },
    { "shipNet.fn.node[62].params", "{0.758409, 0.413233, 302.113861, 0.210529, 0.171193, 0.950000, }" },
    { "shipNet.fn.node[63].inputs", "{61, 47, 48, 4, 60, }" },
    { "shipNet.fn.node[63].op", "ML_FOP_NxN_SCALED_MAX" },
    { "shipNet.fn.node[63].params", "{6390.575195, 3000.000000, }" },
    { "shipNet.fn.node[64].inputs", "{0, }" },
    { "shipNet.fn.node[64].op", "ML_FOP_Nx0_MAX" },
    { "shipNet.fn.node[64].params", "{0.599105, 259.719025, 0.000000, 0.726580, 0.000000, 0.000000, 1.000000, 0.900000, }" },
    { "shipNet.fn.node[65].inputs", "{63, 18, 49, 31, }" },
    { "shipNet.fn.node[65].op", "ML_FOP_1x0_ARC_TANGENT" },
    { "shipNet.fn.node[65].params", "{30.000000, 0.000000, }" },
    { "shipNet.fn.node[66].inputs", "{44, 51, 25, 23, 9, 44, 64, }" },
    { "shipNet.fn.node[66].op", "ML_FOP_1x0_HYP_TANGENT" },
    { "shipNet.fn.node[66].params", "{0.155248, 2824.060547, 0.380564, 0.000000, 1.050000, 0.000000, }" },
    { "shipNet.fn.node[67].inputs", "{39, 37, 0, 32, }" },
    { "shipNet.fn.node[67].op", "ML_FOP_1x2_CLAMP_BROKEN" },
    { "shipNet.fn.node[67].params", "{0.000000, 0.189426, 0.000000, }" },
    { "shipNet.fn.node[68].inputs", "{0, }" },
    { "shipNet.fn.node[68].op", "ML_FOP_1x1_LTE" },
    { "shipNet.fn.node[68].params", "{1.000000, 0.137625, 1.000000, 1.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[69].inputs", "{32, 0, 0, 57, 4, }" },
    { "shipNet.fn.node[69].op", "ML_FOP_1x0_SQRT" },
    { "shipNet.fn.node[69].params", "{0.790218, 1.000000, 0.900000, 0.000000, 1.677785, 0.000000, }" },
    { "shipNet.fn.node[70].inputs", "{}" },
    { "shipNet.fn.node[70].op", "ML_FOP_Nx0_GEOMETRIC_MEAN" },
    { "shipNet.fn.node[70].params", "{0.900000, 1.000000, 1.000000, 1.000000, 0.187234, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[71].inputs", "{0, }" },
    { "shipNet.fn.node[71].op", "ML_FOP_Nx0_PRODUCT" },
    { "shipNet.fn.node[71].params", "{0.393941, 1.030957, 0.600050, 0.183542, }" },
    { "shipNet.fn.node[72].inputs", "{26, 38, 11, }" },
    { "shipNet.fn.node[72].op", "ML_FOP_1x1_LINEAR_UP" },
    { "shipNet.fn.node[72].params", "{0.000000, 0.900000, 0.000000, 0.200790, }" },
    { "shipNet.fn.node[73].inputs", "{14, 32, 72, 33, 70, 52, 0, }" },
    { "shipNet.fn.node[73].op", "ML_FOP_1x0_LN" },
    { "shipNet.fn.node[73].params", "{0.950000, 2159.985596, }" },
    { "shipNet.fn.node[74].inputs", "{2, }" },
    { "shipNet.fn.node[74].op", "ML_FOP_1x0_ARC_TANGENT" },
    { "shipNet.fn.node[74].params", "{0.855816, 30.000000, 0.509858, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[75].inputs", "{7, 38, 39, 44, 30, 0, }" },
    { "shipNet.fn.node[75].op", "ML_FOP_1x2_CLAMP_BROKEN" },
    { "shipNet.fn.node[75].params", "{0.000000, }" },
    { "shipNet.fn.node[76].inputs", "{33, 23, 20, 46, 12, }" },
    { "shipNet.fn.node[76].op", "ML_FOP_4x0_IF_LTE_ELSE" },
    { "shipNet.fn.node[76].params", "{0.871613, 0.997500, 1.050000, 0.206722, 0.461847, 0.201719, 0.000000, 0.192487, }" },
    { "shipNet.fn.node[77].inputs", "{46, 56, 20, 42, 6, 65, 73, 51, }" },
    { "shipNet.fn.node[77].op", "ML_FOP_4x4_LINEAR_COMBINATION" },
    { "shipNet.fn.node[77].params", "{0.000000, 1.091043, 0.000000, }" },
    { "shipNet.fn.node[78].inputs", "{15, 65, 20, 14, }" },
    { "shipNet.fn.node[78].op", "ML_FOP_NxN_SELECT_LTE" },
    { "shipNet.fn.node[78].params", "{1.000000, 156.861221, 0.000000, }" },
    { "shipNet.fn.node[79].inputs", "{}" },
    { "shipNet.fn.node[79].op", "ML_FOP_NxN_SELECT_GTE" },
    { "shipNet.fn.node[79].params", "{1.102500, 1.485114, }" },
    { "shipNet.fn.node[80].inputs", "{68, 73, 39, 64, 11, 0, 0, }" },
    { "shipNet.fn.node[80].op", "ML_FOP_1x0_IDENTITY" },
    { "shipNet.fn.node[80].params", "{30.000000, 1.000000, 1064.743652, 0.421881, 0.000000, 0.196257, 0.201160, 0.000000, }" },
    { "shipNet.fn.node[81].inputs", "{0, }" },
    { "shipNet.fn.node[81].op", "ML_FOP_1x1_POW" },
    { "shipNet.fn.node[81].params", "{0.463067, 1.000000, 0.000000, }" },
    { "shipNet.fn.node[82].inputs", "{45, 1, 37, 2, 0, 0, 13, }" },
    { "shipNet.fn.node[82].op", "ML_FOP_2x0_SUM" },
    { "shipNet.fn.node[82].params", "{149.361816, 1.000000, }" },
    { "shipNet.fn.node[83].inputs", "{}" },
    { "shipNet.fn.node[83].op", "ML_FOP_1x2_OUTSIDE_RANGE" },
    { "shipNet.fn.node[83].params", "{}" },
    { "shipNet.fn.node[84].inputs", "{}" },
    { "shipNet.fn.node[84].op", "ML_FOP_Nx0_SUM" },
    { "shipNet.fn.node[84].params", "{}" },
    { "shipNet.fn.node[85].inputs", "{64, }" },
    { "shipNet.fn.node[85].op", "ML_FOP_NxN_SCALED_MAX" },
    { "shipNet.fn.node[85].params", "{246.428375, 0.000000, }" },
    { "shipNet.fn.node[86].inputs", "{9, 5, 48, 15, 55, 22, }" },
    { "shipNet.fn.node[86].op", "ML_FOP_2x2_LINEAR_COMBINATION" },
    { "shipNet.fn.node[86].params", "{1670.011353, 0.990000, 1.003730, 0.633820, 0.900000, 0.000000, }" },
    { "shipNet.fn.node[87].inputs", "{4, 10, }" },
    { "shipNet.fn.node[87].op", "ML_FOP_0x1_CONSTANT" },
    { "shipNet.fn.node[87].params", "{255.072739, 0.197245, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[88].inputs", "{}" },
    { "shipNet.fn.node[88].op", "ML_FOP_NxN_LINEAR_COMBINATION" },
    { "shipNet.fn.node[88].params", "{0.000000, 0.000000, }" },
    { "shipNet.fn.node[89].inputs", "{85, 13, 75, 27, 77, 20, 0, }" },
    { "shipNet.fn.node[89].op", "ML_FOP_1x1_LINEAR_UP" },
    { "shipNet.fn.node[89].params", "{1.000000, 10.000000, 28.622387, 1626.692627, 0.000000, }" },
    { "shipNet.fn.node[90].inputs", "{58, }" },
    { "shipNet.fn.node[90].op", "ML_FOP_1x2_SINE" },
    { "shipNet.fn.node[90].params", "{}" },
    { "shipNet.fn.node[91].inputs", "{12, 38, 0, 0, }" },
    { "shipNet.fn.node[91].op", "ML_FOP_Nx0_PRODUCT" },
    { "shipNet.fn.node[91].params", "{}" },
    { "shipNet.fn.node[92].inputs", "{30, }" },
    { "shipNet.fn.node[92].op", "ML_FOP_1x2_CLAMPED_SCALE_FROM_UNIT_BROKEN" },
    { "shipNet.fn.node[92].params", "{0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[93].inputs", "{67, 11, 29, }" },
    { "shipNet.fn.node[93].op", "ML_FOP_1x2_INSIDE_RANGE" },
    { "shipNet.fn.node[93].params", "{0.000000, }" },
    { "shipNet.fn.node[94].inputs", "{60, 0, }" },
    { "shipNet.fn.node[94].op", "ML_FOP_1x2_CLAMP_BROKEN" },
    { "shipNet.fn.node[94].params", "{}" },
    { "shipNet.fn.node[95].inputs", "{29, 60, 67, 34, 77, 83, 32, }" },
    { "shipNet.fn.node[95].op", "ML_FOP_1x1_QUADRATIC_DOWN" },
    { "shipNet.fn.node[95].params", "{}" },
    { "shipNet.fn.node[96].inputs", "{81, 6, 29, }" },
    { "shipNet.fn.node[96].op", "ML_FOP_1x3_IF_GTE_ELSE" },
    { "shipNet.fn.node[96].params", "{0.735811, }" },
    { "shipNet.fn.node[97].inputs", "{}" },
    { "shipNet.fn.node[97].op", "ML_FOP_1x1_FMOD" },
    { "shipNet.fn.node[97].params", "{3000.000000, 1.000000, }" },
    { "shipNet.fn.node[98].inputs", "{66, 8, 90, 65, 26, 72, 14, 15, }" },
    { "shipNet.fn.node[98].op", "ML_FOP_1x0_INVERSE" },
    { "shipNet.fn.node[98].params", "{0.501933, 1.000000, 1.000000, 0.279998, 0.000000, 0.206358, }" },
    { "shipNet.fn.node[99].inputs", "{72, 53, }" },
    { "shipNet.fn.node[99].op", "ML_FOP_1x0_LN" },
    { "shipNet.fn.node[99].params", "{0.000000, }" },
    { "shipNet.fn.numInputs", "25" },
    { "shipNet.fn.numNodes", "100" },
    { "shipNet.fn.numOutputs", "25" },
    { "gatherAbandonStale", "TRUE" },
    { "gatherRange", "51.553398" },
    { "guardRange", "80.259506" },
    { "shipNet.input[0].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[0].radius", "0.000000" },
    { "shipNet.input[0].useTangent", "TRUE" },
    { "shipNet.input[0].valueType", "NEURAL_VALUE_ZERO" },
    { "shipNet.input[10].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[10].forceType", "NEURAL_FORCE_CORNERS" },
    { "shipNet.input[10].radius", "0.000000" },
    { "shipNet.input[10].useTangent", "TRUE" },
    { "shipNet.input[10].valueType", "NEURAL_VALUE_RANDOM_UNIT" },
    { "shipNet.input[11].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[11].forceType", "NEURAL_FORCE_NEAREST_FRIEND_MISSILE" },
    { "shipNet.input[11].radius", "0.000000" },
    { "shipNet.input[11].useTangent", "FALSE" },
    { "shipNet.input[11].valueType", "NEURAL_VALUE_MOBID" },
    { "shipNet.input[12].forceType", "NEURAL_FORCE_BASE" },
    { "shipNet.input[12].radius", "0.000000" },
    { "shipNet.input[12].useTangent", "TRUE" },
    { "shipNet.input[12].valueType", "NEURAL_VALUE_FRIEND_SHIPS" },
    { "shipNet.input[13].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[13].forceType", "NEURAL_FORCE_BASE_DEFENSE" },
    { "shipNet.input[13].radius", "0.000000" },
    { "shipNet.input[13].useTangent", "TRUE" },
    { "shipNet.input[13].valueType", "NEURAL_VALUE_CREDITS" },
    { "shipNet.input[14].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[14].forceType", "NEURAL_FORCE_ZERO" },
    { "shipNet.input[14].radius", "0.000000" },
    { "shipNet.input[14].useTangent", "FALSE" },
    { "shipNet.input[14].valueType", "NEURAL_VALUE_TICK" },
    { "shipNet.input[15].crowdType", "NEURAL_CROWD_CORES" },
    { "shipNet.input[15].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.input[15].radius", "0.000000" },
    { "shipNet.input[15].useTangent", "TRUE" },
    { "shipNet.input[15].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[16].crowdType", "NEURAL_CROWD_ENEMY_MISSILE" },
    { "shipNet.input[16].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.input[16].radius", "0.000000" },
    { "shipNet.input[16].useTangent", "FALSE" },
    { "shipNet.input[16].valueType", "NEURAL_VALUE_ZERO" },
    { "shipNet.input[17].crowdType", "NEURAL_CROWD_BASE_FRIEND_SHIP" },
    { "shipNet.input[17].forceType", "NEURAL_FORCE_NEAREST_FRIEND" },
    { "shipNet.input[17].radius", "0.000000" },
    { "shipNet.input[17].useTangent", "FALSE" },
    { "shipNet.input[17].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[18].crowdType", "NEURAL_CROWD_BASE_FRIEND_SHIP" },
    { "shipNet.input[18].forceType", "NEURAL_FORCE_BASE_DEFENSE" },
    { "shipNet.input[18].radius", "0.000000" },
    { "shipNet.input[18].useTangent", "TRUE" },
    { "shipNet.input[18].valueType", "NEURAL_VALUE_MOBID" },
    { "shipNet.input[19].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[19].radius", "-1.000000" },
    { "shipNet.input[19].useTangent", "TRUE" },
    { "shipNet.input[19].valueType", "NEURAL_VALUE_MOBID" },
    { "shipNet.input[1].crowdType", "NEURAL_CROWD_CORES" },
    { "shipNet.input[1].forceType", "NEURAL_FORCE_ALIGN" },
    { "shipNet.input[1].radius", "0.000000" },
    { "shipNet.input[1].useTangent", "TRUE" },
    { "shipNet.input[1].valueType", "NEURAL_VALUE_RANDOM_UNIT" },
    { "shipNet.input[20].crowdType", "NEURAL_CROWD_FRIEND_MISSILE" },
    { "shipNet.input[20].forceType", "NEURAL_FORCE_ALIGN" },
    { "shipNet.input[20].radius", "0.000000" },
    { "shipNet.input[20].useTangent", "TRUE" },
    { "shipNet.input[20].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[21].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[21].forceType", "NEURAL_FORCE_NEAREST_FRIEND" },
    { "shipNet.input[21].radius", "144.088669" },
    { "shipNet.input[21].useTangent", "TRUE" },
    { "shipNet.input[21].valueType", "NEURAL_VALUE_FRIEND_SHIPS" },
    { "shipNet.input[22].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[22].forceType", "NEURAL_FORCE_BASE" },
    { "shipNet.input[22].radius", "-1.000000" },
    { "shipNet.input[22].useTangent", "FALSE" },
    { "shipNet.input[22].valueType", "NEURAL_VALUE_TICK" },
    { "shipNet.input[23].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[23].forceType", "NEURAL_FORCE_CORES" },
    { "shipNet.input[23].radius", "-1.000000" },
    { "shipNet.input[23].useTangent", "FALSE" },
    { "shipNet.input[23].valueType", "NEURAL_VALUE_FRIEND_SHIPS" },
    { "shipNet.input[24].crowdType", "NEURAL_CROWD_FRIEND_MISSILE" },
    { "shipNet.input[24].forceType", "NEURAL_FORCE_NEAREST_FRIEND_MISSILE" },
    { "shipNet.input[24].radius", "1876.846924" },
    { "shipNet.input[24].useTangent", "TRUE" },
    { "shipNet.input[24].valueType", "NEURAL_VALUE_FRIEND_SHIPS" },
    { "shipNet.input[2].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[2].forceType", "NEURAL_FORCE_ZERO" },
    { "shipNet.input[2].radius", "-1.000000" },
    { "shipNet.input[2].useTangent", "FALSE" },
    { "shipNet.input[2].valueType", "NEURAL_VALUE_FRIEND_SHIPS" },
    { "shipNet.input[3].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[3].forceType", "NEURAL_FORCE_EDGES" },
    { "shipNet.input[3].radius", "-1.000000" },
    { "shipNet.input[3].useTangent", "FALSE" },
    { "shipNet.input[3].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[4].crowdType", "NEURAL_CROWD_BASE_FRIEND_SHIP" },
    { "shipNet.input[4].forceType", "NEURAL_FORCE_CORES" },
    { "shipNet.input[4].radius", "0.000000" },
    { "shipNet.input[4].useTangent", "FALSE" },
    { "shipNet.input[4].valueType", "NEURAL_VALUE_MOBID" },
    { "shipNet.input[5].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[5].forceType", "NEURAL_FORCE_CORNERS" },
    { "shipNet.input[5].radius", "0.000000" },
    { "shipNet.input[5].useTangent", "FALSE" },
    { "shipNet.input[5].valueType", "NEURAL_VALUE_FRIEND_SHIPS" },
    { "shipNet.input[6].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[6].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.input[6].radius", "-0.950000" },
    { "shipNet.input[6].useTangent", "TRUE" },
    { "shipNet.input[6].valueType", "NEURAL_VALUE_RANDOM_UNIT" },
    { "shipNet.input[7].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[7].forceType", "NEURAL_FORCE_CENTER" },
    { "shipNet.input[7].radius", "156.061691" },
    { "shipNet.input[7].useTangent", "FALSE" },
    { "shipNet.input[7].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[8].crowdType", "NEURAL_CROWD_CORES" },
    { "shipNet.input[8].forceType", "NEURAL_FORCE_CORNERS" },
    { "shipNet.input[8].radius", "0.000000" },
    { "shipNet.input[8].useTangent", "TRUE" },
    { "shipNet.input[8].valueType", "NEURAL_VALUE_FRIEND_SHIPS" },
    { "shipNet.input[9].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[9].forceType", "NEURAL_FORCE_EDGES" },
    { "shipNet.input[9].radius", "0.000000" },
    { "shipNet.input[9].useTangent", "FALSE" },
    { "shipNet.input[9].valueType", "NEURAL_VALUE_TICK" },
    { "shipNet.output[0].forceType", "NEURAL_FORCE_CORNERS" },
    { "shipNet.output[0].radius", "-1.000000" },
    { "shipNet.output[0].useTangent", "FALSE" },
    { "shipNet.output[0].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[1].forceType", "NEURAL_FORCE_ENEMY" },
    { "shipNet.output[1].radius", "1346.359497" },
    { "shipNet.output[1].useTangent", "FALSE" },
    { "shipNet.output[1].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[2].forceType", "NEURAL_FORCE_CENTER" },
    { "shipNet.output[2].radius", "151.621170" },
    { "shipNet.output[2].useTangent", "TRUE" },
    { "shipNet.output[2].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[3].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.output[3].radius", "-1.000000" },
    { "shipNet.output[3].useTangent", "TRUE" },
    { "shipNet.output[3].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[4].forceType", "NEURAL_FORCE_HEADING" },
    { "shipNet.output[4].radius", "1716.403198" },
    { "shipNet.output[4].useTangent", "FALSE" },
    { "shipNet.output[4].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[5].forceType", "NEURAL_FORCE_BASE_DEFENSE" },
    { "shipNet.output[5].radius", "0.000000" },
    { "shipNet.output[5].useTangent", "FALSE" },
    { "shipNet.output[5].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[6].forceType", "NEURAL_FORCE_COHERE" },
    { "shipNet.output[6].radius", "-0.814506" },
    { "shipNet.output[6].useTangent", "FALSE" },
    { "shipNet.output[6].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[7].forceType", "NEURAL_FORCE_CENTER" },
    { "shipNet.output[7].radius", "0.000000" },
    { "shipNet.output[7].useTangent", "FALSE" },
    { "shipNet.output[7].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[8].forceType", "NEURAL_FORCE_BASE" },
    { "shipNet.output[8].radius", "0.000000" },
    { "shipNet.output[8].useTangent", "FALSE" },
    { "shipNet.output[8].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[9].forceType", "NEURAL_FORCE_ZERO" },
    { "shipNet.output[9].radius", "426.598633" },
    { "shipNet.output[9].useTangent", "TRUE" },
    { "shipNet.output[9].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[10].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.output[10].radius", "-1.000000" },
    { "shipNet.output[10].useTangent", "TRUE" },
    { "shipNet.output[10].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[11].forceType", "NEURAL_FORCE_ENEMY_BASE_GUESS" },
    { "shipNet.output[11].radius", "0.000000" },
    { "shipNet.output[11].useTangent", "FALSE" },
    { "shipNet.output[11].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[12].forceType", "NEURAL_FORCE_ENEMY_BASE" },
    { "shipNet.output[12].radius", "151.377563" },
    { "shipNet.output[12].useTangent", "FALSE" },
    { "shipNet.output[12].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[13].forceType", "NEURAL_FORCE_BASE" },
    { "shipNet.output[13].radius", "0.000000" },
    { "shipNet.output[13].useTangent", "TRUE" },
    { "shipNet.output[13].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[14].forceType", "NEURAL_FORCE_CORES" },
    { "shipNet.output[14].radius", "143.071716" },
    { "shipNet.output[14].useTangent", "FALSE" },
    { "shipNet.output[14].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[15].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.output[15].radius", "-1.000000" },
    { "shipNet.output[15].useTangent", "TRUE" },
    { "shipNet.output[15].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[16].forceType", "NEURAL_FORCE_NEAREST_FRIEND" },
    { "shipNet.output[16].radius", "0.000000" },
    { "shipNet.output[16].useTangent", "FALSE" },
    { "shipNet.output[16].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[17].forceType", "NEURAL_FORCE_EDGES" },
    { "shipNet.output[17].radius", "-1.000000" },
    { "shipNet.output[17].useTangent", "FALSE" },
    { "shipNet.output[17].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[18].forceType", "NEURAL_FORCE_NEAREST_FRIEND_MISSILE" },
    { "shipNet.output[18].radius", "150.485336" },
    { "shipNet.output[18].useTangent", "TRUE" },
    { "shipNet.output[18].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[19].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.output[19].radius", "2992.190186" },
    { "shipNet.output[19].useTangent", "TRUE" },
    { "shipNet.output[19].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[20].forceType", "NEURAL_FORCE_CENTER" },
    { "shipNet.output[20].radius", "0.000000" },
    { "shipNet.output[20].useTangent", "TRUE" },
    { "shipNet.output[20].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[21].forceType", "NEURAL_FORCE_CORNERS" },
    { "shipNet.output[21].radius", "-1.000000" },
    { "shipNet.output[21].useTangent", "TRUE" },
    { "shipNet.output[21].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[22].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.output[22].radius", "155.966476" },
    { "shipNet.output[22].useTangent", "TRUE" },
    { "shipNet.output[22].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[23].forceType", "NEURAL_FORCE_CORES" },
    { "shipNet.output[23].radius", "-1.000000" },
    { "shipNet.output[23].useTangent", "FALSE" },
    { "shipNet.output[23].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[24].forceType", "NEURAL_FORCE_HEADING" },
    { "shipNet.output[24].radius", "0.000000" },
    { "shipNet.output[24].useTangent", "FALSE" },
    { "shipNet.output[24].valueType", "NEURAL_VALUE_FORCE" },
    { "rotateStartingAngle", "FALSE" },
    { "sensorGrid.staleCoreTime", "0.000000" },
    { "sensorGrid.staleFighterTime", "0.000000" },
    { "startingMaxRadius", "1000.000000" },
    { "startingMinRadius", "634.740601" },
