    { "attackExtendedRange", "TRUE" },
    { "attackRange", "140.012405" },
    { "creditReserve", "0.000000" },
    { "evadeFighters", "FALSE" },
    { "evadeRange", "451.825134" },
    { "evadeStrictDistance", "150.789139" },
    { "evadeUseStrictDistance", "FALSE" },
    { "shipNet.fn.node[100].inputs", "{}" },
    { "shipNet.fn.node[100].op", "ML_FOP_NxN_SELECT_GTE" },
    { "shipNet.fn.node[100].params", "{-1.000000, 260.331909, 1.000000, 256.135132, 2295.589844, 1.000000, 0.000000, }" },
    { "shipNet.fn.node[101].inputs", "{8, 35, 85, 0, 0, 60, 26, }" },
    { "shipNet.fn.node[101].op", "ML_FOP_Nx0_PRODUCT" },
    { "shipNet.fn.node[101].params", "{}" },
    { "shipNet.fn.node[102].inputs", "{100, 0, }" },
    { "shipNet.fn.node[102].op", "ML_FOP_1x0_HYP_SINE" },
    { "shipNet.fn.node[102].params", "{0.000000, 0.950000, 2.018069, 0.178028, 0.197230, 154.894684, 0.000000, }" },
    { "shipNet.fn.node[103].inputs", "{68, 63, 80, 36, 0, 87, }" },
    { "shipNet.fn.node[103].op", "ML_FOP_1x0_ARC_COSINE" },
    { "shipNet.fn.node[103].params", "{0.085139, 1.000000, 1041.193604, 0.828878, 1014.713684, 0.000000, 0.417343, 0.208894, }" },
    { "shipNet.fn.node[104].inputs", "{75, 22, 85, }" },
    { "shipNet.fn.node[104].op", "ML_FOP_1x0_SQUARE" },
    { "shipNet.fn.node[104].params", "{0.000000, 0.000000, 0.742274, 3000.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[105].inputs", "{15, 58, 0, }" },
    { "shipNet.fn.node[105].op", "ML_FOP_0x0_ZERO" },
    { "shipNet.fn.node[105].params", "{0.000000, 0.000000, }" },
    { "shipNet.fn.node[106].inputs", "{19, 8, 0, 86, 0, }" },
    { "shipNet.fn.node[106].op", "ML_FOP_1x2_CLAMP_BROKEN" },
    { "shipNet.fn.node[106].params", "{4.723891, }" },
    { "shipNet.fn.node[107].inputs", "{29, 51, 66, 106, 0, }" },
    { "shipNet.fn.node[107].op", "ML_FOP_Nx0_PRODUCT" },
    { "shipNet.fn.node[107].params", "{}" },
    { "shipNet.fn.node[108].inputs", "{0, 79, }" },
    { "shipNet.fn.node[108].op", "ML_FOP_Nx0_PRODUCT" },
    { "shipNet.fn.node[108].params", "{0.000000, }" },
    { "shipNet.fn.node[109].inputs", "{76, }" },
    { "shipNet.fn.node[109].op", "ML_FOP_1x0_ARC_TANGENT" },
    { "shipNet.fn.node[109].params", "{1.000000, 6916.288574, 1.038797, 30.000000, }" },
    { "shipNet.fn.node[110].inputs", "{45, 43, 67, 0, 44, 0, }" },
    { "shipNet.fn.node[110].op", "ML_FOP_NxN_SCALED_MAX" },
    { "shipNet.fn.node[110].params", "{}" },
    { "shipNet.fn.node[111].inputs", "{89, 99, 44, 75, }" },
    { "shipNet.fn.node[111].op", "ML_FOP_1x1_LTE" },
    { "shipNet.fn.node[111].params", "{0.524702, }" },
    { "shipNet.fn.node[112].inputs", "{}" },
    { "shipNet.fn.node[112].op", "ML_FOP_4x0_IF_LTE_ELSE" },
    { "shipNet.fn.node[112].params", "{1.000000, 0.000000, }" },
    { "shipNet.fn.node[113].inputs", "{7, 46, 54, }" },
    { "shipNet.fn.node[113].op", "ML_FOP_1x0_ABS" },
    { "shipNet.fn.node[113].params", "{0.000000, 0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[114].inputs", "{55, 73, 54, }" },
    { "shipNet.fn.node[114].op", "ML_FOP_0x0_ONE" },
    { "shipNet.fn.node[114].params", "{4.642954, 1095.483643, 0.000000, }" },
    { "shipNet.fn.node[115].inputs", "{1, }" },
    { "shipNet.fn.node[115].op", "ML_FOP_1x2_COSINE" },
    { "shipNet.fn.node[115].params", "{1640.494385, 255.866455, 0.900000, 0.486635, 0.000000, 151.069748, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[116].inputs", "{102, 1, 44, 109, 104, 23, 87, 0, }" },
    { "shipNet.fn.node[116].op", "ML_FOP_1x1_FMOD" },
    { "shipNet.fn.node[116].params", "{0.743281, 0.000000, 0.215876, }" },
    { "shipNet.fn.node[117].inputs", "{}" },
    { "shipNet.fn.node[117].op", "ML_FOP_1x2_OUTSIDE_RANGE" },
    { "shipNet.fn.node[117].params", "{1.000000, 0.238153, 1.000000, 0.004479, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[118].inputs", "{}" },
    { "shipNet.fn.node[118].op", "ML_FOP_1x2_CLAMPED_SCALE_FROM_UNIT_BROKEN" },
    { "shipNet.fn.node[118].params", "{0.195664, }" },
    { "shipNet.fn.node[119].inputs", "{19, 87, 71, 77, }" },
    { "shipNet.fn.node[119].op", "ML_FOP_1x2_CLAMP_BROKEN" },
    { "shipNet.fn.node[119].params", "{1.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[120].inputs", "{0, 0, }" },
    { "shipNet.fn.node[120].op", "ML_FOP_Nx0_MAX" },
    { "shipNet.fn.node[120].params", "{1.000000, 0.181950, 244.659668, 1.494534, 0.000000, }" },
    { "shipNet.fn.node[121].inputs", "{}" },
    { "shipNet.fn.node[121].op", "ML_FOP_1x0_EXP" },
    { "shipNet.fn.node[121].params", "{0.216702, 0.000000, }" },
    { "shipNet.fn.node[122].inputs", "{107, }" },
    { "shipNet.fn.node[122].op", "ML_FOP_1x0_SEEDED_RANDOM_UNIT" },
    { "shipNet.fn.node[122].params", "{0.000000, 0.000000, 0.000000, 0.000000, 1.034437, }" },
    { "shipNet.fn.node[123].inputs", "{}" },
    { "shipNet.fn.node[123].op", "ML_FOP_1x0_FLOOR" },
    { "shipNet.fn.node[123].params", "{0.000000, 0.000000, }" },
    { "shipNet.fn.node[124].inputs", "{0, }" },
    { "shipNet.fn.node[124].op", "ML_FOP_1x1_LINEAR_DOWN" },
    { "shipNet.fn.node[124].params", "{8097.275879, 1.000000, 10.000000, 1.000000, 4.943307, 0.730045, }" },
    { "shipNet.fn.node[25].inputs", "{7, 0, 17, 0, 0, }" },
    { "shipNet.fn.node[25].op", "ML_FOP_1x0_HYP_TANGENT" },
    { "shipNet.fn.node[25].params", "{0.276595, 0.072324, 0.727179, 939.326782, 1.000000, }" },
    { "shipNet.fn.node[26].inputs", "{23, 19, 25, 22, 0, }" },
    { "shipNet.fn.node[26].op", "ML_FOP_Nx0_MIN" },
    { "shipNet.fn.node[26].params", "{0.696340, 10.000000, -0.015580, 1.000000, }" },
    { "shipNet.fn.node[27].inputs", "{19, 15, 16, 4, 3, 11, }" },
    { "shipNet.fn.node[27].op", "ML_FOP_1x0_HYP_SINE" },
    { "shipNet.fn.node[27].params", "{1.000000, }" },
    { "shipNet.fn.node[28].inputs", "{2, 20, 15, 13, 5, 7, 11, 8, }" },
    { "shipNet.fn.node[28].op", "ML_FOP_NxN_SCALED_MAX" },
    { "shipNet.fn.node[28].params", "{}" },
    { "shipNet.fn.node[29].inputs", "{}" },
    { "shipNet.fn.node[29].op", "ML_FOP_4x0_IF_GTE_ELSE" },
    { "shipNet.fn.node[29].params", "{1.000000, 1.744278, }" },
    { "shipNet.fn.node[30].inputs", "{3, 5, 0, }" },
    { "shipNet.fn.node[30].op", "ML_FOP_NxN_SELECT_GTE" },
    { "shipNet.fn.node[30].params", "{0.000000, 0.000000, }" },
    { "shipNet.fn.node[31].inputs", "{29, 8, 24, 14, 0, 28, 6, 0, }" },
    { "shipNet.fn.node[31].op", "ML_FOP_NxN_SELECT_LTE" },
    { "shipNet.fn.node[31].params", "{1.904890, 1.000000, 1.000000, 0.900000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[32].inputs", "{28, 13, 15, 31, 13, 31, 29, 13, }" },
    { "shipNet.fn.node[32].op", "ML_FOP_1x1_LINEAR_DOWN" },
    { "shipNet.fn.node[32].params", "{0.000000, 0.000000, }" },
    { "shipNet.fn.node[33].inputs", "{1, 18, 27, 25, 24, 0, }" },
    { "shipNet.fn.node[33].op", "ML_FOP_1x0_INVERSE" },
    { "shipNet.fn.node[33].params", "{0.494063, 0.000000, }" },
    { "shipNet.fn.node[34].inputs", "{16, 15, 17, 0, }" },
    { "shipNet.fn.node[34].op", "ML_FOP_1x1_GTE" },
    { "shipNet.fn.node[34].params", "{0.000000, }" },
    { "shipNet.fn.node[35].inputs", "{19, 32, 15, 9, 30, }" },
    { "shipNet.fn.node[35].op", "ML_FOP_NxN_SCALED_MAX" },
    { "shipNet.fn.node[35].params", "{0.000000, }" },
    { "shipNet.fn.node[36].inputs", "{26, 0, 18, 12, 26, 4, 0, }" },
    { "shipNet.fn.node[36].op", "ML_FOP_1x1_STRICT_ON" },
    { "shipNet.fn.node[36].params", "{0.192192, 0.183078, }" },
    { "shipNet.fn.node[37].inputs", "{22, }" },
    { "shipNet.fn.node[37].op", "ML_FOP_Nx0_PRODUCT" },
    { "shipNet.fn.node[37].params", "{0.783102, 1.000000, 1.000000, 0.210748, 0.000000, }" },
    { "shipNet.fn.node[38].inputs", "{30, 24, 14, 19, 13, 0, 0, }" },
    { "shipNet.fn.node[38].op", "ML_FOP_1x0_ABS" },
    { "shipNet.fn.node[38].params", "{0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[39].inputs", "{22, 8, 0, 9, 8, 13, 9, }" },
    { "shipNet.fn.node[39].op", "ML_FOP_1x2_SINE" },
    { "shipNet.fn.node[39].params", "{5000.000000, 1.022362, 0.514056, 0.203762, 249.913193, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[40].inputs", "{11, 5, 12, 0, }" },
    { "shipNet.fn.node[40].op", "ML_FOP_Nx0_SUM" },
    { "shipNet.fn.node[40].params", "{0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[41].inputs", "{0, }" },
    { "shipNet.fn.node[41].op", "ML_FOP_1x2_INSIDE_RANGE" },
    { "shipNet.fn.node[41].params", "{30.000000, 1.000000, 1.813025, 0.212026, 1963.231567, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[42].inputs", "{39, 12, 8, 17, }" },
    { "shipNet.fn.node[42].op", "ML_FOP_Nx0_GEOMETRIC_MEAN" },
    { "shipNet.fn.node[42].params", "{3000.000000, 0.729000, 0.945000, 9.371091, 1.000000, 1.000000, 0.000000, }" },
    { "shipNet.fn.node[43].inputs", "{}" },
    { "shipNet.fn.node[43].op", "ML_FOP_1x0_ARC_COSINE" },
    { "shipNet.fn.node[43].params", "{0.000000, }" },
    { "shipNet.fn.node[44].inputs", "{1, 3, 11, }" },
    { "shipNet.fn.node[44].op", "ML_FOP_0x0_ONE" },
    { "shipNet.fn.node[44].params", "{0.188125, 0.000000, 1.000000, }" },
    { "shipNet.fn.node[45].inputs", "{6, 5, 30, 27, 0, 14, 0, }" },
    { "shipNet.fn.node[45].op", "ML_FOP_1x3_IF_GTE_ELSE" },
    { "shipNet.fn.node[45].params", "{0.950000, 1.000000, 0.000000, 1.000000, 0.220142, 0.000000, }" },
    { "shipNet.fn.node[46].inputs", "{0, 0, }" },
    { "shipNet.fn.node[46].op", "ML_FOP_1x0_NEGATE" },
    { "shipNet.fn.node[46].params", "{0.507555, 0.000000, }" },
    { "shipNet.fn.node[47].inputs", "{6, 0, }" },
    { "shipNet.fn.node[47].op", "ML_FOP_NxN_SELECT_GTE" },
    { "shipNet.fn.node[47].params", "{3.272798, 1.000000, 979.790344, 0.183023, 0.000000, }" },
    { "shipNet.fn.node[48].inputs", "{27, 20, }" },
    { "shipNet.fn.node[48].op", "ML_FOP_Nx0_MAX" },
    { "shipNet.fn.node[48].params", "{0.950000, 1.000000, 1.000000, 0.456655, 0.946878, 0.000000, }" },
    { "shipNet.fn.node[49].inputs", "{26, 0, 37, 0, 0, }" },
    { "shipNet.fn.node[49].op", "ML_FOP_1x1_LINEAR_UP" },
    { "shipNet.fn.node[49].params", "{0.000000, }" },
    { "shipNet.fn.node[50].inputs", "{39, 29, 16, 12, 4, 38, }" },
    { "shipNet.fn.node[50].op", "ML_FOP_Nx0_GEOMETRIC_MEAN" },
    { "shipNet.fn.node[50].params", "{}" },
    { "shipNet.fn.node[51].inputs", "{46, 39, 22, 18, 27, 0, 0, 8, }" },
    { "shipNet.fn.node[51].op", "ML_FOP_4x0_IF_LTE_ELSE" },
    { "shipNet.fn.node[51].params", "{0.000000, 0.000000, }" },
    { "shipNet.fn.node[52].inputs", "{25, 28, 49, }" },
    { "shipNet.fn.node[52].op", "ML_FOP_4x0_IF_LTE_ELSE" },
    { "shipNet.fn.node[52].params", "{}" },
    { "shipNet.fn.node[53].inputs", "{47, 37, 9, 15, }" },
    { "shipNet.fn.node[53].op", "ML_FOP_1x1_QUADRATIC_DOWN" },
    { "shipNet.fn.node[53].params", "{1.000000, 0.000000, 0.382849, 0.000000, }" },
    { "shipNet.fn.node[54].inputs", "{2, }" },
    { "shipNet.fn.node[54].op", "ML_FOP_1x0_SQUARE" },
    { "shipNet.fn.node[54].params", "{0.806550, 0.950000, 1.000000, }" },
    { "shipNet.fn.node[55].inputs", "{}" },
    { "shipNet.fn.node[55].op", "ML_FOP_0x0_ZERO" },
    { "shipNet.fn.node[55].params", "{0.000000, }" },
    { "shipNet.fn.node[56].inputs", "{0, }" },
    { "shipNet.fn.node[56].op", "ML_FOP_1x0_ARC_TANGENT" },
    { "shipNet.fn.node[56].params", "{0.000000, }" },
    { "shipNet.fn.node[57].inputs", "{}" },
    { "shipNet.fn.node[57].op", "ML_FOP_1x0_INVERSE" },
    { "shipNet.fn.node[57].params", "{0.929074, 0.000000, 0.192525, }" },
    { "shipNet.fn.node[58].inputs", "{0, }" },
    { "shipNet.fn.node[58].op", "ML_FOP_1x0_LN" },
    { "shipNet.fn.node[58].params", "{0.771745, 10.000000, 0.369992, 0.000000, }" },
    { "shipNet.fn.node[59].inputs", "{46, 39, 2, 15, 21, 18, 0, 0, }" },
    { "shipNet.fn.node[59].op", "ML_FOP_NxN_SCALED_MAX" },
    { "shipNet.fn.node[59].params", "{1.000000, 1.000000, 1.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[60].inputs", "{17, 22, 54, 0, }" },
    { "shipNet.fn.node[60].op", "ML_FOP_Nx0_MIN" },
    { "shipNet.fn.node[60].params", "{0.000000, 0.000000, }" },
    { "shipNet.fn.node[61].inputs", "{25, 37, 49, 51, 53, }" },
    { "shipNet.fn.node[61].op", "ML_FOP_1x0_LN" },
    { "shipNet.fn.node[61].params", "{1477.891724, 1.050000, 9.233714, 0.219896, 247.116440, }" },
    { "shipNet.fn.node[62].inputs", "{48, 1, 51, 50, 11, 30, }" },
    { "shipNet.fn.node[62].op", "ML_FOP_1x2_COSINE" },
    { "shipNet.fn.node[62].params", "{0.202131, 0.341515, 1.000000, 0.210529, 0.184538, 0.494634, 1.000000, }" },
    { "shipNet.fn.node[63].inputs", "{5, 29, 2, 0, }" },
    { "shipNet.fn.node[63].op", "ML_FOP_Nx0_MAX" },
    { "shipNet.fn.node[63].params", "{18.531652, 251.665039, 0.000000, 6.476663, 1.000985, }" },
    { "shipNet.fn.node[64].inputs", "{0, }" },
    { "shipNet.fn.node[64].op", "ML_FOP_Nx0_MAX" },
    { "shipNet.fn.node[64].params", "{0.799507, 0.950000, 0.000000, 1.000000, 0.000000, 0.000000, 0.218037, 1.000000, }" },
    { "shipNet.fn.node[65].inputs", "{10, 28, 8, 0, }" },
    { "shipNet.fn.node[65].op", "ML_FOP_1x0_ARC_TANGENT" },
    { "shipNet.fn.node[65].params", "{0.900000, 30.000000, }" },
    { "shipNet.fn.node[66].inputs", "{45, 54, 30, 25, 0, 20, 13, 47, }" },
    { "shipNet.fn.node[66].op", "ML_FOP_0x1_CONSTANT" },
    { "shipNet.fn.node[66].params", "{0.163419, 2824.060547, 0.199304, 0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[67].inputs", "{7, 0, 0, }" },
    { "shipNet.fn.node[67].op", "ML_FOP_1x0_NEGATE" },
    { "shipNet.fn.node[67].params", "{1.000000, 1.000000, 0.000000, }" },
    { "shipNet.fn.node[68].inputs", "{3, 49, 26, }" },
    { "shipNet.fn.node[68].op", "ML_FOP_1x0_HYP_TANGENT" },
    { "shipNet.fn.node[68].params", "{1.000000, 1.542832, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[69].inputs", "{8, 44, 17, 25, 37, }" },
    { "shipNet.fn.node[69].op", "ML_FOP_1x0_SQUARE" },
    { "shipNet.fn.node[69].params", "{0.439065, 1.000000, 2.559875, 0.217528, 0.000000, }" },
    { "shipNet.fn.node[70].inputs", "{23, }" },
    { "shipNet.fn.node[70].op", "ML_FOP_1x0_HYP_COSINE" },
    { "shipNet.fn.node[70].params", "{1.000000, 0.900000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[71].inputs", "{17, 65, }" },
    { "shipNet.fn.node[71].op", "ML_FOP_2x0_POW" },
    { "shipNet.fn.node[71].params", "{0.000000, 0.850273, }" },
    { "shipNet.fn.node[72].inputs", "{58, 0, }" },
    { "shipNet.fn.node[72].op", "ML_FOP_1x0_LN" },
    { "shipNet.fn.node[72].params", "{0.000000, 2021.459839, 0.000000, }" },
    { "shipNet.fn.node[73].inputs", "{19, 53, 20, 0, 0, }" },
    { "shipNet.fn.node[73].op", "ML_FOP_1x0_LN" },
    { "shipNet.fn.node[73].params", "{0.000000, 0.000000, 2.492972, 0.000000, }" },
    { "shipNet.fn.node[74].inputs", "{51, 0, }" },
    { "shipNet.fn.node[74].op", "ML_FOP_1x2_COSINE" },
    { "shipNet.fn.node[74].params", "{-1.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[75].inputs", "{39, 7, 24, 40, }" },
    { "shipNet.fn.node[75].op", "ML_FOP_1x1_LINEAR_DOWN" },
    { "shipNet.fn.node[75].params", "{1.000000, }" },
    { "shipNet.fn.node[76].inputs", "{42, 23, 4, 56, 0, 37, }" },
    { "shipNet.fn.node[76].op", "ML_FOP_4x0_IF_LTE_ELSE" },
    { "shipNet.fn.node[76].params", "{1.000000, 0.950000, 1.000000, 0.206722, 0.439854, 0.212336, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[77].inputs", "{0, }" },
    { "shipNet.fn.node[77].op", "ML_FOP_1x2_COSINE" },
    { "shipNet.fn.node[77].params", "{0.000000, }" },
    { "shipNet.fn.node[78].inputs", "{38, 61, 30, }" },
    { "shipNet.fn.node[78].op", "ML_FOP_1x2_COSINE" },
    { "shipNet.fn.node[78].params", "{0.186872, 0.324876, 0.000000, }" },
    { "shipNet.fn.node[79].inputs", "{}" },
    { "shipNet.fn.node[79].op", "ML_FOP_1x3_IF_GTE_ELSE" },
    { "shipNet.fn.node[79].params", "{1.224218, 0.000000, }" },
    { "shipNet.fn.node[80].inputs", "{39, 61, 42, 79, 70, 36, 54, }" },
    { "shipNet.fn.node[80].op", "ML_FOP_1x3_IF_GTE_ELSE" },
    { "shipNet.fn.node[80].params", "{49.972191, 3.511973, 2700.396240, 0.803550, 1052.060791, 0.493428, 0.000000, }" },
    { "shipNet.fn.node[81].inputs", "{}" },
    { "shipNet.fn.node[81].op", "ML_FOP_1x0_INVERSE" },
    { "shipNet.fn.node[81].params", "{1.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[82].inputs", "{49, 53, 24, 50, 69, 0, }" },
    { "shipNet.fn.node[82].op", "ML_FOP_1x0_ARC_SINE" },
    { "shipNet.fn.node[82].params", "{1.050000, 1.000000, 1.881488, 1.000000, 0.900000, 0.000000, 1042.328857, }" },
    { "shipNet.fn.node[83].inputs", "{15, }" },
    { "shipNet.fn.node[83].op", "ML_FOP_1x1_STRICT_ON" },
    { "shipNet.fn.node[83].params", "{}" },
    { "shipNet.fn.node[84].inputs", "{30, }" },
    { "shipNet.fn.node[84].op", "ML_FOP_1x2_CLAMPED_SCALE_FROM_UNIT_BROKEN" },
    { "shipNet.fn.node[84].params", "{0.000000, 0.000000, }" },
    { "shipNet.fn.node[85].inputs", "{31, 14, }" },
    { "shipNet.fn.node[85].op", "ML_FOP_1x0_HYP_COSINE" },
    { "shipNet.fn.node[85].params", "{0.413553, 5.536458, 0.000000, }" },
    { "shipNet.fn.node[86].inputs", "{68, 17, 0, 9, 0, 0, }" },
    { "shipNet.fn.node[86].op", "ML_FOP_1x0_SEEDED_RANDOM_UNIT" },
    { "shipNet.fn.node[86].params", "{1.000000, 0.546115, 1.000000, 17806.046875, 1.000000, 2345.271240, 1.000000, 0.000000, }" },
    { "shipNet.fn.node[87].inputs", "{80, }" },
    { "shipNet.fn.node[87].op", "ML_FOP_2x0_POW" },
    { "shipNet.fn.node[87].params", "{10.000000, 0.000000, 0.000000, 0.900000, }" },
    { "shipNet.fn.node[88].inputs", "{66, 0, }" },
    { "shipNet.fn.node[88].op", "ML_FOP_1x1_POW" },
    { "shipNet.fn.node[88].params", "{0.000000, }" },
    { "shipNet.fn.node[89].inputs", "{48, 4, 76, 0, 0, }" },
    { "shipNet.fn.node[89].op", "ML_FOP_1x0_ABS" },
    { "shipNet.fn.node[89].params", "{1787.042603, 919.113525, 0.900000, 1.000000, 1.050000, 0.952309, }" },
    { "shipNet.fn.node[90].inputs", "{}" },
    { "shipNet.fn.node[90].op", "ML_FOP_1x2_SINE" },
    { "shipNet.fn.node[90].params", "{}" },
    { "shipNet.fn.node[91].inputs", "{46, 34, 71, 77, 42, 0, 0, }" },
    { "shipNet.fn.node[91].op", "ML_FOP_1x2_SINE" },
    { "shipNet.fn.node[91].params", "{0.000000, }" },
    { "shipNet.fn.node[92].inputs", "{}" },
    { "shipNet.fn.node[92].op", "ML_FOP_Nx0_MIN" },
    { "shipNet.fn.node[92].params", "{0.000000, }" },
    { "shipNet.fn.node[93].inputs", "{18, 85, 55, 0, }" },
    { "shipNet.fn.node[93].op", "ML_FOP_1x2_INSIDE_RANGE" },
    { "shipNet.fn.node[93].params", "{}" },
    { "shipNet.fn.node[94].inputs", "{}" },
    { "shipNet.fn.node[94].op", "ML_FOP_1x0_EXP" },
    { "shipNet.fn.node[94].params", "{}" },
    { "shipNet.fn.node[95].inputs", "{74, 13, 86, 23, 34, 71, 0, 91, }" },
    { "shipNet.fn.node[95].op", "ML_FOP_1x0_HYP_COSINE" },
    { "shipNet.fn.node[95].params", "{0.900000, 981.451355, }" },
    { "shipNet.fn.node[96].inputs", "{50, 11, 52, 87, }" },
    { "shipNet.fn.node[96].op", "ML_FOP_Nx0_GEOMETRIC_MEAN" },
    { "shipNet.fn.node[96].params", "{1.050000, }" },
    { "shipNet.fn.node[97].inputs", "{0, }" },
    { "shipNet.fn.node[97].op", "ML_FOP_1x0_ARC_SINE" },
    { "shipNet.fn.node[97].params", "{3000.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[98].inputs", "{7, 68, 79, 10, 55, }" },
    { "shipNet.fn.node[98].op", "ML_FOP_1x1_QUADRATIC_DOWN" },
    { "shipNet.fn.node[98].params", "{0.807975, 1.000000, 1123.613403, 1.000000, 2.617517, 0.950000, }" },
    { "shipNet.fn.node[99].inputs", "{91, }" },
    { "shipNet.fn.node[99].op", "ML_FOP_1x0_LN" },
    { "shipNet.fn.node[99].params", "{0.000000, }" },
    { "shipNet.fn.numInputs", "25" },
    { "shipNet.fn.numNodes", "100" },
    { "shipNet.fn.numOutputs", "25" },
    { "gatherAbandonStale", "TRUE" },
    { "gatherRange", "51.553398" },
    { "guardRange", "84.483688" },
    { "shipNet.input[0].crowdType", "NEURAL_CROWD_FRIEND_MISSILE" },
    { "shipNet.input[0].radius", "0.000000" },
    { "shipNet.input[0].useTangent", "TRUE" },
    { "shipNet.input[0].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[10].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[10].forceType", "NEURAL_FORCE_CORNERS" },
    { "shipNet.input[10].radius", "0.000000" },
    { "shipNet.input[10].useTangent", "TRUE" },
    { "shipNet.input[10].valueType", "NEURAL_VALUE_MOBID" },
    { "shipNet.input[11].crowdType", "NEURAL_CROWD_BASE_ENEMY_SHIP" },
    { "shipNet.input[11].forceType", "NEURAL_FORCE_NEAREST_FRIEND_MISSILE" },
    { "shipNet.input[11].radius", "0.000000" },
    { "shipNet.input[11].useTangent", "TRUE" },
    { "shipNet.input[11].valueType", "NEURAL_VALUE_TICK" },
    { "shipNet.input[12].forceType", "NEURAL_FORCE_BASE" },
    { "shipNet.input[12].radius", "0.000000" },
    { "shipNet.input[12].useTangent", "TRUE" },
    { "shipNet.input[12].valueType", "NEURAL_VALUE_TICK" },
    { "shipNet.input[13].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[13].forceType", "NEURAL_FORCE_BASE_DEFENSE" },
    { "shipNet.input[13].radius", "0.000000" },
    { "shipNet.input[13].useTangent", "TRUE" },
    { "shipNet.input[13].valueType", "NEURAL_VALUE_RANDOM_UNIT" },
    { "shipNet.input[14].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[14].forceType", "NEURAL_FORCE_ZERO" },
    { "shipNet.input[14].radius", "0.000000" },
    { "shipNet.input[14].useTangent", "FALSE" },
    { "shipNet.input[14].valueType", "NEURAL_VALUE_TICK" },
    { "shipNet.input[15].crowdType", "NEURAL_CROWD_FRIEND_MISSILE" },
    { "shipNet.input[15].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.input[15].radius", "0.000000" },
    { "shipNet.input[15].useTangent", "TRUE" },
    { "shipNet.input[15].valueType", "NEURAL_VALUE_TICK" },
    { "shipNet.input[16].crowdType", "NEURAL_CROWD_ENEMY_MISSILE" },
    { "shipNet.input[16].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.input[16].radius", "0.000000" },
    { "shipNet.input[16].useTangent", "TRUE" },
    { "shipNet.input[16].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[17].crowdType", "NEURAL_CROWD_BASE_FRIEND_SHIP" },
    { "shipNet.input[17].forceType", "NEURAL_FORCE_ZERO" },
    { "shipNet.input[17].radius", "0.000000" },
    { "shipNet.input[17].useTangent", "TRUE" },
    { "shipNet.input[17].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[18].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[18].forceType", "NEURAL_FORCE_BASE_DEFENSE" },
    { "shipNet.input[18].radius", "0.000000" },
    { "shipNet.input[18].useTangent", "TRUE" },
    { "shipNet.input[18].valueType", "NEURAL_VALUE_MOBID" },
    { "shipNet.input[19].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[19].radius", "-1.000000" },
    { "shipNet.input[19].useTangent", "FALSE" },
    { "shipNet.input[19].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[1].crowdType", "NEURAL_CROWD_CORES" },
    { "shipNet.input[1].forceType", "NEURAL_FORCE_ALIGN" },
    { "shipNet.input[1].radius", "0.000000" },
    { "shipNet.input[1].useTangent", "TRUE" },
    { "shipNet.input[1].valueType", "NEURAL_VALUE_RANDOM_UNIT" },
    { "shipNet.input[20].crowdType", "NEURAL_CROWD_FRIEND_MISSILE" },
    { "shipNet.input[20].forceType", "NEURAL_FORCE_ALIGN" },
    { "shipNet.input[20].radius", "0.000000" },
    { "shipNet.input[20].useTangent", "TRUE" },
    { "shipNet.input[20].valueType", "NEURAL_VALUE_CREDITS" },
    { "shipNet.input[21].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[21].forceType", "NEURAL_FORCE_NEAREST_FRIEND" },
    { "shipNet.input[21].radius", "0.000000" },
    { "shipNet.input[21].useTangent", "TRUE" },
    { "shipNet.input[21].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[22].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[22].forceType", "NEURAL_FORCE_BASE" },
    { "shipNet.input[22].radius", "-1.000000" },
    { "shipNet.input[22].useTangent", "FALSE" },
    { "shipNet.input[22].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[23].crowdType", "NEURAL_CROWD_BASE_ENEMY_SHIP" },
    { "shipNet.input[23].forceType", "NEURAL_FORCE_CORES" },
    { "shipNet.input[23].radius", "-1.000000" },
    { "shipNet.input[23].useTangent", "FALSE" },
    { "shipNet.input[23].valueType", "NEURAL_VALUE_ZERO" },
    { "shipNet.input[24].crowdType", "NEURAL_CROWD_CORES" },
    { "shipNet.input[24].forceType", "NEURAL_FORCE_ENEMY" },
    { "shipNet.input[24].radius", "1876.846924" },
    { "shipNet.input[24].useTangent", "TRUE" },
    { "shipNet.input[24].valueType", "NEURAL_VALUE_CREDITS" },
    { "shipNet.input[2].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[2].forceType", "NEURAL_FORCE_ENEMY_COHERE" },
    { "shipNet.input[2].radius", "142.804443" },
    { "shipNet.input[2].useTangent", "FALSE" },
    { "shipNet.input[2].valueType", "NEURAL_VALUE_RANDOM_UNIT" },
    { "shipNet.input[3].crowdType", "NEURAL_CROWD_CORES" },
    { "shipNet.input[3].forceType", "NEURAL_FORCE_BASE_DEFENSE" },
    { "shipNet.input[3].radius", "0.000000" },
    { "shipNet.input[3].useTangent", "FALSE" },
    { "shipNet.input[3].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[4].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[4].forceType", "NEURAL_FORCE_CORES" },
    { "shipNet.input[4].radius", "0.000000" },
    { "shipNet.input[4].useTangent", "FALSE" },
    { "shipNet.input[4].valueType", "NEURAL_VALUE_ZERO" },
    { "shipNet.input[5].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[5].forceType", "NEURAL_FORCE_CORNERS" },
    { "shipNet.input[5].radius", "0.000000" },
    { "shipNet.input[5].useTangent", "FALSE" },
    { "shipNet.input[5].valueType", "NEURAL_VALUE_MOBID" },
    { "shipNet.input[6].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[6].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.input[6].radius", "-1.000000" },
    { "shipNet.input[6].useTangent", "FALSE" },
    { "shipNet.input[6].valueType", "NEURAL_VALUE_FRIEND_SHIPS" },
    { "shipNet.input[7].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[7].forceType", "NEURAL_FORCE_CENTER" },
    { "shipNet.input[7].radius", "156.061691" },
    { "shipNet.input[7].useTangent", "TRUE" },
    { "shipNet.input[7].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[8].crowdType", "NEURAL_CROWD_CORES" },
    { "shipNet.input[8].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.input[8].radius", "0.000000" },
    { "shipNet.input[8].useTangent", "TRUE" },
    { "shipNet.input[8].valueType", "NEURAL_VALUE_ZERO" },
    { "shipNet.input[9].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[9].forceType", "NEURAL_FORCE_EDGES" },
    { "shipNet.input[9].radius", "0.000000" },
    { "shipNet.input[9].useTangent", "FALSE" },
    { "shipNet.input[9].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[0].forceType", "NEURAL_FORCE_ALIGN" },
    { "shipNet.output[0].radius", "-1.000000" },
    { "shipNet.output[0].useTangent", "FALSE" },
    { "shipNet.output[0].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[1].forceType", "NEURAL_FORCE_COHERE" },
    { "shipNet.output[1].radius", "1346.359497" },
    { "shipNet.output[1].useTangent", "TRUE" },
    { "shipNet.output[1].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[2].forceType", "NEURAL_FORCE_BASE" },
    { "shipNet.output[2].radius", "144.401123" },
    { "shipNet.output[2].useTangent", "FALSE" },
    { "shipNet.output[2].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[3].forceType", "NEURAL_FORCE_NEAREST_FRIEND" },
    { "shipNet.output[3].radius", "-1.000000" },
    { "shipNet.output[3].useTangent", "TRUE" },
    { "shipNet.output[3].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[4].forceType", "NEURAL_FORCE_NEAREST_FRIEND_MISSILE" },
    { "shipNet.output[4].radius", "1716.403198" },
    { "shipNet.output[4].useTangent", "FALSE" },
    { "shipNet.output[4].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[5].forceType", "NEURAL_FORCE_NEAREST_FRIEND" },
    { "shipNet.output[5].radius", "0.000000" },
    { "shipNet.output[5].useTangent", "TRUE" },
    { "shipNet.output[5].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[6].forceType", "NEURAL_FORCE_ENEMY_COHERE" },
    { "shipNet.output[6].radius", "-0.814506" },
    { "shipNet.output[6].useTangent", "FALSE" },
    { "shipNet.output[6].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[7].forceType", "NEURAL_FORCE_CORES" },
    { "shipNet.output[7].radius", "0.000000" },
    { "shipNet.output[7].useTangent", "TRUE" },
    { "shipNet.output[7].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[8].forceType", "NEURAL_FORCE_ENEMY_BASE" },
    { "shipNet.output[8].radius", "0.000000" },
    { "shipNet.output[8].useTangent", "TRUE" },
    { "shipNet.output[8].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[9].forceType", "NEURAL_FORCE_ENEMY_BASE_GUESS" },
    { "shipNet.output[9].radius", "426.598633" },
    { "shipNet.output[9].useTangent", "TRUE" },
    { "shipNet.output[9].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[10].forceType", "NEURAL_FORCE_ENEMY" },
    { "shipNet.output[10].radius", "-1.000000" },
    { "shipNet.output[10].useTangent", "FALSE" },
    { "shipNet.output[10].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[11].forceType", "NEURAL_FORCE_ALIGN" },
    { "shipNet.output[11].radius", "0.000000" },
    { "shipNet.output[11].useTangent", "TRUE" },
    { "shipNet.output[11].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[12].forceType", "NEURAL_FORCE_ZERO" },
    { "shipNet.output[12].radius", "0.000000" },
    { "shipNet.output[12].useTangent", "TRUE" },
    { "shipNet.output[12].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[13].forceType", "NEURAL_FORCE_NEAREST_FRIEND" },
    { "shipNet.output[13].radius", "0.000000" },
    { "shipNet.output[13].useTangent", "FALSE" },
    { "shipNet.output[13].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[14].forceType", "NEURAL_FORCE_CORES" },
    { "shipNet.output[14].radius", "143.071716" },
    { "shipNet.output[14].useTangent", "FALSE" },
    { "shipNet.output[14].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[15].forceType", "NEURAL_FORCE_ZERO" },
    { "shipNet.output[15].radius", "-1.000000" },
    { "shipNet.output[15].useTangent", "TRUE" },
    { "shipNet.output[15].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[16].forceType", "NEURAL_FORCE_ZERO" },
    { "shipNet.output[16].radius", "0.000000" },
    { "shipNet.output[16].useTangent", "FALSE" },
    { "shipNet.output[16].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[17].forceType", "NEURAL_FORCE_ZERO" },
    { "shipNet.output[17].radius", "-1.000000" },
    { "shipNet.output[17].useTangent", "FALSE" },
    { "shipNet.output[17].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[18].forceType", "NEURAL_FORCE_COHERE" },
    { "shipNet.output[18].radius", "150.485336" },
    { "shipNet.output[18].useTangent", "FALSE" },
    { "shipNet.output[18].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[19].forceType", "NEURAL_FORCE_EDGES" },
    { "shipNet.output[19].radius", "0.000000" },
    { "shipNet.output[19].useTangent", "TRUE" },
    { "shipNet.output[19].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[20].forceType", "NEURAL_FORCE_BASE" },
    { "shipNet.output[20].radius", "0.000000" },
    { "shipNet.output[20].useTangent", "FALSE" },
    { "shipNet.output[20].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[21].forceType", "NEURAL_FORCE_NEAREST_FRIEND" },
    { "shipNet.output[21].radius", "-1.000000" },
    { "shipNet.output[21].useTangent", "TRUE" },
    { "shipNet.output[21].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[22].forceType", "NEURAL_FORCE_CENTER" },
    { "shipNet.output[22].radius", "155.966476" },
    { "shipNet.output[22].useTangent", "TRUE" },
    { "shipNet.output[22].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[23].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.output[23].radius", "-1.000000" },
    { "shipNet.output[23].useTangent", "TRUE" },
    { "shipNet.output[23].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[24].forceType", "NEURAL_FORCE_HEADING" },
    { "shipNet.output[24].radius", "0.000000" },
    { "shipNet.output[24].useTangent", "FALSE" },
    { "shipNet.output[24].valueType", "NEURAL_VALUE_FORCE" },
    { "rotateStartingAngle", "FALSE" },
    { "sensorGrid.staleCoreTime", "0.000000" },
    { "sensorGrid.staleFighterTime", "0.000000" },
    { "startingMaxRadius", "1785.701294" },
    { "startingMinRadius", "776.332031" },
