    { "attackExtendedRange", "TRUE" },
    { "attackRange", "148.066803" },
    { "creditReserve", "0.000000" },
    { "evadeFighters", "FALSE" },
    { "evadeRange", "186.610748" },
    { "evadeStrictDistance", "137.479996" },
    { "evadeUseStrictDistance", "FALSE" },
    { "shipNet.fn.node[20].inputs", "{13, 10, 7, 10, 13, 0, 9, 9, }" },
    { "shipNet.fn.node[20].op", "ML_FOP_1x1_STRICT_OFF" },
    { "shipNet.fn.node[20].params", "{1.050000, 0.167232, 9.493267, 0.000000, 247.688858, 9.984236, 1.000000, 1.000000, }" },
    { "shipNet.fn.node[30].inputs", "{23, 14, 29, 15, 28, 6, 16, 1, }" },
    { "shipNet.fn.node[30].op", "ML_FOP_1x2_SINE" },
    { "shipNet.fn.node[30].params", "{1.000000, 0.940282, 1094.104126, 0.808425, 1060.474121, 10.000000, 0.950000, 1.000000, }" },
    { "shipNet.fn.node[31].inputs", "{28, 8, 26, 16, 23, 2, 20, 30, }" },
    { "shipNet.fn.node[31].op", "ML_FOP_0x0_ZERO" },
    { "shipNet.fn.node[31].params", "{0.900000, 227.969955, 1291.191284, 1.050000, 0.950000, 0.343430, 0.941271, 1.050000, }" },
    { "shipNet.fn.node[32].inputs", "{3, 25, 12, 12, 16, 23, 5, 4, }" },
    { "shipNet.fn.node[32].op", "ML_FOP_1x1_QUADRATIC_UP" },
    { "shipNet.fn.node[32].params", "{981.047180, 1.000000, 1.000000, 0.570663, 0.371041, 0.511033, 1.000000, 0.783566, }" },
    { "shipNet.fn.node[33].inputs", "{13, 20, 16, 28, 24, 19, 26, 26, }" },
    { "shipNet.fn.node[33].op", "ML_FOP_1x0_NEGATE" },
    { "shipNet.fn.node[33].params", "{0.729000, 0.778732, 1.000000, 1.000000, 990.312561, 0.449541, 0.367953, 3000.000000, }" },
    { "shipNet.fn.node[34].inputs", "{13, 30, 25, 14, 20, 24, 19, 0, }" },
    { "shipNet.fn.node[34].op", "ML_FOP_1x1_FMOD" },
    { "shipNet.fn.node[34].params", "{0.950000, 0.182962, 1.000000, 0.950000, 0.482863, 0.018417, 10.000000, 600.039978, }" },
    { "shipNet.fn.node[35].inputs", "{10, 11, 30, 13, 28, 17, 21, 19, }" },
    { "shipNet.fn.node[35].op", "ML_FOP_1x0_INVERSE" },
    { "shipNet.fn.node[35].params", "{0.763107, 1.557925, 1.000000, 1.000000, 0.900000, 0.818662, 20.037409, 1.504580, }" },
    { "shipNet.fn.node[36].inputs", "{30, 14, 13, 12, 17, 32, 12, 3, }" },
    { "shipNet.fn.node[36].op", "ML_FOP_1x1_LINEAR_UP" },
    { "shipNet.fn.node[36].params", "{1.212750, 0.434509, 1.000000, 0.487149, 1.000000, 10.000000, 7.966716, 1.000000, }" },
    { "shipNet.fn.node[37].inputs", "{22, 32, 36, 15, 20, 24, 30, 28, }" },
    { "shipNet.fn.node[37].op", "ML_FOP_NxN_LINEAR_COMBINATION" },
    { "shipNet.fn.node[37].params", "{0.262960, 1.000000, 1.000000, 1423.661255, 0.950000, 1.000000, 0.733408, 1.050000, }" },
    { "shipNet.fn.node[38].inputs", "{20, 3, 22, 15, 29, 16, 33, 4, }" },
    { "shipNet.fn.node[38].op", "ML_FOP_1x1_LINEAR_UP" },
    { "shipNet.fn.node[38].params", "{1.000000, 1.000000, 0.761416, 0.283246, 1.000000, 3005.644287, 10.000000, 1.050000, }" },
    { "shipNet.fn.node[39].inputs", "{32, 13, 27, 14, 35, 12, 32, 17, }" },
    { "shipNet.fn.node[39].op", "ML_FOP_1x1_STRICT_OFF" },
    { "shipNet.fn.node[39].params", "{0.550351, 0.694501, 0.793074, 0.382523, 0.714323, 0.997500, 1.969741, 0.146499, }" },
    { "shipNet.fn.node[21].inputs", "{0, 1, 14, 7, 1, 13, 19, 1, }" },
    { "shipNet.fn.node[21].op", "ML_FOP_NxN_LINEAR_COMBINATION" },
    { "shipNet.fn.node[21].params", "{0.076838, 1.642655, 0.814816, 3.706571, 0.816026, 1.000000, 7.485513, 10.000000, }" },
    { "shipNet.fn.node[22].inputs", "{18, 20, 8, 9, 12, 4, 2, 16, }" },
    { "shipNet.fn.node[22].op", "ML_FOP_NxN_SCALED_MAX" },
    { "shipNet.fn.node[22].params", "{1.000000, 1.000000, 0.850500, 2054.450195, 1381.724854, 157.438812, 1.050000, 184.877609, }" },
    { "shipNet.fn.node[23].inputs", "{3, 18, 3, 0, 6, 5, 13, 11, }" },
    { "shipNet.fn.node[23].op", "ML_FOP_NxN_SCALED_MIN" },
    { "shipNet.fn.node[23].params", "{9.176544, 240.673782, 0.706809, 1.050000, 0.763494, -1.000000, 1.298177, 1.000000, }" },
    { "shipNet.fn.node[24].inputs", "{10, 14, 17, 16, 7, 19, 23, 20, }" },
    { "shipNet.fn.node[24].op", "ML_FOP_NxN_LINEAR_COMBINATION" },
    { "shipNet.fn.node[24].params", "{-1.000000, 10.000000, 0.850500, 0.129628, 1.984586, 3.957525, 6644.178223, 0.594585, }" },
    { "shipNet.fn.node[25].inputs", "{14, 17, 11, 15, 24, 9, 18, 21, }" },
    { "shipNet.fn.node[25].op", "ML_FOP_1x2_CLAMPED_SCALE_TO_UNIT_BROKEN" },
    { "shipNet.fn.node[25].params", "{0.000000, 0.549446, 0.990000, 0.080289, 0.522399, 3467.296143, 0.800638, 1.000000, }" },
    { "shipNet.fn.node[26].inputs", "{7, 25, 10, 0, 5, 1, 14, 7, }" },
    { "shipNet.fn.node[26].op", "ML_FOP_0x0_ZERO" },
    { "shipNet.fn.node[26].params", "{0.950000, 0.871663, 152.331863, 9.500000, 1.000000, -1.000000, 0.257858, 1.000000, }" },
    { "shipNet.fn.node[27].inputs", "{14, 21, 12, 23, 16, 14, 10, 22, }" },
    { "shipNet.fn.node[27].op", "ML_FOP_Nx0_MAX" },
    { "shipNet.fn.node[27].params", "{0.538959, 0.695539, 0.330331, 149.907135, 1.050000, 0.211076, 0.557956, 0.465225, }" },
    { "shipNet.fn.node[28].inputs", "{15, 22, 6, 1, 24, 4, 8, 0, }" },
    { "shipNet.fn.node[28].op", "ML_FOP_1x2_SINE" },
    { "shipNet.fn.node[28].params", "{1.050000, 1.000000, 8.814820, 0.313138, 1.000000, 10.500000, 0.120743, 0.950000, }" },
    { "shipNet.fn.node[29].inputs", "{6, 22, 8, 13, 8, 20, 6, 9, }" },
    { "shipNet.fn.node[29].op", "ML_FOP_1x2_CLAMP_BROKEN" },
    { "shipNet.fn.node[29].params", "{239.458893, 0.147459, 1.000000, 0.723297, 1.050000, 0.184670, 997.662720, 27.000000, }" },
    { "shipNet.fn.numInputs", "20" },
    { "shipNet.fn.numNodes", "20" },
    { "shipNet.fn.numOutputs", "20" },
    { "gatherAbandonStale", "TRUE" },
    { "gatherRange", "67.846550" },
    { "guardRange", "200.824371" },
    { "shipNet.input[0].forceType", "NEURAL_FORCE_EDGES" },
    { "shipNet.input[0].radius", "1379.394165" },
    { "shipNet.input[0].useTangent", "TRUE" },
    { "shipNet.input[0].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[10].forceType", "NEURAL_FORCE_ALIGN" },
    { "shipNet.input[10].radius", "26.197947" },
    { "shipNet.input[10].useTangent", "TRUE" },
    { "shipNet.input[10].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[11].forceType", "NEURAL_FORCE_ENEMY_BASE_GUESS" },
    { "shipNet.input[11].radius", "1410.684570" },
    { "shipNet.input[11].useTangent", "FALSE" },
    { "shipNet.input[11].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[12].forceType", "NEURAL_FORCE_ZERO" },
    { "shipNet.input[12].radius", "821.751221" },
    { "shipNet.input[12].useTangent", "FALSE" },
    { "shipNet.input[12].valueType", "NEURAL_VALUE_TICK" },
    { "shipNet.input[13].forceType", "NEURAL_FORCE_NEAREST_FRIEND" },
    { "shipNet.input[13].radius", "3000.000000" },
    { "shipNet.input[13].useTangent", "FALSE" },
    { "shipNet.input[13].valueType", "NEURAL_VALUE_MOBID" },
    { "shipNet.input[14].forceType", "NEURAL_FORCE_ENEMY_BASE" },
    { "shipNet.input[14].radius", "2820.190674" },
    { "shipNet.input[14].useTangent", "FALSE" },
    { "shipNet.input[14].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[15].forceType", "NEURAL_FORCE_ENEMY_BASE" },
    { "shipNet.input[15].radius", "152.445862" },
    { "shipNet.input[15].useTangent", "TRUE" },
    { "shipNet.input[15].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[16].forceType", "NEURAL_FORCE_ZERO" },
    { "shipNet.input[16].radius", "1642.232056" },
    { "shipNet.input[16].useTangent", "FALSE" },
    { "shipNet.input[16].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[17].forceType", "NEURAL_FORCE_EDGES" },
    { "shipNet.input[17].radius", "938.246948" },
    { "shipNet.input[17].useTangent", "TRUE" },
    { "shipNet.input[17].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[18].forceType", "NEURAL_FORCE_ZERO" },
    { "shipNet.input[18].radius", "1578.296631" },
    { "shipNet.input[18].useTangent", "FALSE" },
    { "shipNet.input[18].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[19].forceType", "NEURAL_FORCE_BASE_DEFENSE" },
    { "shipNet.input[19].radius", "2423.319824" },
    { "shipNet.input[19].useTangent", "TRUE" },
    { "shipNet.input[19].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[1].forceType", "NEURAL_FORCE_NEAREST_FRIEND" },
    { "shipNet.input[1].radius", "2067.721191" },
    { "shipNet.input[1].useTangent", "FALSE" },
    { "shipNet.input[1].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[2].forceType", "NEURAL_FORCE_HEADING" },
    { "shipNet.input[2].radius", "1371.876465" },
    { "shipNet.input[2].useTangent", "TRUE" },
    { "shipNet.input[2].valueType", "NEURAL_VALUE_ZERO" },
    { "shipNet.input[3].forceType", "NEURAL_FORCE_ALIGN" },
    { "shipNet.input[3].radius", "1263.489990" },
    { "shipNet.input[3].useTangent", "FALSE" },
    { "shipNet.input[3].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[4].forceType", "NEURAL_FORCE_NEAREST_FRIEND" },
    { "shipNet.input[4].radius", "2304.703857" },
    { "shipNet.input[4].useTangent", "TRUE" },
    { "shipNet.input[4].valueType", "NEURAL_VALUE_MOBID" },
    { "shipNet.input[5].forceType", "NEURAL_FORCE_ZERO" },
    { "shipNet.input[5].radius", "1718.594727" },
    { "shipNet.input[5].useTangent", "TRUE" },
    { "shipNet.input[5].valueType", "NEURAL_VALUE_RANDOM_UNIT" },
    { "shipNet.input[6].forceType", "NEURAL_FORCE_ENEMY" },
    { "shipNet.input[6].radius", "2545.418213" },
    { "shipNet.input[6].useTangent", "TRUE" },
    { "shipNet.input[6].valueType", "NEURAL_VALUE_MOBID" },
    { "shipNet.input[7].forceType", "NEURAL_FORCE_ENEMY_BASE" },
    { "shipNet.input[7].radius", "2474.785889" },
    { "shipNet.input[7].useTangent", "FALSE" },
    { "shipNet.input[7].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[8].forceType", "NEURAL_FORCE_CENTER" },
    { "shipNet.input[8].radius", "2051.518799" },
    { "shipNet.input[8].useTangent", "FALSE" },
    { "shipNet.input[8].valueType", "NEURAL_VALUE_RANDOM_UNIT" },
    { "shipNet.input[9].forceType", "NEURAL_FORCE_EDGES" },
    { "shipNet.input[9].radius", "1191.592407" },
    { "shipNet.input[9].useTangent", "FALSE" },
    { "shipNet.input[9].valueType", "NEURAL_VALUE_MOBID" },
    { "shipNet.output[0].forceType", "NEURAL_FORCE_ENEMY" },
    { "shipNet.output[0].radius", "2464.956787" },
    { "shipNet.output[0].useTangent", "FALSE" },
    { "shipNet.output[0].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[].forceType", "NEURAL_FORCE_BASE_DEFENSE" },
    { "shipNet.output[].radius", "2050.290771" },
    { "shipNet.output[].useTangent", "TRUE" },
    { "shipNet.output[].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[1].forceType", "NEURAL_FORCE_ZERO" },
    { "shipNet.output[1].radius", "602.595520" },
    { "shipNet.output[1].useTangent", "TRUE" },
    { "shipNet.output[1].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[12].forceType", "NEURAL_FORCE_ENEMY_BASE" },
    { "shipNet.output[12].radius", "1519.014038" },
    { "shipNet.output[12].useTangent", "FALSE" },
    { "shipNet.output[12].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[13].forceType", "NEURAL_FORCE_COHERE" },
    { "shipNet.output[13].radius", "3000.000000" },
    { "shipNet.output[13].useTangent", "TRUE" },
    { "shipNet.output[13].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[14].forceType", "NEURAL_FORCE_ENEMY" },
    { "shipNet.output[14].radius", "2529.224365" },
    { "shipNet.output[14].useTangent", "FALSE" },
    { "shipNet.output[14].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[15].forceType", "NEURAL_FORCE_ENEMY_BASE" },
    { "shipNet.output[15].radius", "211.022003" },
    { "shipNet.output[15].useTangent", "TRUE" },
    { "shipNet.output[15].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[16].forceType", "NEURAL_FORCE_EDGES" },
    { "shipNet.output[16].radius", "1125.137329" },
    { "shipNet.output[16].useTangent", "TRUE" },
    { "shipNet.output[16].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[17].forceType", "NEURAL_FORCE_HEADING" },
    { "shipNet.output[17].radius", "1372.211548" },
    { "shipNet.output[17].useTangent", "FALSE" },
    { "shipNet.output[17].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[18].forceType", "NEURAL_FORCE_NEAREST_FRIEND" },
    { "shipNet.output[18].radius", "812.498596" },
    { "shipNet.output[18].useTangent", "FALSE" },
    { "shipNet.output[18].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[19].forceType", "NEURAL_FORCE_CORNERS" },
    { "shipNet.output[19].radius", "2725.875488" },
    { "shipNet.output[19].useTangent", "FALSE" },
    { "shipNet.output[19].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[1].forceType", "NEURAL_FORCE_BASE_DEFENSE" },
    { "shipNet.output[1].radius", "1413.617065" },
    { "shipNet.output[1].useTangent", "TRUE" },
    { "shipNet.output[1].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[2].forceType", "NEURAL_FORCE_ENEMY_BASE_GUESS" },
    { "shipNet.output[2].radius", "2569.132568" },
    { "shipNet.output[2].useTangent", "TRUE" },
    { "shipNet.output[2].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[3].forceType", "NEURAL_FORCE_HEADING" },
    { "shipNet.output[3].radius", "1969.989868" },
    { "shipNet.output[3].useTangent", "TRUE" },
    { "shipNet.output[3].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[4].forceType", "NEURAL_FORCE_ENEMY" },
    { "shipNet.output[4].radius", "2281.656494" },
    { "shipNet.output[4].useTangent", "TRUE" },
    { "shipNet.output[4].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[5].forceType", "NEURAL_FORCE_CORES" },
    { "shipNet.output[5].radius", "2072.078369" },
    { "shipNet.output[5].useTangent", "TRUE" },
    { "shipNet.output[5].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[6].forceType", "NEURAL_FORCE_ALIGN" },
    { "shipNet.output[6].radius", "1009.818115" },
    { "shipNet.output[6].useTangent", "FALSE" },
    { "shipNet.output[6].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[7].forceType", "NEURAL_FORCE_NEAREST_FRIEND" },
    { "shipNet.output[7].radius", "1700.157471" },
    { "shipNet.output[7].useTangent", "TRUE" },
    { "shipNet.output[7].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[8].forceType", "NEURAL_FORCE_CENTER" },
    { "shipNet.output[8].radius", "1027.284424" },
    { "shipNet.output[8].useTangent", "TRUE" },
    { "shipNet.output[8].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[9].forceType", "NEURAL_FORCE_COHERE" },
    { "shipNet.output[9].radius", "1428.817993" },
    { "shipNet.output[9].useTangent", "TRUE" },
    { "shipNet.output[9].valueType", "NEURAL_VALUE_FORCE" },
    { "rotateStartingAngle", "TRUE" },
    { "sensorGrid.staleCoreTime", "0.000000" },
    { "sensorGrid.staleFighterTime", "0.000000" },
    { "startingMaxRadius", "1888.944092" },
    { "startingMinRadius", "460.407959" },
