    { "attackExtendedRange", "TRUE" },
    { "attackRange", "132.841232" },
    { "creditReserve", "0.000000" },
    { "evadeFighters", "FALSE" },
    { "evadeRange", "258.509430" },
    { "evadeStrictDistance", "101.621750" },
    { "evadeUseStrictDistance", "TRUE" },
    { "shipNet.fn.node[100].inputs", "{0, 65, 48, 37, }" },
    { "shipNet.fn.node[100].op", "ML_FOP_Nx1_DIV_SUM" },
    { "shipNet.fn.node[100].params", "{1.050000, 3.157942, 0.290901, 0.000000, 154.863861, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[101].inputs", "{62, 8, 0, 62, }" },
    { "shipNet.fn.node[101].op", "ML_FOP_3x2_IF_OUTSIDE_RANGE_ELSE_CONST" },
    { "shipNet.fn.node[101].params", "{1.592908, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[102].inputs", "{24, 42, 101, 0, 86, 6, 58, }" },
    { "shipNet.fn.node[102].op", "ML_FOP_NxN_SELECT_UNIT_INTERVAL_WEIGHTED_STEP" },
    { "shipNet.fn.node[102].params", "{1.549154, 0.000000, 2.486770, 17069.486328, 2.520596, }" },
    { "shipNet.fn.node[103].inputs", "{97, 10, 54, 34, 99, 102, }" },
    { "shipNet.fn.node[103].op", "ML_FOP_1x0_FLOOR" },
    { "shipNet.fn.node[103].params", "{2074.110107, 1577.410767, 30.000000, 0.513399, 2.559829, 1542.321899, 1.050000, }" },
    { "shipNet.fn.node[104].inputs", "{57, }" },
    { "shipNet.fn.node[104].op", "ML_FOP_5x0_IF_OUTSIDE_RANGE_ELSE" },
    { "shipNet.fn.node[104].params", "{1.551640, 147.082001, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[105].inputs", "{71, 29, }" },
    { "shipNet.fn.node[105].op", "ML_FOP_1x1_STRICT_OFF" },
    { "shipNet.fn.node[105].params", "{0.950000, }" },
    { "shipNet.fn.node[106].inputs", "{70, 19, }" },
    { "shipNet.fn.node[106].op", "ML_FOP_1x3_ARC_COSINE" },
    { "shipNet.fn.node[106].params", "{0.000000, }" },
    { "shipNet.fn.node[107].inputs", "{44, 89, 24, 10, 41, 17, }" },
    { "shipNet.fn.node[107].op", "ML_FOP_NxN_WEIGHTED_GEOMETRIC_MEAN" },
    { "shipNet.fn.node[107].params", "{1.505585, 170.101196, 0.093286, 105.946144, 0.000000, }" },
    { "shipNet.fn.node[108].inputs", "{66, 71, }" },
    { "shipNet.fn.node[108].op", "ML_FOP_2x0_SQUARE_SUM" },
    { "shipNet.fn.node[108].params", "{0.027664, 0.465548, 0.102480, }" },
    { "shipNet.fn.node[109].inputs", "{30, 52, 70, 103, 100, 103, 36, 86, }" },
    { "shipNet.fn.node[109].op", "ML_FOP_0x0_ZERO" },
    { "shipNet.fn.node[109].params", "{2.584399, 0.000000, 2.038359, 0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[110].inputs", "{30, 93, }" },
    { "shipNet.fn.node[110].op", "ML_FOP_Nx0_DIV_SUM" },
    { "shipNet.fn.node[110].params", "{3.075863, 1.000000, 0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[111].inputs", "{66, 95, 65, 23, 22, 46, }" },
    { "shipNet.fn.node[111].op", "ML_FOP_Nx1_DIV_SUM" },
    { "shipNet.fn.node[111].params", "{0.900000, 0.000000, 0.880088, 0.000000, 1.603846, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[112].inputs", "{15, 52, }" },
    { "shipNet.fn.node[112].op", "ML_FOP_Nx0_PRODUCT" },
    { "shipNet.fn.node[112].params", "{1663.555542, 0.105418, 0.000000, }" },
    { "shipNet.fn.node[113].inputs", "{41, 22, 33, 27, 73, }" },
    { "shipNet.fn.node[113].op", "ML_FOP_3x2_IF_INSIDE_RANGE_ELSE_CONST" },
    { "shipNet.fn.node[113].params", "{1.000000, }" },
    { "shipNet.fn.node[114].inputs", "{106, 14, 73, }" },
    { "shipNet.fn.node[114].op", "ML_FOP_Nx2_ACTIVATE_LINEAR_UP" },
    { "shipNet.fn.node[114].params", "{0.000000, }" },
    { "shipNet.fn.node[115].inputs", "{}" },
    { "shipNet.fn.node[115].op", "ML_FOP_1x3_SQUARE" },
    { "shipNet.fn.node[115].params", "{}" },
    { "shipNet.fn.node[116].inputs", "{}" },
    { "shipNet.fn.node[116].op", "ML_FOP_3x2_IF_INSIDE_RANGE_ELSE_CONST" },
    { "shipNet.fn.node[116].params", "{}" },
    { "shipNet.fn.node[117].inputs", "{35, 14, 84, 53, 1, 94, 101, }" },
    { "shipNet.fn.node[117].op", "ML_FOP_1x2_SINE" },
    { "shipNet.fn.node[117].params", "{0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[118].inputs", "{1, 70, 76, 97, 37, 103, 90, }" },
    { "shipNet.fn.node[118].op", "ML_FOP_1x0_CEIL" },
    { "shipNet.fn.node[118].params", "{0.000000, 0.000000, 0.000000, 0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[119].inputs", "{49, 31, 2, 69, }" },
    { "shipNet.fn.node[119].op", "ML_FOP_Nx2_ACTIVATE_LINEAR_UP" },
    { "shipNet.fn.node[119].params", "{}" },
    { "shipNet.fn.node[120].inputs", "{113, 108, }" },
    { "shipNet.fn.node[120].op", "ML_FOP_2x0_CEIL_STEP" },
    { "shipNet.fn.node[120].params", "{0.555243, 0.000000, 986.982422, 0.497635, 1.308342, 28.744946, }" },
    { "shipNet.fn.node[121].inputs", "{31, 91, 42, 109, }" },
    { "shipNet.fn.node[121].op", "ML_FOP_4x0_IF_GTE_ELSE" },
    { "shipNet.fn.node[121].params", "{1.000000, }" },
    { "shipNet.fn.node[122].inputs", "{10, 44, 118, }" },
    { "shipNet.fn.node[122].op", "ML_FOP_3x2_IF_INSIDE_RANGE_ELSE_CONST" },
    { "shipNet.fn.node[122].params", "{0.000000, 0.000000, }" },
    { "shipNet.fn.node[123].inputs", "{106, 29, 97, 37, 100, 109, }" },
    { "shipNet.fn.node[123].op", "ML_FOP_1x0_SEEDED_RANDOM_UNIT" },
    { "shipNet.fn.node[123].params", "{}" },
    { "shipNet.fn.node[124].inputs", "{63, 8, 34, 4, 108, }" },
    { "shipNet.fn.node[124].op", "ML_FOP_1x1_LINEAR_DOWN" },
    { "shipNet.fn.node[124].params", "{0.452424, 0.000000, 0.000000, 9.500000, 2914.313232, 963.145081, 0.000000, }" },
    { "shipNet.fn.node[25].inputs", "{}" },
    { "shipNet.fn.node[25].op", "ML_FOP_1x1_FLOOR_STEP" },
    { "shipNet.fn.node[25].params", "{1.050000, 0.000000, 0.000000, 0.000000, 0.000000, 0.000000, 0.000000, 2.270812, }" },
    { "shipNet.fn.node[26].inputs", "{20, }" },
    { "shipNet.fn.node[26].op", "ML_FOP_NxN_SCALED_DIV_SUM" },
    { "shipNet.fn.node[26].params", "{0.987076, }" },
    { "shipNet.fn.node[27].inputs", "{17, 15, 9, }" },
    { "shipNet.fn.node[27].op", "ML_FOP_1x1_SUM" },
    { "shipNet.fn.node[27].params", "{0.000000, 0.950000, 0.000000, 0.189884, 20.911724, 2.483805, 0.000000, }" },
    { "shipNet.fn.node[28].inputs", "{18, 16, 10, 4, 4, 17, }" },
    { "shipNet.fn.node[28].op", "ML_FOP_NxN_WEIGHTED_ARITHMETIC_MEAN" },
    { "shipNet.fn.node[28].params", "{0.902500, 0.574726, 3.771181, 0.000000, 0.000000, 1709.344727, }" },
    { "shipNet.fn.node[29].inputs", "{18, 4, 8, 12, 21, 23, }" },
    { "shipNet.fn.node[29].op", "ML_FOP_1x0_INVERSE" },
    { "shipNet.fn.node[29].params", "{0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[30].inputs", "{11, }" },
    { "shipNet.fn.node[30].op", "ML_FOP_1x1_STRICT_OFF" },
    { "shipNet.fn.node[30].params", "{898.907593, 1.703727, 10.000000, 942.655945, 0.000000, 1993.709961, 0.000000, }" },
    { "shipNet.fn.node[31].inputs", "{29, 5, 19, 23, 23, 13, 8, 19, }" },
    { "shipNet.fn.node[31].op", "ML_FOP_1x0_HYP_COSINE" },
    { "shipNet.fn.node[31].params", "{}" },
    { "shipNet.fn.node[32].inputs", "{9, }" },
    { "shipNet.fn.node[32].op", "ML_FOP_2x0_PRODUCT" },
    { "shipNet.fn.node[32].params", "{165.942139, 0.000000, 1.000000, 0.000000, }" },
    { "shipNet.fn.node[33].inputs", "{20, 12, 27, 27, 0, 28, 20, 21, }" },
    { "shipNet.fn.node[33].op", "ML_FOP_1x3_ARC_SINE" },
    { "shipNet.fn.node[33].params", "{24.350241, 11353.805664, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[34].inputs", "{1, 2, 33, }" },
    { "shipNet.fn.node[34].op", "ML_FOP_Nx2_ACTIVATE_LINEAR_DOWN" },
    { "shipNet.fn.node[34].params", "{0.000000, 143.050323, 0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[35].inputs", "{11, 32, 7, 27, 13, 14, 25, 26, }" },
    { "shipNet.fn.node[35].op", "ML_FOP_1xN_SELECT_UNIT_INTERVAL_LERP" },
    { "shipNet.fn.node[35].params", "{0.000000, 0.000000, 0.950000, }" },
    { "shipNet.fn.node[36].inputs", "{}" },
    { "shipNet.fn.node[36].op", "ML_FOP_Nx0_SELECT_UNIT_INTERVAL_STEP" },
    { "shipNet.fn.node[36].params", "{0.000000, 147.512619, 977.566101, 1305.902954, }" },
    { "shipNet.fn.node[37].inputs", "{}" },
    { "shipNet.fn.node[37].op", "ML_FOP_Nx1_DIV_SUM" },
    { "shipNet.fn.node[37].params", "{146.638824, }" },
    { "shipNet.fn.node[38].inputs", "{18, 37, 18, 1, 11, 28, }" },
    { "shipNet.fn.node[38].op", "ML_FOP_1x1_LINEAR_COMBINATION" },
    { "shipNet.fn.node[38].params", "{1.050000, 1.000000, }" },
    { "shipNet.fn.node[39].inputs", "{38, 27, }" },
    { "shipNet.fn.node[39].op", "ML_FOP_Nx1_POW_SUM" },
    { "shipNet.fn.node[39].params", "{0.898238, 1.000000, 905.574646, 0.864338, 3000.000000, 0.466304, 0.095528, }" },
    { "shipNet.fn.node[40].inputs", "{17, 20, 35, }" },
    { "shipNet.fn.node[40].op", "ML_FOP_1x3_EXP" },
    { "shipNet.fn.node[40].params", "{2393.776367, 257.773529, 0.477213, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[41].inputs", "{36, 2, 12, 36, 39, 36, }" },
    { "shipNet.fn.node[41].op", "ML_FOP_1x0_EXP" },
    { "shipNet.fn.node[41].params", "{0.028893, 244.829254, 0.950000, }" },
    { "shipNet.fn.node[42].inputs", "{5, 34, 4, 4, 15, }" },
    { "shipNet.fn.node[42].op", "ML_FOP_1x0_SQRT" },
    { "shipNet.fn.node[42].params", "{2.879699, 0.096651, 24.953848, 1240.511597, 0.000000, }" },
    { "shipNet.fn.node[43].inputs", "{5, 36, }" },
    { "shipNet.fn.node[43].op", "ML_FOP_Nx2_ACTIVATE_QUADRATIC_UP" },
    { "shipNet.fn.node[43].params", "{247.018143, }" },
    { "shipNet.fn.node[44].inputs", "{24, 15, 31, 20, 0, 33, }" },
    { "shipNet.fn.node[44].op", "ML_FOP_NxN_SELECT_LTE" },
    { "shipNet.fn.node[44].params", "{148.704834, 28.146860, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[45].inputs", "{38, 34, 37, 0, 17, 14, }" },
    { "shipNet.fn.node[45].op", "ML_FOP_1x2_COSINE" },
    { "shipNet.fn.node[45].params", "{0.000000, }" },
    { "shipNet.fn.node[46].inputs", "{38, 25, 35, 4, 26, 13, 44, }" },
    { "shipNet.fn.node[46].op", "ML_FOP_1x2_CLAMP_BROKEN" },
    { "shipNet.fn.node[46].params", "{}" },
    { "shipNet.fn.node[47].inputs", "{}" },
    { "shipNet.fn.node[47].op", "ML_FOP_1x2_INSIDE_RANGE" },
    { "shipNet.fn.node[47].params", "{}" },
    { "shipNet.fn.node[48].inputs", "{47, 14, }" },
    { "shipNet.fn.node[48].op", "ML_FOP_Nx1_ACTIVATE_THRESHOLD_DOWN" },
    { "shipNet.fn.node[48].params", "{0.000000, 251.615433, 0.000000, 0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[49].inputs", "{4, }" },
    { "shipNet.fn.node[49].op", "ML_FOP_Nx0_MAX" },
    { "shipNet.fn.node[49].params", "{1.000000, 0.182847, 0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[50].inputs", "{27, 16, 35, 0, 49, }" },
    { "shipNet.fn.node[50].op", "ML_FOP_1x1_FLOOR_STEP" },
    { "shipNet.fn.node[50].params", "{1.000000, 0.000000, 147.118774, 255.701035, }" },
    { "shipNet.fn.node[51].inputs", "{38, 46, 45, 24, 25, 50, }" },
    { "shipNet.fn.node[51].op", "ML_FOP_1xN_SELECT_UNIT_INTERVAL_LERP" },
    { "shipNet.fn.node[51].params", "{0.000000, 0.000000, 0.000000, 144.050110, 1092.813843, 0.972787, 0.000000, }" },
    { "shipNet.fn.node[52].inputs", "{19, 27, 6, }" },
    { "shipNet.fn.node[52].op", "ML_FOP_NxN_WEIGHTED_ARITHMETIC_MEAN" },
    { "shipNet.fn.node[52].params", "{2.569370, 2850.000000, 1538.814819, 152.121124, 0.107637, 8.878457, 1.100000, }" },
    { "shipNet.fn.node[53].inputs", "{28, 6, 24, 13, 25, }" },
    { "shipNet.fn.node[53].op", "ML_FOP_Nx0_PRODUCT" },
    { "shipNet.fn.node[53].params", "{1.000000, 2950.105957, 1.023432, 1.000000, 19.237644, }" },
    { "shipNet.fn.node[54].inputs", "{}" },
    { "shipNet.fn.node[54].op", "ML_FOP_1x1_POW" },
    { "shipNet.fn.node[54].params", "{0.287147, 0.000000, }" },
    { "shipNet.fn.node[55].inputs", "{34, 28, 0, 16, 23, 48, }" },
    { "shipNet.fn.node[55].op", "ML_FOP_1x1_SUM" },
    { "shipNet.fn.node[55].params", "{1.000000, 1.487723, 0.000000, 0.568502, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[56].inputs", "{}" },
    { "shipNet.fn.node[56].op", "ML_FOP_1xN_SELECT_UNIT_INTERVAL_STEP" },
    { "shipNet.fn.node[56].params", "{1009.547424, 1.000000, 0.115097, }" },
    { "shipNet.fn.node[57].inputs", "{43, 45, 2, 11, 52, }" },
    { "shipNet.fn.node[57].op", "ML_FOP_1x0_HYP_TANGENT" },
    { "shipNet.fn.node[57].params", "{}" },
    { "shipNet.fn.node[58].inputs", "{37, 32, 15, }" },
    { "shipNet.fn.node[58].op", "ML_FOP_0x0_ZERO" },
    { "shipNet.fn.node[58].params", "{0.093223, 0.000000, 0.000000, 0.000000, 0.000000, 0.000000, 0.210516, }" },
    { "shipNet.fn.node[59].inputs", "{0, 14, 12, 23, 21, 36, 18, }" },
    { "shipNet.fn.node[59].op", "ML_FOP_1x1_QUADRATIC_DOWN" },
    { "shipNet.fn.node[59].params", "{0.916065, 0.000000, }" },
    { "shipNet.fn.node[60].inputs", "{57, 6, 44, }" },
    { "shipNet.fn.node[60].op", "ML_FOP_1x0_NEGATE" },
    { "shipNet.fn.node[60].params", "{954.130859, }" },
    { "shipNet.fn.node[61].inputs", "{37, 10, 18, 47, 40, 53, }" },
    { "shipNet.fn.node[61].op", "ML_FOP_2x0_POW" },
    { "shipNet.fn.node[61].params", "{2444.366943, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[62].inputs", "{45, 30, 9, 20, 24, 61, }" },
    { "shipNet.fn.node[62].op", "ML_FOP_NxN_ANCHORED_GEOMETRIC_MEAN" },
    { "shipNet.fn.node[62].params", "{0.000000, 1.561505, 2.724704, 0.731341, 1.000000, 0.000000, }" },
    { "shipNet.fn.node[63].inputs", "{11, }" },
    { "shipNet.fn.node[63].op", "ML_FOP_1x2_SEEDED_RANDOM" },
    { "shipNet.fn.node[63].params", "{2812.595215, 1262.952148, 0.486220, 732.485352, }" },
    { "shipNet.fn.node[64].inputs", "{58, 12, 47, 11, 19, 19, }" },
    { "shipNet.fn.node[64].op", "ML_FOP_NxN_SELECT_UNIT_INTERVAL_WEIGHTED_LERP" },
    { "shipNet.fn.node[64].params", "{0.117956, 1.000000, 144.099915, 5.269822, 294.487152, 5890.657227, 0.000000, }" },
    { "shipNet.fn.node[65].inputs", "{30, 33, 63, 63, 13, 28, 44, }" },
    { "shipNet.fn.node[65].op", "ML_FOP_1x0_SIN" },
    { "shipNet.fn.node[65].params", "{30.000000, }" },
    { "shipNet.fn.node[66].inputs", "{}" },
    { "shipNet.fn.node[66].op", "ML_FOP_1x1_GTE" },
    { "shipNet.fn.node[66].params", "{0.000000, 0.000000, 30.000000, }" },
    { "shipNet.fn.node[67].inputs", "{14, 44, 37, 36, 36, 44, 60, }" },
    { "shipNet.fn.node[67].op", "ML_FOP_1x1_LINEAR_COMBINATION" },
    { "shipNet.fn.node[67].params", "{0.000000, 1.900870, 0.000000, 1.000000, 1.000000, }" },
    { "shipNet.fn.node[68].inputs", "{3, 14, 60, 18, 41, 63, 6, }" },
    { "shipNet.fn.node[68].op", "ML_FOP_1x0_CEIL" },
    { "shipNet.fn.node[68].params", "{2960.583740, }" },
    { "shipNet.fn.node[69].inputs", "{}" },
    { "shipNet.fn.node[69].op", "ML_FOP_1x2_SINE" },
    { "shipNet.fn.node[69].params", "{918.871704, 1668.533569, 0.000000, 0.000000, 0.519156, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[70].inputs", "{}" },
    { "shipNet.fn.node[70].op", "ML_FOP_1x3_SQRT" },
    { "shipNet.fn.node[70].params", "{2878.717773, 0.000000, 1.000000, }" },
    { "shipNet.fn.node[71].inputs", "{}" },
    { "shipNet.fn.node[71].op", "ML_FOP_3x2_IF_INSIDE_RANGE_ELSE_CONST" },
    { "shipNet.fn.node[71].params", "{5.280350, 247.602066, 1.050000, 0.000000, 0.000000, 1.595623, }" },
    { "shipNet.fn.node[72].inputs", "{60, 44, 27, }" },
    { "shipNet.fn.node[72].op", "ML_FOP_1x0_INVERSE" },
    { "shipNet.fn.node[72].params", "{}" },
    { "shipNet.fn.node[73].inputs", "{6, 4, 13, 64, }" },
    { "shipNet.fn.node[73].op", "ML_FOP_Nx2_ACTIVATE_QUADRATIC_DOWN" },
    { "shipNet.fn.node[73].params", "{295.617401, 1025.903687, }" },
    { "shipNet.fn.node[74].inputs", "{}" },
    { "shipNet.fn.node[74].op", "ML_FOP_1x0_HYP_TANGENT" },
    { "shipNet.fn.node[74].params", "{}" },
    { "shipNet.fn.node[75].inputs", "{}" },
    { "shipNet.fn.node[75].op", "ML_FOP_Nx1_POW_SUM" },
    { "shipNet.fn.node[75].params", "{0.128921, 0.718586, 24.098963, 148.758789, 0.000000, 1904.422607, }" },
    { "shipNet.fn.node[76].inputs", "{13, 13, 18, 67, }" },
    { "shipNet.fn.node[76].op", "ML_FOP_NxN_LINEAR_COMBINATION" },
    { "shipNet.fn.node[76].params", "{396.382080, 0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[77].inputs", "{71, }" },
    { "shipNet.fn.node[77].op", "ML_FOP_1x0_HYP_SINE" },
    { "shipNet.fn.node[77].params", "{1.000000, 0.000000, 0.000000, 0.000000, 4949.790039, 154.067734, 0.508879, }" },
    { "shipNet.fn.node[78].inputs", "{}" },
    { "shipNet.fn.node[78].op", "ML_FOP_NxN_SELECT_LTE" },
    { "shipNet.fn.node[78].params", "{}" },
    { "shipNet.fn.node[79].inputs", "{54, 4, 23, 37, }" },
    { "shipNet.fn.node[79].op", "ML_FOP_1x2_SEEDED_RANDOM" },
    { "shipNet.fn.node[79].params", "{0.000000, 0.893583, 0.100938, 0.000000, 0.210219, 0.000000, }" },
    { "shipNet.fn.node[80].inputs", "{20, 72, 35, 40, 37, 64, 38, 1, }" },
    { "shipNet.fn.node[80].op", "ML_FOP_Nx0_ACTIVATE_GAUSSIAN_UP" },
    { "shipNet.fn.node[80].params", "{3.804961, 0.000000, 0.995469, 0.000000, 1.687327, }" },
    { "shipNet.fn.node[81].inputs", "{13, 65, 55, 49, }" },
    { "shipNet.fn.node[81].op", "ML_FOP_1x3_ARC_COSINE" },
    { "shipNet.fn.node[81].params", "{0.000000, }" },
    { "shipNet.fn.node[82].inputs", "{}" },
    { "shipNet.fn.node[82].op", "ML_FOP_Nx1_DIV_SUM" },
    { "shipNet.fn.node[82].params", "{0.214584, }" },
    { "shipNet.fn.node[83].inputs", "{18, 37, 58, 72, 59, 74, }" },
    { "shipNet.fn.node[83].op", "ML_FOP_1x1_FMOD" },
    { "shipNet.fn.node[83].params", "{0.483201, 0.000000, 8.884048, 0.000000, 1.000000, }" },
    { "shipNet.fn.node[84].inputs", "{66, 18, 44, 46, 46, 82, 56, }" },
    { "shipNet.fn.node[84].op", "ML_FOP_NxN_ACTIVATE_POLYNOMIAL" },
    { "shipNet.fn.node[84].params", "{0.000000, 0.950000, 0.183362, }" },
    { "shipNet.fn.node[85].inputs", "{}" },
    { "shipNet.fn.node[85].op", "ML_FOP_1x0_ARC_TANGENT" },
    { "shipNet.fn.node[85].params", "{0.000000, 0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[86].inputs", "{48, 24, 56, 57, }" },
    { "shipNet.fn.node[86].op", "ML_FOP_1x3_IF_LTE_ELSE" },
    { "shipNet.fn.node[86].params", "{0.000000, 26.161259, 0.000000, 0.000000, 1.620799, }" },
    { "shipNet.fn.node[87].inputs", "{10, 28, }" },
    { "shipNet.fn.node[87].op", "ML_FOP_1x0_FLOOR" },
    { "shipNet.fn.node[87].params", "{0.000000, }" },
    { "shipNet.fn.node[88].inputs", "{57, 56, 65, 52, 75, 30, }" },
    { "shipNet.fn.node[88].op", "ML_FOP_Nx0_SELECT_UNIT_INTERVAL_LERP" },
    { "shipNet.fn.node[88].params", "{12.581761, 2.224421, 7.529765, 0.044859, }" },
    { "shipNet.fn.node[89].inputs", "{80, 63, }" },
    { "shipNet.fn.node[89].op", "ML_FOP_1x2_CLAMPED_SCALE_TO_UNIT_BROKEN" },
    { "shipNet.fn.node[89].params", "{0.000000, }" },
    { "shipNet.fn.node[90].inputs", "{82, 78, 21, 13, 66, 53, }" },
    { "shipNet.fn.node[90].op", "ML_FOP_Nx2_ACTIVATE_QUADRATIC_DOWN" },
    { "shipNet.fn.node[90].params", "{}" },
    { "shipNet.fn.node[91].inputs", "{54, 64, 12, 69, 85, 79, 19, 90, }" },
    { "shipNet.fn.node[91].op", "ML_FOP_5x0_IF_OUTSIDE_RANGE_ELSE" },
    { "shipNet.fn.node[91].params", "{}" },
    { "shipNet.fn.node[92].inputs", "{}" },
    { "shipNet.fn.node[92].op", "ML_FOP_1x1_STRICT_OFF" },
    { "shipNet.fn.node[92].params", "{0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[93].inputs", "{80, 70, 34, 58, }" },
    { "shipNet.fn.node[93].op", "ML_FOP_Nx1_DIV_SUM" },
    { "shipNet.fn.node[93].params", "{0.791874, 9.510728, 1.000000, 0.000000, 0.796567, 0.900000, 0.000000, 1.000000, }" },
    { "shipNet.fn.node[94].inputs", "{40, 90, 77, }" },
    { "shipNet.fn.node[94].op", "ML_FOP_1x1_LINEAR_UP" },
    { "shipNet.fn.node[94].params", "{5.410668, 1.007700, }" },
    { "shipNet.fn.node[95].inputs", "{87, 94, 55, 22, 92, 21, }" },
    { "shipNet.fn.node[95].op", "ML_FOP_3x2_IF_OUTSIDE_RANGE_ELSE_CONST" },
    { "shipNet.fn.node[95].params", "{0.867916, 2.559796, 0.950000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[96].inputs", "{}" },
    { "shipNet.fn.node[96].op", "ML_FOP_1x1_CEIL_STEP" },
    { "shipNet.fn.node[96].params", "{2913.188721, 0.000000, 1.846820, 949.599121, }" },
    { "shipNet.fn.node[97].inputs", "{52, }" },
    { "shipNet.fn.node[97].op", "ML_FOP_1x1_FMOD" },
    { "shipNet.fn.node[97].params", "{1.484694, }" },
    { "shipNet.fn.node[98].inputs", "{86, 68, 25, 51, 75, 11, }" },
    { "shipNet.fn.node[98].op", "ML_FOP_Nx0_MAX" },
    { "shipNet.fn.node[98].params", "{0.000000, }" },
    { "shipNet.fn.node[99].inputs", "{82, 21, 5, 30, 97, 35, }" },
    { "shipNet.fn.node[99].op", "ML_FOP_1xN_POLYNOMIAL" },
    { "shipNet.fn.node[99].params", "{3208.736572, 0.858177, 0.000000, 0.000000, }" },
    { "shipNet.fn.numInputs", "25" },
    { "shipNet.fn.numNodes", "100" },
    { "shipNet.fn.numOutputs", "25" },
    { "gatherAbandonStale", "TRUE" },
    { "gatherRange", "25.235432" },
    { "guardRange", "87.259979" },
    { "shipNet.input[0].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[0].forceType", "NEURAL_FORCE_NEAREST_FRIEND_MISSILE" },
    { "shipNet.input[0].radius", "0.000000" },
    { "shipNet.input[0].useTangent", "FALSE" },
    { "shipNet.input[0].valueType", "NEURAL_VALUE_RANDOM_UNIT" },
    { "shipNet.input[10].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[10].forceType", "NEURAL_FORCE_ENEMY" },
    { "shipNet.input[10].radius", "157.201385" },
    { "shipNet.input[10].useTangent", "FALSE" },
    { "shipNet.input[10].valueType", "NEURAL_VALUE_RANDOM_UNIT" },
    { "shipNet.input[11].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[11].forceType", "NEURAL_FORCE_NEAREST_FRIEND" },
    { "shipNet.input[11].radius", "157.342880" },
    { "shipNet.input[11].useTangent", "FALSE" },
    { "shipNet.input[11].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[11].waveType", "NEURAL_WAVE_UNIT_SINE" },
    { "shipNet.input[12].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[12].forceType", "NEURAL_FORCE_NEAREST_FRIEND" },
    { "shipNet.input[12].frequency", "0.000000" },
    { "shipNet.input[12].radius", "0.000000" },
    { "shipNet.input[12].useTangent", "TRUE" },
    { "shipNet.input[12].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[12].waveType", "NEURAL_WAVE_SINE" },
    { "shipNet.input[13].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[13].forceType", "NEURAL_FORCE_ENEMY_COHERE" },
    { "shipNet.input[13].frequency", "0.000000" },
    { "shipNet.input[13].radius", "0.000000" },
    { "shipNet.input[13].useTangent", "TRUE" },
    { "shipNet.input[13].valueType", "NEURAL_VALUE_RANDOM_UNIT" },
    { "shipNet.input[13].waveType", "NEURAL_WAVE_SINE" },
    { "shipNet.input[14].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[14].forceType", "NEURAL_FORCE_SEPARATE" },
    { "shipNet.input[14].frequency", "0.000000" },
    { "shipNet.input[14].radius", "164.939926" },
    { "shipNet.input[14].useTangent", "FALSE" },
    { "shipNet.input[14].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[14].waveType", "NEURAL_WAVE_FMOD" },
    { "shipNet.input[15].crowdType", "NEURAL_CROWD_FRIEND_MISSILE" },
    { "shipNet.input[15].forceType", "NEURAL_FORCE_SEPARATE" },
    { "shipNet.input[15].radius", "156.087997" },
    { "shipNet.input[15].useTangent", "FALSE" },
    { "shipNet.input[15].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[16].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[16].forceType", "NEURAL_FORCE_ENEMY_COHERE" },
    { "shipNet.input[16].frequency", "0.000000" },
    { "shipNet.input[16].radius", "0.000000" },
    { "shipNet.input[16].useTangent", "TRUE" },
    { "shipNet.input[16].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[17].crowdType", "NEURAL_CROWD_ENEMY_MISSILE" },
    { "shipNet.input[17].forceType", "NEURAL_FORCE_CENTER" },
    { "shipNet.input[17].frequency", "4093.644043" },
    { "shipNet.input[17].radius", "0.000000" },
    { "shipNet.input[17].useTangent", "TRUE" },
    { "shipNet.input[17].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[17].waveType", "NEURAL_WAVE_FMOD" },
    { "shipNet.input[18].crowdType", "NEURAL_CROWD_ENEMY_MISSILE" },
    { "shipNet.input[18].forceType", "NEURAL_FORCE_NEAREST_FRIEND_MISSILE" },
    { "shipNet.input[18].frequency", "0.000000" },
    { "shipNet.input[18].radius", "147.504044" },
    { "shipNet.input[18].useTangent", "TRUE" },
    { "shipNet.input[18].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[18].waveType", "NEURAL_WAVE_FMOD" },
    { "shipNet.input[19].crowdType", "NEURAL_CROWD_FRIEND_MISSILE" },
    { "shipNet.input[19].forceType", "NEURAL_FORCE_ZERO" },
    { "shipNet.input[19].radius", "-1.000000" },
    { "shipNet.input[19].useTangent", "TRUE" },
    { "shipNet.input[19].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[1].crowdType", "NEURAL_CROWD_BASE_FRIEND_SHIP" },
    { "shipNet.input[1].forceType", "NEURAL_FORCE_ENEMY_BASE" },
    { "shipNet.input[1].radius", "301.750824" },
    { "shipNet.input[1].useTangent", "TRUE" },
    { "shipNet.input[1].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[20].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[20].forceType", "NEURAL_FORCE_NEAREST_FRIEND_MISSILE" },
    { "shipNet.input[20].radius", "0.000000" },
    { "shipNet.input[20].useTangent", "TRUE" },
    { "shipNet.input[20].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[20].waveType", "NEURAL_WAVE_FMOD" },
    { "shipNet.input[21].crowdType", "NEURAL_CROWD_FRIEND_MISSILE" },
    { "shipNet.input[21].forceType", "NEURAL_FORCE_BASE_DEFENSE" },
    { "shipNet.input[21].frequency", "0.000000" },
    { "shipNet.input[21].radius", "-1.000000" },
    { "shipNet.input[21].useTangent", "TRUE" },
    { "shipNet.input[21].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[22].crowdType", "NEURAL_CROWD_BASE_FRIEND_SHIP" },
    { "shipNet.input[22].forceType", "NEURAL_FORCE_ALIGN" },
    { "shipNet.input[22].radius", "6.802381" },
    { "shipNet.input[22].useTangent", "FALSE" },
    { "shipNet.input[22].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[22].waveType", "NEURAL_WAVE_NONE" },
    { "shipNet.input[23].crowdType", "NEURAL_CROWD_FRIEND_MISSILE" },
    { "shipNet.input[23].forceType", "NEURAL_FORCE_ENEMY" },
    { "shipNet.input[23].frequency", "0.000000" },
    { "shipNet.input[23].radius", "-1.000000" },
    { "shipNet.input[23].useTangent", "TRUE" },
    { "shipNet.input[23].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[23].waveType", "NEURAL_WAVE_NONE" },
    { "shipNet.input[24].crowdType", "NEURAL_CROWD_ENEMY_MISSILE" },
    { "shipNet.input[24].forceType", "NEURAL_FORCE_HEADING" },
    { "shipNet.input[24].frequency", "0.000000" },
    { "shipNet.input[24].radius", "1086.721436" },
    { "shipNet.input[24].useTangent", "FALSE" },
    { "shipNet.input[24].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[2].crowdType", "NEURAL_CROWD_BASE_FRIEND_SHIP" },
    { "shipNet.input[2].forceType", "NEURAL_FORCE_CENTER" },
    { "shipNet.input[2].radius", "148.709793" },
    { "shipNet.input[2].useTangent", "FALSE" },
    { "shipNet.input[2].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[3].crowdType", "NEURAL_CROWD_FRIEND_MISSILE" },
    { "shipNet.input[3].forceType", "NEURAL_FORCE_BASE_DEFENSE" },
    { "shipNet.input[3].radius", "-1.000000" },
    { "shipNet.input[3].useTangent", "TRUE" },
    { "shipNet.input[3].valueType", "NEURAL_VALUE_RANDOM_UNIT" },
    { "shipNet.input[4].crowdType", "NEURAL_CROWD_FRIEND_MISSILE" },
    { "shipNet.input[4].forceType", "NEURAL_FORCE_EDGES" },
    { "shipNet.input[4].frequency", "5622.903809" },
    { "shipNet.input[4].radius", "0.000000" },
    { "shipNet.input[4].useTangent", "TRUE" },
    { "shipNet.input[4].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[5].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[5].forceType", "NEURAL_FORCE_BASE" },
    { "shipNet.input[5].frequency", "0.000000" },
    { "shipNet.input[5].radius", "0.000000" },
    { "shipNet.input[5].useTangent", "FALSE" },
    { "shipNet.input[5].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[5].waveType", "NEURAL_WAVE_SINE" },
    { "shipNet.input[6].crowdType", "NEURAL_CROWD_BASE_ENEMY_SHIP" },
    { "shipNet.input[6].forceType", "NEURAL_FORCE_HEADING" },
    { "shipNet.input[6].frequency", "0.000000" },
    { "shipNet.input[6].radius", "-0.950000" },
    { "shipNet.input[6].useTangent", "FALSE" },
    { "shipNet.input[6].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[6].waveType", "NEURAL_WAVE_NONE" },
    { "shipNet.input[7].crowdType", "NEURAL_CROWD_FRIEND_MISSILE" },
    { "shipNet.input[7].forceType", "NEURAL_FORCE_BASE_DEFENSE" },
    { "shipNet.input[7].radius", "4.193549" },
    { "shipNet.input[7].useTangent", "TRUE" },
    { "shipNet.input[7].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[8].crowdType", "NEURAL_CROWD_BASE_ENEMY_SHIP" },
    { "shipNet.input[8].forceType", "NEURAL_FORCE_CORNERS" },
    { "shipNet.input[8].frequency", "0.000000" },
    { "shipNet.input[8].radius", "0.000000" },
    { "shipNet.input[8].useTangent", "FALSE" },
    { "shipNet.input[8].valueType", "NEURAL_VALUE_ZERO" },
    { "shipNet.input[8].waveType", "NEURAL_WAVE_ABS_SINE" },
    { "shipNet.input[9].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[9].forceType", "NEURAL_FORCE_CORNERS" },
    { "shipNet.input[9].radius", "154.979477" },
    { "shipNet.input[9].useTangent", "FALSE" },
    { "shipNet.input[9].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.output[0].forceType", "NEURAL_FORCE_ENEMY_BASE_GUESS" },
    { "shipNet.output[0].radius", "529.224609" },
    { "shipNet.output[0].useTangent", "FALSE" },
    { "shipNet.output[0].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[1].forceType", "NEURAL_FORCE_COHERE" },
    { "shipNet.output[1].radius", "1351.212036" },
    { "shipNet.output[1].useTangent", "FALSE" },
    { "shipNet.output[1].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[2].forceType", "NEURAL_FORCE_SEPARATE" },
    { "shipNet.output[2].radius", "167.162323" },
    { "shipNet.output[2].useTangent", "FALSE" },
    { "shipNet.output[2].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[3].forceType", "NEURAL_FORCE_HEADING" },
    { "shipNet.output[3].radius", "-1.000000" },
    { "shipNet.output[3].useTangent", "TRUE" },
    { "shipNet.output[3].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[4].forceType", "NEURAL_FORCE_COHERE" },
    { "shipNet.output[4].radius", "1729.684937" },
    { "shipNet.output[4].useTangent", "FALSE" },
    { "shipNet.output[4].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[5].forceType", "NEURAL_FORCE_ENEMY_BASE" },
    { "shipNet.output[5].radius", "278.047913" },
    { "shipNet.output[5].useTangent", "TRUE" },
    { "shipNet.output[5].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[6].forceType", "NEURAL_FORCE_EDGES" },
    { "shipNet.output[6].radius", "2541.187500" },
    { "shipNet.output[6].useTangent", "TRUE" },
    { "shipNet.output[6].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[7].forceType", "NEURAL_FORCE_SEPARATE" },
    { "shipNet.output[7].radius", "-1.000000" },
    { "shipNet.output[7].useTangent", "FALSE" },
    { "shipNet.output[7].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[8].forceType", "NEURAL_FORCE_EDGES" },
    { "shipNet.output[8].radius", "-1.000000" },
    { "shipNet.output[8].useTangent", "TRUE" },
    { "shipNet.output[8].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[9].forceType", "NEURAL_FORCE_EDGES" },
    { "shipNet.output[9].radius", "1411.446289" },
    { "shipNet.output[9].useTangent", "FALSE" },
    { "shipNet.output[9].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[10].forceType", "NEURAL_FORCE_ENEMY_COHERE" },
    { "shipNet.output[10].radius", "2727.242432" },
    { "shipNet.output[10].useTangent", "FALSE" },
    { "shipNet.output[10].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[11].forceType", "NEURAL_FORCE_NEAREST_FRIEND_MISSILE" },
    { "shipNet.output[11].radius", "-1.000000" },
    { "shipNet.output[11].useTangent", "TRUE" },
    { "shipNet.output[11].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[12].forceType", "NEURAL_FORCE_ENEMY_BASE" },
    { "shipNet.output[12].radius", "312.907501" },
    { "shipNet.output[12].useTangent", "FALSE" },
    { "shipNet.output[12].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[13].forceType", "NEURAL_FORCE_HEADING" },
    { "shipNet.output[13].radius", "-1.000000" },
    { "shipNet.output[13].useTangent", "TRUE" },
    { "shipNet.output[13].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[14].forceType", "NEURAL_FORCE_ENEMY_BASE_GUESS" },
    { "shipNet.output[14].radius", "322.285767" },
    { "shipNet.output[14].useTangent", "FALSE" },
    { "shipNet.output[14].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[15].forceType", "NEURAL_FORCE_ENEMY_BASE" },
    { "shipNet.output[15].radius", "-1.000000" },
    { "shipNet.output[15].useTangent", "TRUE" },
    { "shipNet.output[15].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[16].forceType", "NEURAL_FORCE_ENEMY_BASE_GUESS" },
    { "shipNet.output[16].radius", "0.000000" },
    { "shipNet.output[16].useTangent", "FALSE" },
    { "shipNet.output[16].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[17].forceType", "NEURAL_FORCE_CORES" },
    { "shipNet.output[17].radius", "850.924561" },
    { "shipNet.output[17].useTangent", "TRUE" },
    { "shipNet.output[17].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[18].forceType", "NEURAL_FORCE_NEAREST_FRIEND_MISSILE" },
    { "shipNet.output[18].radius", "298.878693" },
    { "shipNet.output[18].useTangent", "FALSE" },
    { "shipNet.output[18].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[19].forceType", "NEURAL_FORCE_EDGES" },
    { "shipNet.output[19].radius", "2850.000000" },
    { "shipNet.output[19].useTangent", "TRUE" },
    { "shipNet.output[19].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[20].forceType", "NEURAL_FORCE_ENEMY_BASE" },
    { "shipNet.output[20].radius", "2963.549072" },
    { "shipNet.output[20].useTangent", "TRUE" },
    { "shipNet.output[20].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[21].forceType", "NEURAL_FORCE_ENEMY" },
    { "shipNet.output[21].radius", "-1.000000" },
    { "shipNet.output[21].useTangent", "FALSE" },
    { "shipNet.output[21].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[22].forceType", "NEURAL_FORCE_SEPARATE" },
    { "shipNet.output[22].radius", "1693.586426" },
    { "shipNet.output[22].useTangent", "FALSE" },
    { "shipNet.output[22].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[23].forceType", "NEURAL_FORCE_HEADING" },
    { "shipNet.output[23].radius", "1030.571045" },
    { "shipNet.output[23].useTangent", "TRUE" },
    { "shipNet.output[23].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[24].forceType", "NEURAL_FORCE_BASE" },
    { "shipNet.output[24].radius", "-1.000000" },
    { "shipNet.output[24].useTangent", "FALSE" },
    { "shipNet.output[24].valueType", "NEURAL_VALUE_FORCE" },
    { "rotateStartingAngle", "FALSE" },
    { "sensorGrid.staleCoreTime", "0.000000" },
    { "sensorGrid.staleFighterTime", "0.000000" },
    { "startingMaxRadius", "1065.707031" },
    { "startingMinRadius", "495.132202" },
