    { "attackExtendedRange", "TRUE" },
    { "attackRange", "147.381485" },
    { "creditReserve", "0.000000" },
    { "evadeFighters", "FALSE" },
    { "evadeRange", "121.319000" },
    { "evadeStrictDistance", "149.183762" },
    { "evadeUseStrictDistance", "TRUE" },
    { "shipNet.fn.node[100].inputs", "{}" },
    { "shipNet.fn.node[100].op", "ML_FOP_0x0_ZERO" },
    { "shipNet.fn.node[100].params", "{2541.818359, 1.000000, 0.000000, 0.023998, }" },
    { "shipNet.fn.node[101].inputs", "{57, 0, 14, 0, }" },
    { "shipNet.fn.node[101].op", "ML_FOP_NxN_SCALED_MAX" },
    { "shipNet.fn.node[101].params", "{0.000000, 0.000000, }" },
    { "shipNet.fn.node[102].inputs", "{92, 94, 70, 0, }" },
    { "shipNet.fn.node[102].op", "ML_FOP_1x1_QUADRATIC_UP" },
    { "shipNet.fn.node[102].params", "{0.000000, 1.000000, 0.000000, }" },
    { "shipNet.fn.node[103].inputs", "{21, 86, 81, }" },
    { "shipNet.fn.node[103].op", "ML_FOP_0x0_ZERO" },
    { "shipNet.fn.node[103].params", "{1.050000, 0.486219, 0.855000, 1.482098, 0.000000, }" },
    { "shipNet.fn.node[104].inputs", "{0, 40, 93, }" },
    { "shipNet.fn.node[104].op", "ML_FOP_1x0_ARC_TANGENT" },
    { "shipNet.fn.node[104].params", "{0.000000, 0.000000, }" },
    { "shipNet.fn.node[105].inputs", "{}" },
    { "shipNet.fn.node[105].op", "ML_FOP_Nx0_MAX" },
    { "shipNet.fn.node[105].params", "{}" },
    { "shipNet.fn.node[106].inputs", "{69, 51, 21, 62, }" },
    { "shipNet.fn.node[106].op", "ML_FOP_NxN_SCALED_MIN" },
    { "shipNet.fn.node[106].params", "{0.217571, 0.199052, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[107].inputs", "{16, 12, 0, 0, }" },
    { "shipNet.fn.node[107].op", "ML_FOP_1x3_IF_LTE_ELSE" },
    { "shipNet.fn.node[107].params", "{}" },
    { "shipNet.fn.node[108].inputs", "{}" },
    { "shipNet.fn.node[108].op", "ML_FOP_1x0_ARC_TANGENT" },
    { "shipNet.fn.node[108].params", "{}" },
    { "shipNet.fn.node[109].inputs", "{20, 0, }" },
    { "shipNet.fn.node[109].op", "ML_FOP_0x0_ZERO" },
    { "shipNet.fn.node[109].params", "{0.000000, 0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[110].inputs", "{9, 24, }" },
    { "shipNet.fn.node[110].op", "ML_FOP_NxN_SCALED_MAX" },
    { "shipNet.fn.node[110].params", "{0.000000, }" },
    { "shipNet.fn.node[111].inputs", "{51, 77, 0, }" },
    { "shipNet.fn.node[111].op", "ML_FOP_NxN_SELECT_GTE" },
    { "shipNet.fn.node[111].params", "{}" },
    { "shipNet.fn.node[112].inputs", "{4, 45, 0, 0, }" },
    { "shipNet.fn.node[112].op", "ML_FOP_1x2_INSIDE_RANGE" },
    { "shipNet.fn.node[112].params", "{0.000000, }" },
    { "shipNet.fn.node[113].inputs", "{}" },
    { "shipNet.fn.node[113].op", "ML_FOP_1x1_LINEAR_DOWN" },
    { "shipNet.fn.node[113].params", "{0.206842, }" },
    { "shipNet.fn.node[114].inputs", "{66, 0, }" },
    { "shipNet.fn.node[114].op", "ML_FOP_Nx0_SUM" },
    { "shipNet.fn.node[114].params", "{0.000000, }" },
    { "shipNet.fn.node[115].inputs", "{28, 46, 25, 30, 21, 46, }" },
    { "shipNet.fn.node[115].op", "ML_FOP_0x1_CONSTANT" },
    { "shipNet.fn.node[115].params", "{0.997500, 0.855000, 0.158037, 868.201111, 0.000000, 0.475405, }" },
    { "shipNet.fn.node[116].inputs", "{30, 27, 44, 33, 94, 0, 0, }" },
    { "shipNet.fn.node[116].op", "ML_FOP_1x2_SINE" },
    { "shipNet.fn.node[116].params", "{}" },
    { "shipNet.fn.node[117].inputs", "{}" },
    { "shipNet.fn.node[117].op", "ML_FOP_1x1_QUADRATIC_DOWN" },
    { "shipNet.fn.node[117].params", "{0.213439, 249.438278, 1.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[118].inputs", "{}" },
    { "shipNet.fn.node[118].op", "ML_FOP_1x0_ARC_SINE" },
    { "shipNet.fn.node[118].params", "{}" },
    { "shipNet.fn.node[119].inputs", "{23, 59, 76, 11, }" },
    { "shipNet.fn.node[119].op", "ML_FOP_4x0_IF_LTE_ELSE" },
    { "shipNet.fn.node[119].params", "{1.000000, }" },
    { "shipNet.fn.node[120].inputs", "{0, }" },
    { "shipNet.fn.node[120].op", "ML_FOP_1x0_HYP_COSINE" },
    { "shipNet.fn.node[120].params", "{1.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[121].inputs", "{0, }" },
    { "shipNet.fn.node[121].op", "ML_FOP_Nx0_MAX" },
    { "shipNet.fn.node[121].params", "{10.000000, 989.854614, 10.000000, 0.000000, 1024.776733, 1.511374, 1.000000, 1.000000, }" },
    { "shipNet.fn.node[122].inputs", "{}" },
    { "shipNet.fn.node[122].op", "ML_FOP_0x0_ZERO" },
    { "shipNet.fn.node[122].params", "{}" },
    { "shipNet.fn.node[123].inputs", "{0, }" },
    { "shipNet.fn.node[123].op", "ML_FOP_4x0_IF_GTE_ELSE" },
    { "shipNet.fn.node[123].params", "{1.000000, }" },
    { "shipNet.fn.node[124].inputs", "{}" },
    { "shipNet.fn.node[124].op", "ML_FOP_1x0_IDENTITY" },
    { "shipNet.fn.node[124].params", "{1.000000, 1.000000, 1.000000, 0.900000, 30.000000, 0.000000, }" },
    { "shipNet.fn.node[25].inputs", "{0, 20, 19, 3, 0, }" },
    { "shipNet.fn.node[25].op", "ML_FOP_1x0_EXP" },
    { "shipNet.fn.node[25].params", "{}" },
    { "shipNet.fn.node[26].inputs", "{}" },
    { "shipNet.fn.node[26].op", "ML_FOP_1x0_IDENTITY" },
    { "shipNet.fn.node[26].params", "{9.500000, 1.000000, 0.809990, 1.000000, 239.752808, 2.557461, 0.000000, }" },
    { "shipNet.fn.node[27].inputs", "{15, 9, }" },
    { "shipNet.fn.node[27].op", "ML_FOP_4x0_IF_LTE_ELSE" },
    { "shipNet.fn.node[27].params", "{}" },
    { "shipNet.fn.node[28].inputs", "{0, 0, 4, 0, }" },
    { "shipNet.fn.node[28].op", "ML_FOP_1x2_SINE" },
    { "shipNet.fn.node[28].params", "{0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[29].inputs", "{}" },
    { "shipNet.fn.node[29].op", "ML_FOP_1x1_LTE" },
    { "shipNet.fn.node[29].params", "{1.000000, 0.493627, }" },
    { "shipNet.fn.node[30].inputs", "{12, 6, 1, 1, 0, }" },
    { "shipNet.fn.node[30].op", "ML_FOP_1x0_SQRT" },
    { "shipNet.fn.node[30].params", "{0.000000, }" },
    { "shipNet.fn.node[31].inputs", "{16, }" },
    { "shipNet.fn.node[31].op", "ML_FOP_1x0_INVERSE" },
    { "shipNet.fn.node[31].params", "{0.000000, }" },
    { "shipNet.fn.node[32].inputs", "{17, 23, }" },
    { "shipNet.fn.node[32].op", "ML_FOP_Nx0_GEOMETRIC_MEAN" },
    { "shipNet.fn.node[32].params", "{0.318496, 2.703238, }" },
    { "shipNet.fn.node[33].inputs", "{0, }" },
    { "shipNet.fn.node[33].op", "ML_FOP_1x1_POW" },
    { "shipNet.fn.node[33].params", "{}" },
    { "shipNet.fn.node[34].inputs", "{0, 5, }" },
    { "shipNet.fn.node[34].op", "ML_FOP_1x3_IF_LTE_ELSE" },
    { "shipNet.fn.node[34].params", "{9.675898, }" },
    { "shipNet.fn.node[35].inputs", "{27, 24, 10, 8, 3, }" },
    { "shipNet.fn.node[35].op", "ML_FOP_1x2_CLAMPED_SCALE_TO_UNIT_BROKEN" },
    { "shipNet.fn.node[35].params", "{0.946803, 0.834379, 0.000000, }" },
    { "shipNet.fn.node[36].inputs", "{17, 0, 23, 18, 0, 0, }" },
    { "shipNet.fn.node[36].op", "ML_FOP_1x1_GTE" },
    { "shipNet.fn.node[36].params", "{}" },
    { "shipNet.fn.node[37].inputs", "{25, 4, 0, 0, }" },
    { "shipNet.fn.node[37].op", "ML_FOP_1x1_QUADRATIC_DOWN" },
    { "shipNet.fn.node[37].params", "{1.889511, 0.297522, 0.542448, 0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[38].inputs", "{16, 25, 21, 8, }" },
    { "shipNet.fn.node[38].op", "ML_FOP_1x1_QUADRATIC_UP" },
    { "shipNet.fn.node[38].params", "{147.677063, 1.000000, -0.180388, }" },
    { "shipNet.fn.node[39].inputs", "{0, 16, }" },
    { "shipNet.fn.node[39].op", "ML_FOP_1x0_FLOOR" },
    { "shipNet.fn.node[39].params", "{1.000000, 0.000000, 0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[40].inputs", "{32, 33, 36, 37, 9, 0, }" },
    { "shipNet.fn.node[40].op", "ML_FOP_1x1_FMOD" },
    { "shipNet.fn.node[40].params", "{11.000000, 0.022183, 12.594612, 1.000000, 1.000000, 0.000000, 0.480767, }" },
    { "shipNet.fn.node[41].inputs", "{}" },
    { "shipNet.fn.node[41].op", "ML_FOP_1x1_LINEAR_UP" },
    { "shipNet.fn.node[41].params", "{1.000000, 0.000000, 1.726690, 0.212026, 969.475098, }" },
    { "shipNet.fn.node[42].inputs", "{4, 2, 30, 26, 1, 9, 3, 0, }" },
    { "shipNet.fn.node[42].op", "ML_FOP_Nx0_PRODUCT" },
    { "shipNet.fn.node[42].params", "{230.393173, 0.186008, 0.552235, 0.452753, 0.026679, 2.261700, 1.505523, 0.000000, }" },
    { "shipNet.fn.node[43].inputs", "{36, 0, }" },
    { "shipNet.fn.node[43].op", "ML_FOP_1x1_STRICT_ON" },
    { "shipNet.fn.node[43].params", "{0.218088, 0.192591, }" },
    { "shipNet.fn.node[44].inputs", "{}" },
    { "shipNet.fn.node[44].op", "ML_FOP_0x0_ZERO" },
    { "shipNet.fn.node[44].params", "{}" },
    { "shipNet.fn.node[45].inputs", "{9, 5, 35, }" },
    { "shipNet.fn.node[45].op", "ML_FOP_2x0_POW" },
    { "shipNet.fn.node[45].params", "{1.000000, 2915.194580, 247.507675, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[46].inputs", "{}" },
    { "shipNet.fn.node[46].op", "ML_FOP_0x0_ZERO" },
    { "shipNet.fn.node[46].params", "{0.994774, 0.000000, }" },
    { "shipNet.fn.node[47].inputs", "{0, }" },
    { "shipNet.fn.node[47].op", "ML_FOP_NxN_SELECT_GTE" },
    { "shipNet.fn.node[47].params", "{3.272798, 1.000000, 1.000000, 0.000000, }" },
    { "shipNet.fn.node[48].inputs", "{45, }" },
    { "shipNet.fn.node[48].op", "ML_FOP_Nx0_GEOMETRIC_MEAN" },
    { "shipNet.fn.node[48].params", "{2.569540, 0.982609, 0.208709, 0.000000, }" },
    { "shipNet.fn.node[49].inputs", "{14, 0, }" },
    { "shipNet.fn.node[49].op", "ML_FOP_1x2_COSINE" },
    { "shipNet.fn.node[49].params", "{}" },
    { "shipNet.fn.node[50].inputs", "{20, 15, 3, 17, 0, }" },
    { "shipNet.fn.node[50].op", "ML_FOP_1x0_FLOOR" },
    { "shipNet.fn.node[50].params", "{151.020752, 0.209279, }" },
    { "shipNet.fn.node[51].inputs", "{47, 0, }" },
    { "shipNet.fn.node[51].op", "ML_FOP_1x3_IF_GTE_ELSE" },
    { "shipNet.fn.node[51].params", "{0.000000, }" },
    { "shipNet.fn.node[52].inputs", "{}" },
    { "shipNet.fn.node[52].op", "ML_FOP_4x0_IF_GTE_ELSE" },
    { "shipNet.fn.node[52].params", "{0.950000, 0.000000, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[53].inputs", "{7, }" },
    { "shipNet.fn.node[53].op", "ML_FOP_NxN_LINEAR_COMBINATION" },
    { "shipNet.fn.node[53].params", "{0.000000, 0.000000, }" },
    { "shipNet.fn.node[54].inputs", "{30, 38, 0, }" },
    { "shipNet.fn.node[54].op", "ML_FOP_1x0_HYP_SINE" },
    { "shipNet.fn.node[54].params", "{0.000000, }" },
    { "shipNet.fn.node[55].inputs", "{26, 17, 26, 0, 0, }" },
    { "shipNet.fn.node[55].op", "ML_FOP_1x1_STRICT_OFF" },
    { "shipNet.fn.node[55].params", "{}" },
    { "shipNet.fn.node[56].inputs", "{0, }" },
    { "shipNet.fn.node[56].op", "ML_FOP_1x0_HYP_SINE" },
    { "shipNet.fn.node[56].params", "{0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[57].inputs", "{42, 46, }" },
    { "shipNet.fn.node[57].op", "ML_FOP_4x0_IF_LTE_ELSE" },
    { "shipNet.fn.node[57].params", "{1.000000, 1.050000, 0.000000, }" },
    { "shipNet.fn.node[58].inputs", "{}" },
    { "shipNet.fn.node[58].op", "ML_FOP_1x2_INSIDE_RANGE" },
    { "shipNet.fn.node[58].params", "{0.000000, }" },
    { "shipNet.fn.node[59].inputs", "{0, 18, }" },
    { "shipNet.fn.node[59].op", "ML_FOP_Nx0_MAX" },
    { "shipNet.fn.node[59].params", "{1.000000, 1.721286, 1.479195, 0.164023, 0.000000, 30.000000, 0.000000, }" },
    { "shipNet.fn.node[60].inputs", "{52, }" },
    { "shipNet.fn.node[60].op", "ML_FOP_1x2_COSINE" },
    { "shipNet.fn.node[60].params", "{0.881979, 1.000000, 0.000000, 1.007488, 1.723415, }" },
    { "shipNet.fn.node[61].inputs", "{33, }" },
    { "shipNet.fn.node[61].op", "ML_FOP_Nx0_MAX" },
    { "shipNet.fn.node[61].params", "{1.000000, 0.718616, 1.000000, 0.378065, 1.161303, 8.090465, 8.900914, 0.000000, }" },
    { "shipNet.fn.node[62].inputs", "{34, 10, 36, 46, 29, 0, }" },
    { "shipNet.fn.node[62].op", "ML_FOP_1x2_SINE" },
    { "shipNet.fn.node[62].params", "{0.214919, 1.000000, 0.816799, 1.604426, 0.803607, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[63].inputs", "{}" },
    { "shipNet.fn.node[63].op", "ML_FOP_1x0_HYP_COSINE" },
    { "shipNet.fn.node[63].params", "{1.629984, 0.947625, 1338.149170, 977.586731, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[64].inputs", "{}" },
    { "shipNet.fn.node[64].op", "ML_FOP_1x2_CLAMPED_SCALE_FROM_UNIT_BROKEN" },
    { "shipNet.fn.node[64].params", "{1.000000, 2922.915283, 1.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[65].inputs", "{60, 0, }" },
    { "shipNet.fn.node[65].op", "ML_FOP_1x1_FMOD" },
    { "shipNet.fn.node[65].params", "{}" },
    { "shipNet.fn.node[66].inputs", "{2, 0, }" },
    { "shipNet.fn.node[66].op", "ML_FOP_1x2_CLAMP_BROKEN" },
    { "shipNet.fn.node[66].params", "{}" },
    { "shipNet.fn.node[67].inputs", "{}" },
    { "shipNet.fn.node[67].op", "ML_FOP_Nx0_MAX" },
    { "shipNet.fn.node[67].params", "{10.000000, 0.180421, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[68].inputs", "{50, 47, 23, 0, }" },
    { "shipNet.fn.node[68].op", "ML_FOP_1x0_EXP" },
    { "shipNet.fn.node[68].params", "{1.000000, 1.476961, 1.542832, 0.000000, }" },
    { "shipNet.fn.node[69].inputs", "{42, 0, }" },
    { "shipNet.fn.node[69].op", "ML_FOP_1x0_ABS" },
    { "shipNet.fn.node[69].params", "{1.000000, 0.651541, 1.000000, 1.050000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[70].inputs", "{5, }" },
    { "shipNet.fn.node[70].op", "ML_FOP_Nx0_MIN" },
    { "shipNet.fn.node[70].params", "{}" },
    { "shipNet.fn.node[71].inputs", "{0, }" },
    { "shipNet.fn.node[71].op", "ML_FOP_1x3_IF_LTE_ELSE" },
    { "shipNet.fn.node[71].params", "{0.000000, 0.000000, }" },
    { "shipNet.fn.node[72].inputs", "{34, }" },
    { "shipNet.fn.node[72].op", "ML_FOP_0x0_ZERO" },
    { "shipNet.fn.node[72].params", "{1.000000, 0.000000, 8821.981445, 0.000000, }" },
    { "shipNet.fn.node[73].inputs", "{}" },
    { "shipNet.fn.node[73].op", "ML_FOP_1x1_POW" },
    { "shipNet.fn.node[73].params", "{0.783255, 9241.718750, 323.068756, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[74].inputs", "{}" },
    { "shipNet.fn.node[74].op", "ML_FOP_1x0_EXP" },
    { "shipNet.fn.node[74].params", "{0.202690, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[75].inputs", "{5, 4, 0, 0, }" },
    { "shipNet.fn.node[75].op", "ML_FOP_1x1_GTE" },
    { "shipNet.fn.node[75].params", "{5000.000000, 0.118993, 0.000000, 6057.990723, 0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[76].inputs", "{62, 0, }" },
    { "shipNet.fn.node[76].op", "ML_FOP_1x2_COSINE" },
    { "shipNet.fn.node[76].params", "{0.000000, }" },
    { "shipNet.fn.node[77].inputs", "{73, 0, 73, }" },
    { "shipNet.fn.node[77].op", "ML_FOP_NxN_SELECT_LTE" },
    { "shipNet.fn.node[77].params", "{0.000000, 1.000000, }" },
    { "shipNet.fn.node[78].inputs", "{}" },
    { "shipNet.fn.node[78].op", "ML_FOP_4x0_IF_LTE_ELSE" },
    { "shipNet.fn.node[78].params", "{}" },
    { "shipNet.fn.node[79].inputs", "{17, }" },
    { "shipNet.fn.node[79].op", "ML_FOP_1x0_ARC_COSINE" },
    { "shipNet.fn.node[79].params", "{1.000000, 0.000000, 1.000000, 2.540294, }" },
    { "shipNet.fn.node[80].inputs", "{14, 72, 12, 32, }" },
    { "shipNet.fn.node[80].op", "ML_FOP_1x2_INSIDE_RANGE" },
    { "shipNet.fn.node[80].params", "{0.000000, 0.205995, 0.208297, 10.000000, 0.410165, 0.000000, }" },
    { "shipNet.fn.node[81].inputs", "{0, }" },
    { "shipNet.fn.node[81].op", "ML_FOP_1x2_COSINE" },
    { "shipNet.fn.node[81].params", "{1.000000, 0.000000, }" },
    { "shipNet.fn.node[82].inputs", "{0, }" },
    { "shipNet.fn.node[82].op", "ML_FOP_1x0_SQRT" },
    { "shipNet.fn.node[82].params", "{255.564316, }" },
    { "shipNet.fn.node[83].inputs", "{0, }" },
    { "shipNet.fn.node[83].op", "ML_FOP_1x2_COSINE" },
    { "shipNet.fn.node[83].params", "{996.419739, }" },
    { "shipNet.fn.node[84].inputs", "{0, }" },
    { "shipNet.fn.node[84].op", "ML_FOP_0x0_ONE" },
    { "shipNet.fn.node[84].params", "{0.780481, 1.000000, 1671.849487, 0.000000, }" },
    { "shipNet.fn.node[85].inputs", "{0, 82, }" },
    { "shipNet.fn.node[85].op", "ML_FOP_Nx0_MIN" },
    { "shipNet.fn.node[85].params", "{1.741242, }" },
    { "shipNet.fn.node[86].inputs", "{40, 7, 0, }" },
    { "shipNet.fn.node[86].op", "ML_FOP_1x1_STRICT_OFF" },
    { "shipNet.fn.node[86].params", "{0.000000, 0.520110, 0.205290, 0.000000, }" },
    { "shipNet.fn.node[87].inputs", "{57, 0, }" },
    { "shipNet.fn.node[87].op", "ML_FOP_Nx0_GEOMETRIC_MEAN" },
    { "shipNet.fn.node[87].params", "{2.539918, 0.212144, 990.963989, 0.181965, 0.000000, -0.213307, }" },
    { "shipNet.fn.node[88].inputs", "{79, 0, }" },
    { "shipNet.fn.node[88].op", "ML_FOP_1x1_LINEAR_DOWN" },
    { "shipNet.fn.node[88].params", "{}" },
    { "shipNet.fn.node[89].inputs", "{49, }" },
    { "shipNet.fn.node[89].op", "ML_FOP_1x1_QUADRATIC_UP" },
    { "shipNet.fn.node[89].params", "{1.000000, 0.000000, }" },
    { "shipNet.fn.node[90].inputs", "{0, }" },
    { "shipNet.fn.node[90].op", "ML_FOP_Nx0_GEOMETRIC_MEAN" },
    { "shipNet.fn.node[90].params", "{}" },
    { "shipNet.fn.node[91].inputs", "{76, 53, 0, 0, }" },
    { "shipNet.fn.node[91].op", "ML_FOP_1x1_QUADRATIC_DOWN" },
    { "shipNet.fn.node[91].params", "{}" },
    { "shipNet.fn.node[92].inputs", "{}" },
    { "shipNet.fn.node[92].op", "ML_FOP_0x0_ZERO" },
    { "shipNet.fn.node[92].params", "{}" },
    { "shipNet.fn.node[93].inputs", "{0, }" },
    { "shipNet.fn.node[93].op", "ML_FOP_1x0_HYP_TANGENT" },
    { "shipNet.fn.node[93].params", "{1.000000, }" },
    { "shipNet.fn.node[94].inputs", "{}" },
    { "shipNet.fn.node[94].op", "ML_FOP_NxN_SELECT_LTE" },
    { "shipNet.fn.node[94].params", "{}" },
    { "shipNet.fn.node[95].inputs", "{90, 86, 19, 0, }" },
    { "shipNet.fn.node[95].op", "ML_FOP_NxN_SELECT_LTE" },
    { "shipNet.fn.node[95].params", "{0.198811, }" },
    { "shipNet.fn.node[96].inputs", "{61, }" },
    { "shipNet.fn.node[96].op", "ML_FOP_1x3_IF_LTE_ELSE" },
    { "shipNet.fn.node[96].params", "{}" },
    { "shipNet.fn.node[97].inputs", "{}" },
    { "shipNet.fn.node[97].op", "ML_FOP_1x1_LTE" },
    { "shipNet.fn.node[97].params", "{0.000000, 0.000000, 0.000000, }" },
    { "shipNet.fn.node[98].inputs", "{40, 58, 12, 0, 0, }" },
    { "shipNet.fn.node[98].op", "ML_FOP_1x0_IDENTITY" },
    { "shipNet.fn.node[98].params", "{0.220758, 0.950000, 0.526828, 0.000000, 0.187072, 978.703247, }" },
    { "shipNet.fn.node[99].inputs", "{70, 29, }" },
    { "shipNet.fn.node[99].op", "ML_FOP_1x2_CLAMP_BROKEN" },
    { "shipNet.fn.node[99].params", "{}" },
    { "shipNet.fn.numInputs", "25" },
    { "shipNet.fn.numNodes", "100" },
    { "shipNet.fn.numOutputs", "25" },
    { "gatherAbandonStale", "TRUE" },
    { "gatherRange", "47.517754" },
    { "guardRange", "85.632729" },
    { "shipNet.input[0].crowdType", "NEURAL_CROWD_CORES" },
    { "shipNet.input[0].radius", "0.000000" },
    { "shipNet.input[0].useTangent", "TRUE" },
    { "shipNet.input[0].valueType", "NEURAL_VALUE_MOBID" },
    { "shipNet.input[10].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[10].forceType", "NEURAL_FORCE_CORNERS" },
    { "shipNet.input[10].radius", "0.000000" },
    { "shipNet.input[10].useTangent", "TRUE" },
    { "shipNet.input[10].valueType", "NEURAL_VALUE_RANDOM_UNIT" },
    { "shipNet.input[11].crowdType", "NEURAL_CROWD_ENEMY_MISSILE" },
    { "shipNet.input[11].forceType", "NEURAL_FORCE_ZERO" },
    { "shipNet.input[11].radius", "0.000000" },
    { "shipNet.input[11].useTangent", "TRUE" },
    { "shipNet.input[11].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[12].forceType", "NEURAL_FORCE_BASE" },
    { "shipNet.input[12].radius", "0.000000" },
    { "shipNet.input[12].useTangent", "TRUE" },
    { "shipNet.input[12].valueType", "NEURAL_VALUE_RANDOM_UNIT" },
    { "shipNet.input[13].crowdType", "NEURAL_CROWD_CORES" },
    { "shipNet.input[13].forceType", "NEURAL_FORCE_ENEMY" },
    { "shipNet.input[13].radius", "0.000000" },
    { "shipNet.input[13].valueType", "NEURAL_VALUE_TICK" },
    { "shipNet.input[14].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[14].forceType", "NEURAL_FORCE_ZERO" },
    { "shipNet.input[14].radius", "0.000000" },
    { "shipNet.input[14].useTangent", "FALSE" },
    { "shipNet.input[14].valueType", "NEURAL_VALUE_RANDOM_UNIT" },
    { "shipNet.input[15].crowdType", "NEURAL_CROWD_CORES" },
    { "shipNet.input[15].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.input[15].radius", "0.000000" },
    { "shipNet.input[15].useTangent", "TRUE" },
    { "shipNet.input[15].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[16].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[16].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.input[16].radius", "0.000000" },
    { "shipNet.input[16].useTangent", "FALSE" },
    { "shipNet.input[16].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[17].crowdType", "NEURAL_CROWD_ENEMY_MISSILE" },
    { "shipNet.input[17].forceType", "NEURAL_FORCE_ENEMY_BASE_GUESS" },
    { "shipNet.input[17].radius", "0.000000" },
    { "shipNet.input[17].useTangent", "TRUE" },
    { "shipNet.input[17].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[18].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[18].forceType", "NEURAL_FORCE_ALIGN" },
    { "shipNet.input[18].radius", "0.000000" },
    { "shipNet.input[18].useTangent", "FALSE" },
    { "shipNet.input[18].valueType", "NEURAL_VALUE_CREDITS" },
    { "shipNet.input[19].crowdType", "NEURAL_CROWD_CORES" },
    { "shipNet.input[19].radius", "0.000000" },
    { "shipNet.input[19].valueType", "NEURAL_VALUE_MOBID" },
    { "shipNet.input[1].crowdType", "NEURAL_CROWD_FRIEND_MISSILE" },
    { "shipNet.input[1].forceType", "NEURAL_FORCE_ALIGN" },
    { "shipNet.input[1].radius", "0.000000" },
    { "shipNet.input[1].useTangent", "TRUE" },
    { "shipNet.input[1].valueType", "NEURAL_VALUE_CREDITS" },
    { "shipNet.input[20].crowdType", "NEURAL_CROWD_FRIEND_MISSILE" },
    { "shipNet.input[20].radius", "0.000000" },
    { "shipNet.input[20].useTangent", "TRUE" },
    { "shipNet.input[20].valueType", "NEURAL_VALUE_TICK" },
    { "shipNet.input[21].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[21].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.input[21].radius", "0.000000" },
    { "shipNet.input[21].useTangent", "TRUE" },
    { "shipNet.input[21].valueType", "NEURAL_VALUE_CREDITS" },
    { "shipNet.input[22].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[22].forceType", "NEURAL_FORCE_COHERE" },
    { "shipNet.input[22].radius", "-1.000000" },
    { "shipNet.input[22].useTangent", "TRUE" },
    { "shipNet.input[22].valueType", "NEURAL_VALUE_MOBID" },
    { "shipNet.input[23].crowdType", "NEURAL_CROWD_FRIEND_MISSILE" },
    { "shipNet.input[23].forceType", "NEURAL_FORCE_CENTER" },
    { "shipNet.input[23].radius", "0.000000" },
    { "shipNet.input[23].useTangent", "FALSE" },
    { "shipNet.input[23].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[24].crowdType", "NEURAL_CROWD_CORES" },
    { "shipNet.input[24].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.input[24].radius", "1876.846924" },
    { "shipNet.input[24].useTangent", "FALSE" },
    { "shipNet.input[24].valueType", "NEURAL_VALUE_CREDITS" },
    { "shipNet.input[2].crowdType", "NEURAL_CROWD_FRIEND_MISSILE" },
    { "shipNet.input[2].forceType", "NEURAL_FORCE_CORES" },
    { "shipNet.input[2].radius", "142.804443" },
    { "shipNet.input[2].useTangent", "FALSE" },
    { "shipNet.input[2].valueType", "NEURAL_VALUE_TICK" },
    { "shipNet.input[3].crowdType", "NEURAL_CROWD_CORES" },
    { "shipNet.input[3].forceType", "NEURAL_FORCE_CENTER" },
    { "shipNet.input[3].radius", "0.000000" },
    { "shipNet.input[3].useTangent", "FALSE" },
    { "shipNet.input[3].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[4].crowdType", "NEURAL_CROWD_CORES" },
    { "shipNet.input[4].forceType", "NEURAL_FORCE_COHERE" },
    { "shipNet.input[4].radius", "0.000000" },
    { "shipNet.input[4].useTangent", "FALSE" },
    { "shipNet.input[4].valueType", "NEURAL_VALUE_CREDITS" },
    { "shipNet.input[5].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[5].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.input[5].radius", "0.000000" },
    { "shipNet.input[5].useTangent", "FALSE" },
    { "shipNet.input[5].valueType", "NEURAL_VALUE_CROWD" },
    { "shipNet.input[6].crowdType", "NEURAL_CROWD_FRIEND_FIGHTER" },
    { "shipNet.input[6].forceType", "NEURAL_FORCE_EDGES" },
    { "shipNet.input[6].radius", "0.000000" },
    { "shipNet.input[6].useTangent", "TRUE" },
    { "shipNet.input[6].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[7].crowdType", "NEURAL_CROWD_ENEMY_MISSILE" },
    { "shipNet.input[7].forceType", "NEURAL_FORCE_BASE" },
    { "shipNet.input[7].radius", "0.000000" },
    { "shipNet.input[7].useTangent", "TRUE" },
    { "shipNet.input[7].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.input[8].crowdType", "NEURAL_CROWD_ENEMY_SHIP" },
    { "shipNet.input[8].forceType", "NEURAL_FORCE_HEADING" },
    { "shipNet.input[8].radius", "0.000000" },
    { "shipNet.input[8].useTangent", "TRUE" },
    { "shipNet.input[8].valueType", "NEURAL_VALUE_CREDITS" },
    { "shipNet.input[9].forceType", "NEURAL_FORCE_NEAREST_FRIEND" },
    { "shipNet.input[9].radius", "0.000000" },
    { "shipNet.input[9].useTangent", "FALSE" },
    { "shipNet.input[9].valueType", "NEURAL_VALUE_MOBID" },
    { "shipNet.output[0].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.output[0].radius", "-1.000000" },
    { "shipNet.output[0].useTangent", "FALSE" },
    { "shipNet.output[0].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[1].forceType", "NEURAL_FORCE_ENEMY_BASE" },
    { "shipNet.output[1].radius", "0.000000" },
    { "shipNet.output[1].useTangent", "TRUE" },
    { "shipNet.output[1].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[2].forceType", "NEURAL_FORCE_HEADING" },
    { "shipNet.output[2].radius", "0.000000" },
    { "shipNet.output[2].useTangent", "FALSE" },
    { "shipNet.output[2].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[3].forceType", "NEURAL_FORCE_CORES" },
    { "shipNet.output[3].radius", "-1.000000" },
    { "shipNet.output[3].useTangent", "FALSE" },
    { "shipNet.output[3].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[4].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.output[4].radius", "1716.954956" },
    { "shipNet.output[4].useTangent", "TRUE" },
    { "shipNet.output[4].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[5].forceType", "NEURAL_FORCE_ZERO" },
    { "shipNet.output[5].radius", "0.000000" },
    { "shipNet.output[5].useTangent", "FALSE" },
    { "shipNet.output[5].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[6].forceType", "NEURAL_FORCE_ALIGN" },
    { "shipNet.output[6].radius", "-0.857375" },
    { "shipNet.output[6].useTangent", "TRUE" },
    { "shipNet.output[6].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[7].forceType", "NEURAL_FORCE_BASE_DEFENSE" },
    { "shipNet.output[7].radius", "0.000000" },
    { "shipNet.output[7].useTangent", "TRUE" },
    { "shipNet.output[7].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[8].forceType", "NEURAL_FORCE_ENEMY_BASE_GUESS" },
    { "shipNet.output[8].radius", "0.000000" },
    { "shipNet.output[8].useTangent", "TRUE" },
    { "shipNet.output[8].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[9].forceType", "NEURAL_FORCE_BASE" },
    { "shipNet.output[9].radius", "426.598633" },
    { "shipNet.output[9].useTangent", "TRUE" },
    { "shipNet.output[9].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[10].forceType", "NEURAL_FORCE_BASE_DEFENSE" },
    { "shipNet.output[10].radius", "0.000000" },
    { "shipNet.output[10].useTangent", "TRUE" },
    { "shipNet.output[10].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[11].forceType", "NEURAL_FORCE_BASE_DEFENSE" },
    { "shipNet.output[11].radius", "0.000000" },
    { "shipNet.output[11].useTangent", "TRUE" },
    { "shipNet.output[11].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[12].forceType", "NEURAL_FORCE_CORNERS" },
    { "shipNet.output[12].radius", "0.000000" },
    { "shipNet.output[12].useTangent", "TRUE" },
    { "shipNet.output[12].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[13].forceType", "NEURAL_FORCE_NEAREST_FRIEND_MISSILE" },
    { "shipNet.output[13].radius", "0.000000" },
    { "shipNet.output[13].useTangent", "FALSE" },
    { "shipNet.output[13].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[14].forceType", "NEURAL_FORCE_CORES" },
    { "shipNet.output[14].radius", "0.000000" },
    { "shipNet.output[14].useTangent", "TRUE" },
    { "shipNet.output[14].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[15].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.output[15].radius", "0.000000" },
    { "shipNet.output[15].useTangent", "FALSE" },
    { "shipNet.output[15].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[16].forceType", "NEURAL_FORCE_ENEMY_MISSILE" },
    { "shipNet.output[16].radius", "0.000000" },
    { "shipNet.output[16].useTangent", "FALSE" },
    { "shipNet.output[16].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[17].forceType", "NEURAL_FORCE_ZERO" },
    { "shipNet.output[17].radius", "-1.000000" },
    { "shipNet.output[17].useTangent", "TRUE" },
    { "shipNet.output[17].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[18].forceType", "NEURAL_FORCE_NEAREST_FRIEND_MISSILE" },
    { "shipNet.output[18].radius", "0.000000" },
    { "shipNet.output[18].useTangent", "FALSE" },
    { "shipNet.output[18].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[19].forceType", "NEURAL_FORCE_NEAREST_FRIEND_MISSILE" },
    { "shipNet.output[19].radius", "0.000000" },
    { "shipNet.output[19].useTangent", "FALSE" },
    { "shipNet.output[19].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[20].forceType", "NEURAL_FORCE_NEAREST_FRIEND_MISSILE" },
    { "shipNet.output[20].radius", "0.000000" },
    { "shipNet.output[20].useTangent", "FALSE" },
    { "shipNet.output[20].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[21].forceType", "NEURAL_FORCE_EDGES" },
    { "shipNet.output[21].radius", "-1.000000" },
    { "shipNet.output[21].useTangent", "TRUE" },
    { "shipNet.output[21].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[22].forceType", "NEURAL_FORCE_COHERE" },
    { "shipNet.output[22].radius", "0.000000" },
    { "shipNet.output[22].useTangent", "FALSE" },
    { "shipNet.output[22].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[23].forceType", "NEURAL_FORCE_BASE_DEFENSE" },
    { "shipNet.output[23].radius", "0.000000" },
    { "shipNet.output[23].useTangent", "FALSE" },
    { "shipNet.output[23].valueType", "NEURAL_VALUE_FORCE" },
    { "shipNet.output[24].forceType", "NEURAL_FORCE_CORNERS" },
    { "shipNet.output[24].radius", "0.000000" },
    { "shipNet.output[24].useTangent", "FALSE" },
    { "shipNet.output[24].valueType", "NEURAL_VALUE_FORCE" },
    { "rotateStartingAngle", "TRUE" },
    { "sensorGrid.staleCoreTime", "0.000000" },
    { "sensorGrid.staleFighterTime", "0.000000" },
    { "startingMaxRadius", "1650.026733" },
    { "startingMinRadius", "395.996002" },
